<div class="content-card">
  <mat-toolbar class="transparent">
    Fecha de Inicio del cobro de expensas
    <span class="spacer-row"></span>
    <button mat-icon-button matTooltip="Configurar" (click)="create()" *ngIf="!dateIni">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-list>
    <ng-container>
      <mat-list-item *ngIf="dateIni">
        <span mat-line>{{dateIni.dateIniFirst}}</span>
        <button matTooltip="Actualizar" matTooltipPosition="above" mat-icon-button (click)="create()">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </ng-container>
    <ng-container *ngIf="!dateIni">
      <mat-list-item>No Configurado</mat-list-item>
    </ng-container>
  </mat-list>
</div>
