mat-form-field {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  /*border: solid 1px #c9c9c9;*/
  padding: 2px 5px;
}

td {
  height: min-content;
}

td.input {
  padding: 0 !important;
}

td._number {
  text-align: right !important;
}

.input-content {
  position: relative;
  top: 0;
  height: 30px;
}

.input-content input {
  border: solid 1px #b1b1b1;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 6px);
  text-align: right;
  padding: 0px 8px;
  border-radius: 2px;
  background-color: #f0f5fe;
  margin: 0px;
}

.input-content input[disabled] {
  background-color: transparent !important;
}
