<h1 mat-dialog-title>Modificaci&oacute;n Adicional</h1>
<form [formGroup]="formModification" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Adicionar A</mat-label>
      <mat-select formControlName="idItemIncome" required>
        <mat-option disabled>Ninguno</mat-option>
        <mat-optgroup *ngFor="let item of items" [label]="item.nameItem">
          <mat-option *ngFor="let typeIncome of item.typesIncomes" [value]="typeIncome.id">
            {{typeIncome.nameIncome}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input formControlName="amount" type="number" name="typeAccount" required matInput placeholder="Ejemplo: 999">
    </mat-form-field>
    <!--    <p></p>-->
    <mat-form-field appearance="outline">
      <mat-label>Destinado A:</mat-label>
      <mat-select #destine formControlName="itemExpenseDestine" required multiple (closed)="changedSelect()">
        <mat-option disabled>Ninguno</mat-option>
        <mat-optgroup *ngFor="let item of itemsE" [label]="item.nameItem">
          <mat-option *ngFor="let typeExpense of item.typesExpenses" [value]="typeExpense">
            {{typeExpense.nameExpense}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    Detalle
    <br>
    <table *ngIf="itemsExpense.length > 0">
      <tr *ngFor="let expense of itemsExpense; let i = index">
        <td>{{i + 1}}</td>
        <td>{{expense.nameExpense}}</td>
        <td class="input">
          <div class="input-content">
            <input type="number" [(ngModel)]="expense.amount" [name]="i + expense.id"
                   [ngModelOptions]="{standalone: true}">
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">Total</td>
        <td>{{getTotal()|dataMoney}}</td>
      </tr>
    </table>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
