<h1 mat-dialog-title>Incrementar</h1>
<div mat-dialog-content>
  <table *ngIf="items && items.length > 0">
    <thead>
    <tr>
      <th>#</th>
      <th></th>
      <th></th>
      <th>Monto</th>
      <th>es %</th>
    </tr>
    </thead>
    <ng-container *ngFor="let item of items">
      <tr>
        <td colspan="100%"><b>{{item.nameItem}}</b></td>
      </tr>
      <ng-container *ngFor="let income of item.typesIncomes; let i = index">
        <tr>
          <td>
            <mat-checkbox [(ngModel)]="income.increment" color="primary"></mat-checkbox>
          </td>
          <td>{{income.code}}</td>
          <td>{{income.nameIncome}}</td>
          <td class="input">
            <div class="input-content">
              <input type="number" [disabled]="income.increment != true" #s (click)="s.select()"
                     [(ngModel)]="income.amount">
            </div>
          </td>
          <td>
            <div class="input-content">
              <!--              <input type="checkbox" [(ngModel)]="income.increment">-->
              <mat-checkbox [(ngModel)]="income.isPercent" color="primary"></mat-checkbox>
            </div>
          </td>
        </tr>
      </ng-container>

    </ng-container>
  </table>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Cancelar</button>
  <button mat-button color="primary" (click)="accept()">Aceptar</button>
</div>
