mat-card {
  width: 350px;
  margin: 0 calc(50% - (382px / 2));
  position: absolute;
  top: calc(50% - (489.02px / 2));
  /*box-shadow: none;*/
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
}

.content-link {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
}

.content-link a {
  width: 120px;
  background: #fbe89d;
  margin: 29px 6px;
}

/*.mat-card-image{*/
/*  margin: auto;*/
/*  width: 130px;*/
/*  height: 130px;*/
/*  padding: 30px;*/
/*  margin-top: 30px;*/
/*  border-radius: 50%;*/
/*  box-shadow: 0 0 0 1px #dedede;*/
/*  margin-bottom: 30px;*/
/*}*/
/*form{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: white;*/
/*}*/

.mat-card-image{
  text-align: center;
}
.mat-card-image img {
  width: 200px;
  margin: 15px auto;
}
