<form [formGroup]="user" (ngSubmit)="send()">
  <mat-card class="mat-elevation-z3">
    <mat-card-title>Iniciar Sesi&oacute;n</mat-card-title>
    <div mat-card-image>
      <img  src="/assets/LOGO_cube.svg" alt="abin logo">
    </div>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input formControlName="email" matInput name="email" required placeholder="Correo">
        <mat-error
          *ngIf="(user.get('email').hasError('required'))">
          requerido
        </mat-error>
        <mat-error
          *ngIf="(user.get('email').hasError('email'))">
          correo invalido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contrase&ntilde;a</mat-label>
        <input formControlName="password" matInput required placeholder="Contraseña"
               [type]="hide ? 'password' : 'text'">
        <button tabindex="-1" type="button" mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="(user.get('password').hasError('required'))">
          requerido
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer-row"></span>
      <button (click)="register()" type="button" mat-button color="accent">Olvide mi contrase&ntilde;a</button>
      <button type="submit" mat-button color="primary">Iniciar Sesion</button>
    </mat-card-actions>

  </mat-card>
</form>

<!--<div class="content-link">-->
<!--  <a mat-button href="http://cont-abin.abinsrl.com" target="_blank">Abin-->
<!--    <mat-icon>link</mat-icon>-->
<!--  </a>-->
<!--  <a mat-button href="http://cont-abin1.abinsrl.com" target="_blank">Abin 1-->
<!--    <mat-icon>link</mat-icon>-->
<!--  </a>-->
<!--  <a mat-button href="http://cont-abinsrl.abinsrl.com" target="_blank">Abin SRL-->
<!--    <mat-icon>link</mat-icon>-->
<!--  </a>-->
<!--  <a mat-button href="http://cont-abinsrl1.abinsrl.com" target="_blank">Abin SRL 1-->
<!--    <mat-icon>link</mat-icon>-->
<!--  </a>-->
<!--</div>-->
