<form (ngSubmit)="accept()" [formGroup]="formPeriod">
  <h1 mat-dialog-title>Editar Planilla</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Periodo</mat-label>
      <input formControlName="period" name="period" required matInput placeholder="Ejemplo: 2020">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Corresponde a</mat-label>
      <input formControlName="periodOf" name="periodOf" required matInput placeholder="Ejemplo: 2020">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de Lectura</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="formDateReader" (click)="picker.open()"
             [readonly]="true" matInput required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" type="button" matDialogClose>Cancelar</button>
    <button mat-button color="primary" type="submit">Acpetar</button>
  </div>
</form>



