<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <mat-icon mat-list-icon class="pointer" (click)="showFile(file.file)">insert_drive_file</mat-icon>
        <div mat-line class="pointer" (click)="showFile(file.file)">{{file.fileName}}</div>
        <div mat-line> {{file.fileDate | abinDate}} </div>
        <button mat-icon-button (click)="deleteFile(file.id)" matTooltip="Eliminar">
          <mat-icon>deleted</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="files.length == 0">
        No Existen Archivos
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>
