table{
  /*width: max-content;*/
  /*margin: 20px auto;*/
  border-collapse: collapse;
  width: 100%;
}
table td{
  padding: 5px 10px;
  /*border: solid 1px black;*/
  width: 30px;
}
td.number{
  text-align: end !important;
  padding: 0 5px!important;
}
td.total{
    border-top: ridge;
    border-bottom: double;
}
tr.line-end{
    border-bottom: solid 1px;
}
tr.tr-space{
    height: 50px;
}
mat-card{
  margin: 20px auto;
  width: 100%;
  max-width: 180mm;
  min-width: 360px;
}
td.bold{
 font-weight: bold;
}
td.center{
  text-align: center;
}
.green{
  background-color: #1eaf00;
  color: rgb(255 255 255);
}
.red{
  background-color: #ff2323;
  color: rgb(255 255 255);
}
