<div>
  <mat-card>

    <table *ngIf="itemIncomes" id="table">
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="line-end">
        <td colspan="3" class="bold"><b>INGRESOS</b></td>
        <td colspan="8"></td>
        <td class="number" >{{itemIncomes.total|dataMoneyEn:format}}</td>
      </tr>
      <ng-container *ngIf="moreDetail >= 1">
        <ng-container *ngFor="let i of itemIncomes.items">
          <tr>
            <td colspan="4">{{i.nameItem}}</td>
            <td colspan="6"></td>
            <td class="number">{{i.total|dataMoneyEn:format}}</td>
            <td></td>
          </tr>
          <ng-container *ngIf="moreDetail >= 2">
            <ng-container *ngFor="let types of i.typesIncomes">
              <tr>
                <td></td>
                <td colspan="4">{{types.nameIncome}}</td>
                <td colspan="4"></td>
                <td class="number">{{types.total|dataMoneyEn:format}}</td>
                <td></td>
                <td></td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

      <tr class="tr-space"></tr>
      <tr class="line-end">
        <td colspan="3" class="bold"><b>EGRESOS</b></td>
        <td colspan="8"></td>
        <td class="number" >{{itemExpenses.total|dataMoneyEn:format}}</td>
      </tr>
      <ng-container *ngIf="moreDetail >= 1">
        <ng-container *ngFor="let i of itemExpenses.items">
          <tr>
            <td colspan="4">{{i.nameItem}}</td>
            <td colspan="6"></td>
            <td class="number">{{i.total|dataMoneyEn:format}}</td>
            <td></td>
          </tr>

          <ng-container *ngIf="moreDetail >= 2">
            <ng-container *ngFor="let types of i.typesExpenses">
              <tr>
                <td></td>
                <td colspan="4">{{types.nameExpense}}</td>
                <td colspan="4"></td>
                <td class="number">{{types.total|dataMoneyEn:format}}</td>
                <td></td>
                <td></td>
              </tr>

              <ng-container *ngIf="moreDetail >= 3">
                <tr *ngFor="let debtExpense of types.renderTransactions">
                  <td></td>
                  <td></td>
                  <td colspan="6">{{debtExpense.receiptCode}} {{debtExpense.gloss}}</td>
                  <td class="number">{{debtExpense.amount|dataMoneyEn:format}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>

        </ng-container>
      </ng-container>

      <tr>
        <td class="bold" colspan="7"><b>{{getDatePeriod()}}</b> </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total number bold " id="totalPeriod">{{(itemIncomes.total - itemExpenses.total)|dataMoneyEn:format}}</td>
      </tr>


      <tr class="tr-space"></tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr >
        <td colspan="12" class="bold center"><b>SALDO SEGÚN BANCOS</b></td>
      </tr>
      <tr>
        <td class="bold" colspan="7"><b>{{getDateLast()}}</b> </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="number bold">{{lastTotal|dataMoneyEn:format}}</td>
      </tr>
      <ng-container *ngIf="transfers.length > 0">
        <tr *ngFor="let t of transfers">
          <td class="bold" colspan="10"><b>{{getTransfers(t)}}</b></td>
          <td></td>
          <td class="bold number">{{t.amount|dataMoneyEn:format}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="accounts">
        <tr *ngFor="let t of accounts">
          <td class="bold" colspan="10"><b>{{getTextBalance(t)}}</b></td>
          <td></td>
          <td class="bold number">{{t.balance|dataMoneyEn:format}}</td>
        </tr>
      </ng-container>

      <tr>
        <td class="bold" colspan="7"><b>{{getDebtActualPeriod()}}</b> </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="number bold">{{(itemIncomes.total - itemExpenses.total)|dataMoneyEn:format}}</td>
      </tr>
      <tr>
        <td class="bold" colspan="8"><b>{{getTotalDebt()}}</b> </td>
<!--        <td></td>-->
        <td></td>
        <td></td>
        <td></td>
        <td class="total number bold" id="totalOfTotal">{{((itemIncomes.total - itemExpenses.total) + lastTotal + totalTransfer)|dataMoneyEn:format}}</td>
      </tr>

      </tbody>

    </table>
    <mat-card-actions align="end" *ngIf="bankId">
      <div style="margin: 5px;margin-right: 20px;">
        {{getDifference()}}
      </div>
      <mat-chip-list  aria-label="Total">
        <mat-chip *ngIf="equals()" class="green">Cuadrado</mat-chip>
        <mat-chip *ngIf="!equals()" class="red">No Cuadrado</mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>

</div>

