<mat-card>
  <mat-card-title class="transparent">
    Ubicaciones de Propiedades
    <button mat-icon-button color="primary" matTooltip="Agregar" (click)="create()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <ng-container *ngIf="groups && groups.length > 0">
        <mat-list-item *ngFor="let group of groups">
          <span mat-line>{{group.name}}</span>
          <button matTooltip="Eliminar" matTooltipPosition="above" mat-icon-button color="primary"
                  (click)="deleted(group)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </ng-container>
      <ng-container *ngIf="!groups||groups.length == 0">
        <mat-list-item>No existen ubicaciones</mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>

