
<form [formGroup]="formUser" (ngSubmit)="save()">
  <h1 mat-dialog-title>Usuario</h1>
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input formControlName="username" name="name" required matInput placeholder="Ejemplo: Juan Perez">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input formControlName="email" name="email" required matInput placeholder="Ejemplo: abin@abinsrl.com">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol" required placeholder="Rol">
        <mat-option *ngFor="let b of roles" [value]="b">
          {{b.rolName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <p></p>
    <p><b>Nota:</b><em>Los datos se registraran y se enviara un correo a <b>{{formUser.get('email').value}}</b>
      con una contrase&ntilde;a por defecto que debe ser cambiada.</em></p>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
