<mat-toolbar class="with-line">
  <span>Calendario de Reservas</span>
  <span class="spacer-row"></span>
<!--  <button mat-icon-button color="primary" matTooltip="Crear" (click)="createRecreation()">-->
<!--    <mat-icon>add</mat-icon>-->
<!--  </button>-->
<!--  <button mat-icon-button color="primary" matTooltip="Imprimir">-->
<!--    <mat-icon>print</mat-icon>-->
<!--  </button>-->
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="loadData()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <mat-card>
    <full-calendar #calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>
  </mat-card>
</div>
<div class="popup" [ngStyle]="getStyleEvent()">
  <mat-card *ngIf="eventSelect" style="font-size: 12px !important;">
    <p>{{eventSelect.recreationArea.name}}</p>
    <p>{{eventSelect.date|dateTime}}</p>
    <p>{{eventSelect.recreationAreaReservationDetail.property.code}}</p>
  </mat-card>
</div>


