.mat-toolbar {
  background: #fff !important;
}

mat-card {
  margin: 0px !important;
  width: calc(100% - 32px) !important;
  height: calc(100% - 32px) !important;
  position: relative;
}

/*.content-calendar {*/
/*  display: inline-block;*/
/*}*/

/*.row {*/
/*  display: inline-flex;*/
/*  width: 100%;*/
/*}*/

/*.row .col {*/
/*  display: inline-block;*/
/*  margin-left: 20px;*/
/*  margin-bottom: 20px;*/
/*  margin-top: 20px;*/
/*}*/

/*.row .col:last-child {*/
/*  margin-right: 20px;*/
/*}*/

/*.col-4 {*/
/*  width: 30%;*/
/*}*/

/*.col-8 {*/
/*  width: 70%;*/
/*}*/

.popup {
  display: none;
  position: fixed;
  z-index: 99;
}

.popup mat-card {
  background: #5f5f5f;
  color: white;
  margin: 0 !important;
}


