<form [formGroup]="user" (ngSubmit)="send()">
  <mat-card class="mat-elevation-z3">
    <mat-card-title>Cambiar contrase&ntilde;a</mat-card-title>
    <div mat-card-image>
      <img  src="/assets/LOGO_cube.svg" alt="abin logo">
    </div>    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input formControlName="email" matInput required placeholder="Correo">
        <mat-error
          *ngIf="(user.get('email').hasError('required'))">
          requerido
        </mat-error>
        <mat-error
          *ngIf="(user.get('email').hasError('email'))">
          correo invalido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contrase&ntilde;a por defecto</mat-label>
        <input formControlName="defaultPassword" matInput required placeholder="Contraseña por defecto"
               [type]="hideL ? 'password' : 'text'">
        <button tabindex="-1" type="button" mat-icon-button matSuffix (click)="hideL = !hideL"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideL">
          <mat-icon>{{hideL ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="(user.get('defaultPassword').hasError('required'))">
          requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nueva Contrase&ntilde;a</mat-label>
        <input formControlName="password" required matInput placeholder="Nueva Contraseña"
               [type]="hide ? 'password' : 'text'">
        <button tabindex="-1" type="button" mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="(user.get('password').hasError('required'))">
          requerido
        </mat-error>
        <mat-error
          *ngIf="(user.get('password').hasError('minlength'))">
          logitud minima de 8
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repetir Nueva Contrase&ntilde;a</mat-label>
        <input formControlName="passwordRepeat" matInput required placeholder="Repetir Nueva Contraseña"
               [type]="hideN ? 'password' : 'text'">
        <button tabindex="-1" type="button" mat-icon-button matSuffix (click)="hideN = !hideN"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideN">
          <mat-icon>{{hideN ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="(user.get('passwordRepeat').hasError('required'))">
          requerido
        </mat-error>
        <mat-error
          *ngIf="(user.get('passwordRepeat').hasError('mustMatch'))">
          las contrase&ntilde;as deben ser iguales
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer-row"></span>
      <button (click)="cancel()" type="button" mat-button color="accent">Cancelar</button>
      <button type="submit" mat-button color="primary">Aceptar</button>
    </mat-card-actions>
  </mat-card>
</form>
