<mat-toolbar class="with-line">
  <span>Lista de Deudores</span>
    <span class="spacer-row"></span>
    <button mat-icon-button color="primary" (click)="ngOnInit()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="type_report">
      <mat-icon>file_download</mat-icon>
    </button>

</mat-toolbar>
<div *ngIf="!activeLink"  style="position: absolute; width: 100%; height: calc(100% - 74px);">
  <mat-spinner [diameter]="40" style="
    width: 40px;
    height: 40px;
    margin: auto;
    top: calc(50% - 20px);
"></mat-spinner>
</div>
<div class="content-admin" *ngIf="activeLink">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links"
       (click)="setIndexClick(link)"
       [active]="activeLink == link"> {{link}} </a>
  </nav>
  <div *ngIf="actualReport">
    <abin-report-debt-table [data]="actualReport.data" [items]="actualReport.headers" [periods]="actualReport.periods" [tableId]="'table'" [format]="format"></abin-report-debt-table>
  </div>
</div>
<mat-menu #type_report="matMenu">
  <ng-template matMenuContent let-pos="pos">
    <button mat-menu-item (click)="reportFile('PDF', pos)">Pdf</button>
    <button mat-menu-item (click)="reportFile('XLSX', pos)">Excel</button>
  </ng-template>
</mat-menu>

