<h1 mat-dialog-title>Historial de la Propiedad</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="owner_nameOwner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Co-Propietario</th>
      <td mat-cell *matCellDef="let row"> {{row.owner_nameOwner}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tenant_nameTenant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inquilino</th>
      <td mat-cell *matCellDef="let row"> {{row.tenant_nameTenant}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="log_initAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>F. Inicio</th>
      <td mat-cell *matCellDef="let row"> {{row.log_initAt|abinDate}} </td>
    </ng-container>
    <ng-container matColumnDef="log_deletedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>F. Mod</th>
      <td mat-cell *matCellDef="let row"> {{row.log_deletedAt|abinDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" mat-dialog-close>Cerrar</button>
</div>

