<h1 mat-dialog-title>Editar Deuda</h1>
<form [formGroup]="debtForm" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Propiedad</mat-label>
      <input type="text" matInput formControlName="property" name="property" required placeholder="Ejemplo: 100">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tipo de Ingreso</mat-label>
      <input type="text" matInput formControlName="typeIncomeProperty" name="typeIncome" required placeholder="Ejemplo: tipo de Ingreso">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de deuda</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="date" matInput required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input formControlName="amount" type="number" name="amount" required matInput placeholder="Ejemplo: 100">
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
