<mat-toolbar class="with-line">
  <span>Propiedades</span>
  <span class="spacer-row"></span>
  <!--  <button mat-icon-button color="primary" color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>-->
  <mat-paginator [hidePageSize]="true"></mat-paginator>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">

</div>
