mat-icon {
  top: 3px;
  position: relative;
  color: red;
}

.text {
  display: inline-block;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: absolute;
  color: red;
  //padding: 6px;
}
