<h1 mat-dialog-title>{{title}}</h1>

<div mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let user of users">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>{{user.username}}</div>
      <div mat-line> {{user.email}} </div>
      <button *ngIf="data.type == 'show'" (click)="deleteUser(user.id)" mat-icon-button color="primary"
              matTooltip="Eliminar">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <ng-container *ngIf="users.length == 0">
      <mat-list-item>
        No Existen Administradores
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Cerrar</button>
</div>

