<mat-toolbar class="with-line">
  <button class="back-btn" matTooltip="Atr&aacute;s" mat-icon-button color="primary" routerLink="../">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <!--  Gesti&oacute;n de Cuenta-->
  <ng-container *ngIf="account">
    <!--    <mat-icon>keyboard_arrow_right</mat-icon>-->
    <span>{{account.numberAccount}}</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>Transacciones</span>
<!--    <mat-icon>keyboard_arrow_right</mat-icon>-->
<!--    <button mat-flat-button (click)="openFilter()">-->

<!--      <span *ngIf="params.month && params.year">{{params.month}}-{{params.year}}</span>-->
<!--      <span *ngIf="!params.month && !params.year">Periodo</span>-->
<!--      <mat-icon>arrow_drop_down</mat-icon>-->
<!--    </button>-->
    <span class="spacer-row"></span>
    <button mat-button color="primary" matTooltip="Nuevo" *ngIf="readNotOnly()&&!selection.isEmpty()" (click)="printVouchers()">
      Imprimir Recibos
    </button>
    <button mat-button color="primary" matTooltip="Nuevo" *ngIf="readNotOnly()&&!selection.isEmpty()" (click)="sendVouchers()">
      Enviar Recibos
    </button>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menuNew" matTooltip="Nuevo" *ngIf="readNotOnly()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Filtrar" (click)="openFilter()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="print()">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="ngOnInit()">
      <mat-icon>refresh</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<!--<div class="content-admin">-->
  <cdk-virtual-scroll-viewport tvsItemSize="48" headerHeight="56" class="content-admin" (scrolledIndexChange)="getIndex($event)">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">


    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [disabled]="row.incomeExtract_state !== 0" color="primary" (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
      <td mat-cell  mat-footer-cell *matFooterCellDef></td>
    </ng-container>



    <ng-container matColumnDef="pos" sticky>
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row"> {{dataSource.data.indexOf(row) + 1}} </td>
      <td mat-cell  mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="incomeExtract_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let row">
<!--        <ng-container *ngIf="row.incomeExtract_state != 5">-->
          {{row.incomeExtract_date| abinDate }}
<!--        </ng-container>-->
<!--        <ng-container *ngIf="row.incomeExtract_state == 5">-->
<!--          <b>{{'Total Parcial'}}</b>-->
<!--        </ng-container>-->
        </td>
        <td mat-cell  mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="incomeExtract_agency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Agencia</th>
      <td mat-cell *matCellDef="let row"> {{row.incomeExtract_agency}} </td>
      <td mat-cell  mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="incomeExtract_gloss">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
      <td mat-cell *matCellDef="let row"> {{row.incomeExtract_gloss}} </td>
      <td mat-cell  mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="incomeExtract_reference">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Referencia</th>
      <td mat-cell *matCellDef="let row"> {{row.incomeExtract_reference}} </td>
      <td mat-cell  mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="incomeExtract_transactionCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>C&oacute;digo T.</th>
      <td mat-cell *matCellDef="let row"> {{row.incomeExtract_transactionCode}}  <div *ngIf="row.incomeExtract_payOnline" class="qr-code">QR</div>      </td>
      <td mat-cell  mat-footer-cell *matFooterCellDef><b>Total Parcial</b></td>
    </ng-container>
    <ng-container matColumnDef="incomeExtract_amount_debt">
      <th mat-header-cell class="number" *matHeaderCellDef  mat-sort-header>D&eacute;bitos</th>
      <td mat-cell class="number" *matCellDef="let row" >
        <ng-container *ngIf="row.incomeExtract_amount_debt < 0">
          {{row.incomeExtract_amount_debt|dataMoney :'abs'}}
        </ng-container>
      </td>
      <td mat-cell  mat-footer-cell class="number" *matFooterCellDef><b>{{totals.totalDebts|dataMoney}}</b></td>
    </ng-container>
    <ng-container matColumnDef="incomeExtract_amount">
      <th mat-header-cell class="number" *matHeaderCellDef  mat-sort-header>Cr&eacute;ditos</th>
      <td mat-cell class="number" *matCellDef="let row" >
        <ng-container *ngIf="row.incomeExtract_amount > 0">
          {{row.incomeExtract_amount|dataMoney}}
        </ng-container>
      </td>
      <td mat-cell  mat-footer-cell class="number" *matFooterCellDef><b>{{totals.totalCredit|dataMoney}}</b></td>
    </ng-container>
    <ng-container matColumnDef="accumulated">
      <th mat-header-cell class="number" *matHeaderCellDef  mat-sort-header>Saldo</th>
      <td mat-cell class="number" *matCellDef="let row" >
        {{row.accumulated|dataMoney}}
      </td>
      <td mat-cell  mat-footer-cell class="number" *matFooterCellDef><b>{{totals.lastTotal|dataMoney}}</b></td>
    </ng-container>
    <ng-container matColumnDef="incomeExtract_state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td mat-cell *matCellDef="let row" [ngStyle]="{color: row|transactionColor:true, 'font-weight': 600}"> {{row| stateIncome}} </td>
      <td mat-cell  mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="options" *ngIf="readNotOnly()">
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <!--        *ngIf="!(row.incomeExtract_state == 1 || row.incomeExtract_state == 0)"-->
        <button mat-icon-button *ngIf="row.incomeExtract_state != 5" color="primary"
                [matMenuTriggerFor]="menu" [matMenuTriggerData]="{incomeExtract: row}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
      <td mat-cell  mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngStyle]="{background: row|transactionColor:false}" >
    </tr>
<!--    <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns" [cdkVirtualForOf]="this.dataSource.data">-->
<!--      <tr mat-row  [ngClass]="row.incomeExtract_state == 2 ? 'forVerify' : ''"></tr>-->
<!--    </ng-template>-->
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

  </table>
  </cdk-virtual-scroll-viewport>
  <p *ngIf="dataSource.data.length == 0" class="notify-empty">No Existen Transacciones</p>
<!--</div>-->
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-incomeExtract="incomeExtract">
    <!--[disabled]="incomeExtract.incomeExtract_state == 1 || incomeExtract.incomeExtract_state == 0"-->
    <!--    <button mat-menu-item-->
    <!--            [disabled]="incomeExtract.incomeExtract_state == 0 || incomeExtract.incomeExtract_state == 3 || incomeExtract.incomeExtract_amount <= 0"-->
    <!--            (click)="process(incomeExtract)">-->
    <!--      <span>Procesar</span>-->
    <!--    </button>-->
    <button mat-menu-item *ngIf="incomeExtract.incomeExtract_state == 1 && incomeExtract.incomeExtract_amount > 0 && !incomeExtract.incomeExtract_transactionDestineId"
            (click)="postAll(incomeExtract)">
      <span>Procesar</span>
    </button>
    <button mat-menu-item *ngIf="incomeExtract.incomeExtract_state == 0 && incomeExtract.incomeExtract_amount > 0"
            (click)="noProcess(incomeExtract)">
      <span>Marcar como no procesado</span>
    </button>
    <button mat-menu-item *ngIf="incomeExtract.incomeExtract_state === 0 && incomeExtract.incomeExtract_amount > 0"
            (click)="printVoucher(incomeExtract)">
      <span>Recibo</span>
    </button>
    <button mat-menu-item *ngIf="incomeExtract.incomeExtract_state === 0 && incomeExtract.incomeExtract_amount > 0"
            (click)="sendVoucher(incomeExtract)">
      <span>Enviar Recibo</span>
    </button>
    <button mat-menu-item [disabled]="incomeExtract.incomeExtract_state != 2 || incomeExtract.incomeExtract_amount < 0 && !incomeExtract.incomeExtract_payOnline"
            (click)="assignToIncome(incomeExtract)">
      <span>Asignar a Ingreso</span>
    </button>

    <button mat-menu-item *ngIf="(incomeExtract.incomeExtract_state == 2 || incomeExtract.incomeExtract_state == 1) && !incomeExtract.incomeExtract_transactionDestineId && incomeExtract.incomeExtract_amount > 0 && !incomeExtract.incomeExtract_payOnline"
            (click)="edit(incomeExtract)">
      <span>Editar</span>
    </button>
    <button mat-menu-item *ngIf="!((incomeExtract.incomeExtract_state == 2 || incomeExtract.incomeExtract_state == 1) && !incomeExtract.incomeExtract_transactionDestineId && incomeExtract.incomeExtract_amount > 0) && !incomeExtract.incomeExtract_payOnline"
            (click)="editOnly(incomeExtract)">
      <span>Editar</span>
    </button>
    <!--    [disabled]="incomeExtract.incomeExtract_state == 1 || incomeExtract.incomeExtract_state == 0"-->
    <button mat-menu-item *ngIf="incomeExtract.incomeExtract_state == 2"
            (click)="ignore(incomeExtract)">
      <span>Ignorar</span>
    </button>
    <button mat-menu-item *ngIf="!incomeExtract.incomeExtract_payOnline"
            (click)="delete(incomeExtract)">
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #menuNew="matMenu">
  <!--[disabled]="incomeExtract.incomeExtract_state == 1 || incomeExtract.incomeExtract_state == 0"-->
  <button mat-menu-item
          (click)="addTransfer()">
    <mat-icon>add</mat-icon>
    <span>Nueva Transferencia</span>
  </button>
  <button mat-menu-item
          (click)="addTransaction()">
    <mat-icon>add</mat-icon>
    <span>Nueva Transacci&oacute;n</span>
  </button>
  <button mat-menu-item
          (click)="addImport()">
    <mat-icon>file_upload</mat-icon>
    <span>Importar de Plantilla</span>
  </button>
  <!--    [disabled]="incomeExtract.incomeExtract_state == 1 || incomeExtract.incomeExtract_state == 0"-->
<!--  <button mat-menu-item-->
<!--          (click)="fromFile()">-->
<!--    <mat-icon>file_upload</mat-icon>-->
<!--    <span>Desde Archivo</span>-->
<!--  </button>-->
</mat-menu>

<!--<mat-menu #menuSelect="matMenu">-->
<!--  <button mat-menu-item-->
<!--          (click)="postAll()">-->
<!--    <span>Procesar</span>-->
<!--  </button>-->
<!--</mat-menu>-->
