<mat-toolbar class="with-line">
  <span>Mis Propiedades</span>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <div style="display: flex">
    <mat-card *ngFor="let p of properties" class="col l3">
      <mat-card-title *ngIf="p.typeProperty.type === false">{{p.code}} - {{p.name}}</mat-card-title>
      <mat-card-title *ngIf="p.typeProperty.type === true">{{p.name}}</mat-card-title>
      <mat-card-content>
        <table>
          <tr>
            <td>Tipo</td>
            <td>{{p.type}}</td>
          </tr>
          <ng-container *ngFor="let a of p.typeIncomeProperty">
            <tr *ngIf="(a.typeIncome.code >= 101 && a.typeIncome.code <= 199 && a.typeIncome > 0) && a.typeIncome.code != 109 && a.typeIncome.code != 103">
              <td>{{a.typeIncome.nameIncome}}</td>
              <td>{{a.amount|dataMoney}}</td>
            </tr>
          </ng-container>

        </table>
      </mat-card-content>
      <mat-card-actions>
        <div style="display: flex;">
          <button *ngIf="p.typeProperty.type === false" mat-icon-button color="primary" routerLink="filter" [queryParams]="{propertyId: p.id}" matTooltip="Ver Kardex"><mat-icon>view_kanban</mat-icon></button>
          <button *ngIf="p.typeProperty.type === false" mat-icon-button color="primary" (click)="showLiquidation(p.id)" matTooltip="Ver Liquidación"><mat-icon>receipt_long</mat-icon></button>
          <button *ngIf="p.typeProperty.type === false && horizontalPropertyId == '186c4f59-9e6e-4f49-8914-15bc9b19b9f4'" mat-icon-button color="primary" routerLink="pay" matTooltip="Realizar un Pago" [queryParams]="{p: p.id}"><mat-icon>paid</mat-icon></button>
          <span class="spacer-row"></span>
          <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{property: p}"><mat-icon>more_vert</mat-icon></button>
        </div>
       </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-divider style="display: inline-block;"></mat-divider>
    <span style="padding: 15px; font-size: 15px; color: #a7a7a7">Propiedades Complementarias</span>
    <mat-divider style="width: calc(99% - 265px); display: inline-block;"></mat-divider>
  </div>
  <div style="display: flex">
    <mat-card *ngFor="let p of propertiesComplement" class="col l3">
      <mat-card-title *ngIf="p.typeProperty.type === false">{{p.code}} - {{p.name}}</mat-card-title>
      <mat-card-title *ngIf="p.typeProperty.type === true">{{p.name}}</mat-card-title>
      <mat-card-content>
        <table>
          <tr>
            <td>Tipo</td>
            <td>{{p.type}}</td>
          </tr>
          <ng-container *ngFor="let a of p.typeIncomeProperty">
            <tr *ngIf="(a.typeIncome.code >= 101 && a.typeIncome.code <= 199 && a.typeIncome > 0) && a.typeIncome.code != 109 && a.typeIncome.code != 103">
              <td>{{a.typeIncome.nameIncome}}</td>
              <td>{{a.amount|dataMoney}}</td>
            </tr>
          </ng-container>

        </table>
      </mat-card-content>
      <mat-card-actions>
        <div style="display: flex;">
          <button *ngIf="p.code" mat-icon-button color="primary" routerLink="filter" [queryParams]="{propertyId: p.id}" matTooltip="Ver Kardex"><mat-icon>view_kanban</mat-icon></button>
          <button *ngIf="p.code" mat-icon-button color="primary" (click)="showLiquidation(p.id)" matTooltip="Ver Liquidación"><mat-icon>receipt_long</mat-icon></button>
          <!-- <button *ngIf="p.typeProperty.type === false" mat-button color="primary" routerLink="pay" [queryParams]="{p: p.id}">Realizar un pago</button> -->
          <span class="spacer-row"></span>
          <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{property: p}"><mat-icon>more_vert</mat-icon></button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-property="property">
    <button *ngIf="property.typeProperty.type === false" mat-menu-item (click)="peoplesShow(property.id)">
      <span>Habitantes</span>
    </button>

    <button mat-menu-item (click)="showHistory(property)">Historial</button>
  </ng-template>
</mat-menu>





