.mat-toolbar {
  background: #fff !important;
}
.col.l3{
  width: calc((100% - 186px) / 3);
  position: relative;
  height: auto;
  display: inline-block;
  margin: 15px;
}
table {
  width: 100%;
}

table td:last-child {
  text-align: right;
}

table td:first-child {
  color: #a7a7a7;
}
/*.col {*/
/*  margin-right: 15px;*/
/*}*/
/*.col:last-child{*/
/*  margin-left: 15px;*/
/*}*/

/*
    width: calc((100% - 186px) / 3);
    position: relative;
    height: 100px;
    display: inline-block;
    margin: 15px;

*/

mat-card-content{
  height: 60px;
}
@media screen and (max-width: 800px) {
  .col.l3{
    width: calc((100% - 124px) / 2);
    /*position: relative;*/
    /*height: 100px;*/
    /*display: inline-block;*/
    margin: 15px;
  }
}

@media screen and (max-width: 430px) {
  .col.l3{
    width: calc(100% - 62px);
    /*position: relative;*/
    /*height: 100px;*/
    /*display: inline-block;*/
    margin: 15px;
  }
}
