<mat-card class="mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>Usuarios del Sistema</mat-card-title>
    <span class="spacer-row"></span>
    <button *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema'" mat-stroked-button color="primary" matTooltip="Crear Nuevo" matTooltipPosition="right" (click)="newUser()">
      <mat-icon>add</mat-icon>
      Nuevo
    </button>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="!users || users.length === 0" class="notify-empty">No Existen Usuarios</p>
    <mat-list *ngIf="users">
      <mat-list-item *ngFor="let user of users">
        <mat-icon mat-list-icon>account_box</mat-icon>
        <div mat-line>{{user.username}}</div>
        <div mat-line> {{user.email}} </div>
        <button mat-icon-button color="primary" matTooltip="Opciones" matTooltipPosition="left"
                [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{user: user}">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-user="user">
    <button mat-menu-item (click)="resetPassword(user)">
      <span>Reenviar Correo</span>
    </button>
    <button mat-menu-item (click)="resetPassword(user)">
      <span>Restablecer Contrase&ntilde;a</span>
    </button>
    <button mat-menu-item (click)="deleted(user)">
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
