<mat-toolbar class="with-line">
  <button *ngIf="filtered()" class="back-btn" matTooltip="Atr&aacute;s" mat-icon-button color="primary"
          (click)="backLocation()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{title}}</span>
  <ng-container *ngIf="params&&projectSelect">
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>{{projectSelect.yearIni|abinDate}} / {{projectSelect.yearEnd|abinDate}}</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>{{params.type}}</span>
  </ng-container>
  <span class="spacer-row"></span>
  <button *ngIf="filtered()" mat-icon-button color="primary" (click)="OpenFilter()">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="content-admin">

  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of propertyTypes" [active]="link.name === params.type" routerLink="."  [queryParams]="{type: link.name}">{{link.name}}</a>
  </nav>
  <table  *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Propiedad</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
      <td mat-cell *matCellDef="let row"> {{row.type}} </td>
    </ng-container>

    <ng-container matColumnDef="m2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Superficie m<sup>2</sup></th>
      <td mat-cell *matCellDef="let row" class="number"> {{row.m2| dataMoney}} m<sup>2</sup></td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Propietario</th>
      <td mat-cell *matCellDef="let row"> {{row.owner.nameOwner}} </td>
    </ng-container>

    <ng-container matColumnDef="tenant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inquilino</th>
      <td mat-cell *matCellDef="let row"> {{row.tenant ? row.tenant.nameTenant : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" matTooltip="Ver Kardex" routerLink="property"
                [queryParams]="getNavigatedParams(row.id)">
          <mat-icon>open_in_browser</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>



