<form [formGroup]="formProperty" (ngSubmit)="saveProperty()">
  <h1 mat-dialog-title>Editar Datos de Propiedad</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Nombre Propiedad Complementaria</mat-label>
      <input formControlName="name" name="name" matInput required placeholder="Ejemplo: A1...A9">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Propiedad enlazada</mat-label>
      <input type="text"
             matInput
             placeholder="Codigo de Departamento, Oficina o Local Comercial"
             formControlName="property"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code">
          {{option.code}} ({{option.type}})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <!--                    *ngIf="!(formProperty.get('property').value != '' && formProperty.get('property').value != null)">-->
      <mat-label>C&oacute;digo</mat-label>
      <input formControlName="code" name="code" matInput placeholder="Ejemplo: 1234">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Superficie en m<sup>2</sup></mat-label>
      <input formControlName="m2" matInput required name="number" type="number" placeholder="Ejemplo: 150">
    </mat-form-field>

    <ng-container *ngIf="propertySelect">
      <mat-form-field *ngFor="let item of propertySelect.typeIncomeProperty" appearance="outline">
        <mat-label>{{item.typeIncome.nameIncome}}</mat-label>
        <input [(ngModel)]="item.amount" [ngModelOptions]="{standalone: true}" matInput name="number" type="number"
               placeholder="Ejemplo: 250">
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de Inicio de cobro de expensas</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateInitPay">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>De preferencia el dia de inicio de cobro</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo de propiedad</mat-label>
      <input formControlName="type" matInput required name="type" type="text"
             placeholder="Ejemplo: Departamento">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ubicaci&oacute;n</mat-label>
      <mat-select formControlName="group">
        <mat-option>Ninguno</mat-option>
        <mat-option *ngFor="let group of propertyGroups" [value]="group.id">{{group.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" matDialogClose>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>

