<h1 mat-dialog-title>Seleccionar</h1>
<form [formGroup]="filterForm" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Presupuesto</mat-label>
      <mat-select formControlName="projectId" placeholder="seleccionar Presupuesto">
        <mat-option *ngFor="let b of projects" [value]="b.id">
          {{b.yearIni|abinDate}} / {{b.yearEnd|abinDate}}
        </mat-option>
        <mat-option *ngIf="projects.length == 0" disabled="disabled">No Existen Presupuestos</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="filterForm.get('type')">
      <mat-label>Seleccionar Tipo de Propiedad</mat-label>
      <mat-select formControlName="type" placeholder="seleccionar Tipo de Propiedad">
        <mat-option *ngFor="let b of propertyTypes" [value]="b.name">
          {{b.name}} {{b.type ? '(Complementaria)' : ''}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" mat-dialog-close type="submit">Aceptar</button>
  </div>
</form>
