<mat-card>
  <mat-card-title>
    {{title}}
  </mat-card-title>
  <mat-card-content>
    <table id="table" *ngIf="properties.length > 0">
      <thead>
      <tr>
        <th>#</th>
        <th>C&oacute;digo</th>
        <th>Nombre</th>
        <th>Propietario</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let property of properties; let i = index">
        <td>{{i + 1}}</td>
        <td>{{property.code}}</td>
        <td>{{property.name}}</td>
        <td>{{property.owner.nameOwner}}</td>
      </tr>
      </tbody>
    </table>
    <span *ngIf="properties.length == 0" class="note-center">
    No existen Propiedades con pagos a la fecha.
  </span>
  </mat-card-content>

</mat-card>

