<p mat-dialog-title>Actualizar Transacci&oacute;n </p>
<form [formGroup]="income" (ngSubmit)="send()">
  <div mat-dialog-content>

    <!--<h1 mat-dialog-title>Actualizar Ingreso</h1>-->
    <!--<form [formGroup]="income" (ngSubmit)="send()">-->
    <!--  <div mat-dialog-content>-->
    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="date" matInput required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>C&oacute;digo de Transaccion</mat-label>
      <input formControlName="transactionCode" name="transactionCode" required matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Agencia</mat-label>
      <input formControlName="agency" name="agency" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descripci&oacute;n</mat-label>
      <input formControlName="gloss" name="gloss" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Referencia</mat-label>
      <input type="text" matInput formControlName="reference">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input formControlName="amount" name="amount" required matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" type="button" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
