<h1 mat-dialog-title>Ubicacion de Propiedades</h1>
<form [formGroup]="formGroup" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Nombre de Ubicacion</mat-label>
      <input formControlName="name" name="name" required matInput placeholder="Ejemplo: Torre 1">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
