<mat-card>
    <h1 mat-card-title>Filtrar</h1>
  
    <form [formGroup]="filterForm" (ngSubmit)="save()">
      <div mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>A&ntilde;o</mat-label>
            <input  formControlName="year" name="year" matInput placeholder="Año">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Seleccionar Mes</mat-label>
          <mat-select formControlName="month" name="month" placeholder="seleccionar Mes">
            <mat-option *ngFor="let b of months" [value]="b.monthNum">{{b.month}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button color="accent">Cancelar</button>
        <button mat-button color="primary" type="submit">Aceptar</button>
      </div>
    </form>
  </mat-card>
  