<mat-toolbar class="with-line">
  <button class="back-btn" matTooltip="Atr&aacute;s" mat-icon-button color="primary" routerLink="../">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Deudas Manuales</span>
  <ng-container *ngIf="property">
    <mat-icon>chevron_right</mat-icon>
    <span>{{property.name}}</span>
  </ng-container>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" (click)="openDialog()" *ngIf="readNotOnly()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="content-admin">
  <div style="height: 100% !important;" class="content-admin">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="pos">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index"> {{ i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let row">{{row.nameIncome }}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell class="number" *matHeaderCellDef>Monto</th>
        <td mat-cell class="number" *matCellDef="let row">{{row.amount|dataMoney }}</td>
      </ng-container>
      <ng-container matColumnDef="totalPay">
        <th mat-header-cell class="number" *matHeaderCellDef>Total Pagado</th>
        <td mat-cell class="number" *matCellDef="let row">{{row.totalPay|dataMoney }}</td>
      </ng-container>
      <ng-container matColumnDef="totalDebt">
        <th mat-header-cell class="number" *matHeaderCellDef>Saldo</th>
        <td mat-cell class="number" *matCellDef="let row">{{row.amount - row.totalPay|dataMoney }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let row">{{row.date|abinDate }}</td>
      </ng-container>
      <ng-container matColumnDef="options" *ngIf="readNotOnly()">
        <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{debt: row }"
                  matTooltip="Opciones" matTooltipPosition="left">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>


    </table>
    <p *ngIf="dataSource && dataSource.data.length == 0" class="notify-empty">No Existen Deudas Anteriores</p>
  </div>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-debt="debt">
    <!--    <button mat-menu-item (click)="showPay(debt)">-->
    <!--      <span>Ver Pagos</span>-->
    <!--    </button>-->
    <!--    <button mat-menu-item (click)="pay(debt)">-->
    <!--      <span>Realizar Un Pago</span>-->
    <!--    </button>-->
    <button mat-menu-item (click)="delete(debt)">
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>



