<mat-card>
  <mat-card-title>
    Dias Feriados
    <button mat-icon-button color="primary" matTooltip="Agregar" (click)="create()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <ng-container *ngIf="holidays && holidays.length > 0">
        <mat-list-item *ngFor="let holiday of holidays">
          <span mat-line>{{holiday.detail}}</span>
          <span mat-line>{{holiday.day}}/{{holiday.month}}/{{holiday.year}}</span>
          <button matTooltip="Eliminar" matTooltipPosition="above" mat-icon-button color="primary"
                  (click)="deleted(holiday)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </ng-container>
      <ng-container *ngIf="!holidays||holidays.length == 0">
        <mat-list-item>No existen dias Feriados</mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>

