.example-accordion {
  display: block;
}

.example-accordion-item {
  display: block;
  border: solid 1px #efefef;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-container{
  padding: 10px;
  height: 50px;
}
.info-container{
  width: 100%;
  padding: 10px;
  height: 50px;
}
.item{
  display: flex;
  width: 100%;
}
p{
  margin: 0;
}
.role{
  font-weight: 500;
}
