<div>
  <mat-card style="width: calc(50%);
    margin: 30px auto;">
    <span mat-card-title>Personal Asignado</span>
    <div mat-card-content *ngIf="property">

      <cdk-accordion class="example-accordion">
        <cdk-accordion-item *ngFor="let o of property.horizontalPropertiesUsers; let index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index">
          <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            <div class="item">
              <div class="profile-container">
                <img class="profile" [src]="o.picture" abinErrorImg alt="Image Profile">
              </div>
              <div class="info-container">
                <p class="role">Administrador</p>
                <p>{{o.username}}</p>
                <p>{{o.email}}</p>
              </div>
            </div>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index">
            <abin-user-profile [user]="o"></abin-user-profile>
          </div>
        </cdk-accordion-item>

        <cdk-accordion-item *ngFor="let o of personals; let index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index">
          <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            <div class="item">
              <div class="profile-container">
                <img class="profile" [src]="o.picture" abinErrorImg alt="Image Profile">
              </div>
              <div class="info-container">
                <p class="role">{{o.position}}</p>
                <p>{{o.name}}</p>
                <p>{{o.cell}}</p>
              </div>
            </div>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index">
            <abin-user-profile [user]="o"></abin-user-profile>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </div>
  </mat-card>
</div>
