<h1 mat-dialog-title>Deudas Anteriores</h1>
<form>
  <div mat-dialog-content>
    <table *ngIf="debts">
      <tr>
        <th>#</th>
        <th>Item</th>
        <th class="number">Monto</th>
        <th class="number">Total Pagado</th>
        <th class="number">Monto A Pagar</th>
      </tr>
      <tr *ngFor="let item of debts">
        <td>
          <mat-checkbox [(ngModel)]="item.pay" color="primary" [disabled]="item.totalPay == item.amount" [ngModelOptions]="{standalone: true}"></mat-checkbox>
        </td>
        <td>
          {{item.nameIncome}}
        </td>
        <td class="number">
          {{item.amount| dataMoney}}
        </td>
        <td class="number">
          {{item.totalPay| dataMoney}}
        </td>
        <td class="number">
          <div class="input-content">
            <input class="number" type="number" [(ngModel)]="item.amountPay" [disabled]="!item.pay||item.totalPay == item.amount"
                   [ngModelOptions]="{standalone: true}">
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <ng-content>
    </ng-content>
    <button mat-button color="primary" type="button" *ngIf="onlySave" (click)="save({ onlySaved: true })">Solo Guardar</button>
    <button mat-button color="primary" type="button" (click)="save( { onProcess: true })">Aceptar</button>
  </div>
</form>
