<h1 mat-dialog-title>Registro Pago Adelantado</h1>
<form [formGroup]="debtForm" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Propiedad</mat-label>
      <input type="text" matInput formControlName="propertyCode" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code">
          {{option.code}} - {{option.type}} - {{option.owner.nameOwner}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Tipo de Ingreso</mat-label>
      <mat-select formControlName="typeIncomeProperty" required placeholder="seleccionar tipo de Ingreso">
        <mat-option *ngFor="let b of typesIncomesProperty" [value]="b.id">
          {{b.typeIncome.nameIncome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <p>Pago Correspondiente a:</p>
    <div style="display: flex">
      <div style="width: calc(50% - 10px);margin-right: 10px;">
        <mat-form-field appearance="outline">
          <mat-label>Mes</mat-label>
          <mat-select formControlName="month">
            <mat-option value="1">Enero</mat-option>
            <mat-option value="2">Febrero</mat-option>
            <mat-option value="3">Marzo</mat-option>
            <mat-option value="4">Abril</mat-option>
            <mat-option value="5">Mayo</mat-option>
            <mat-option value="6">Junio</mat-option>
            <mat-option value="7">Julio</mat-option>
            <mat-option value="8">Agosto</mat-option>
            <mat-option value="9">Septiembre</mat-option>
            <mat-option value="10">Octubre</mat-option>
            <mat-option value="11">Noviembre</mat-option>
            <mat-option value="12">Diciembre</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="width: calc(50% - 10px);margin-left: 10px;">
        <mat-form-field appearance="outline">
          <mat-label>A&ntilde;o</mat-label>
          <input formControlName="year" matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <!--      <div>-->
      <!--        <mat-form-field appearance="outline">-->
      <!--          <mat-label>Fecha de deuda</mat-label>-->
      <!--          <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="date" matInput required [matDatepicker]="picker">-->
      <!--          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
      <!--          <mat-datepicker #picker></mat-datepicker>-->
      <!--        </mat-form-field>-->
      <!--      </div>-->

    </div>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Fecha de Pago</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="datePay" matInput required [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field> -->
    <mat-form-field appearance="outline">
      <mat-label>Monto Total</mat-label>
      <input formControlName="amount" type="number" name="amount" required matInput placeholder="Ejemplo: 100">
    </mat-form-field>
    <div class="dates" *ngFor="let pay of pays;let i=index">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Monto Parcial</mat-label>
          <input [(ngModel)]="pay.amount" type="number" name="amount" [ngModelOptions]="{standalone: true}" required
                 matInput placeholder="Ejemplo: 100">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Pago</mat-label>
          <input placeholder="Ejemplo: dd/mm/aaaa" [(ngModel)]="pay.datePay" [ngModelOptions]="{standalone: true}"
                 matInput required [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <button mat-icon-button color="warn" type="button" (click)="removePart(i)" matTooltip="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <button mat-button color="primary" type="button" (click)="addNewPart()">
        <mat-icon>add</mat-icon>
        Agregar Pago Parcial
      </button>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
