.mat-toolbar {
  background: #fff !important;
}

.content-admin {
  /*text-align: center;*/
}

.content-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  background: #ffffffba;
}

mat-spinner {
  margin: auto;
  top: calc(100% - 50px);
}


table {
  width: 100%;
}

.header {
  width: 100px !important;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
