<!--<div *ngIf="stateLoad" class="content-loader">-->
<!--  <mat-spinner [diameter]="40"></mat-spinner>-->
<!--</div>-->
<div *ngIf="!stateLoad">
  <table [id]="idTable" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{ getPosition(i)}} </td>
    </ng-container>
    <ng-container matColumnDef="departmentCode">
      <th mat-header-cell *matHeaderCellDef>Propiedad</th>
      <td mat-cell *matCellDef="let row">{{row.name }}</td>
    </ng-container>

    <ng-container *ngFor="let element of displayedColumns.slice(2)" [matColumnDef]="element">
      <th mat-header-cell class="number header" *matHeaderCellDef>{{element}}</th>
      <td mat-cell class="number" *matCellDef="let row">{{ getRow(row, element)| dataMoney}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>


  </table>
</div>

