<mat-toolbar class="with-line">
  <span>Libro Mayor</span>
  <ng-container *ngIf="params.projectId&&projectSelect">
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>{{projectSelect.yearIni|abinDate}} / {{projectSelect.yearEnd|abinDate}}</span>
  </ng-container>
  <span class="spacer-row"></span>
  <button *ngIf="params.projectId" mat-icon-button color="primary" (click)="OpenFilter()">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Imprimir" (click)="print()">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <div *ngIf="!params.projectId" class="note-center">
    No se a seleccionado los filtros necesarios para mostrar la informaci&oacute;n.
    <br>
    <abin-filter-kardex [withType]="false" [data]="getData()" (onSave)="loadData()"></abin-filter-kardex>
  </div>
  <ng-container *ngIf="params.projectId">
    <mat-drawer-container class="content-kardex" autosize>
      <mat-drawer class="example-sidenav" [disableClose]="true" [opened]="true" mode="side">
        <mat-list>
          <ng-container *ngFor="let item of itemsIncomes">
            <div mat-subheader>{{item.nameItem}}</div>
            <ng-container *ngFor="let income of item.typesIncomes">
              <a mat-list-item *ngIf="income.activeIncome"
                 [routerLink]="[]" [queryParams]="{
             code: income.id,
             typeItem: item.type,
             projectId: params.projectId
           }" routerLinkActive="active">{{income.nameIncome}}</a>
            </ng-container>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngFor="let item of itemsExpenses">
            <div mat-subheader>{{item.nameItem}}</div>
            <ng-container *ngFor="let expense of item.typesExpenses">
              <a mat-list-item *ngIf="expense.activeExpense"
                 [routerLink]="[]" [queryParams]="{
             code: expense.id,
             typeItem: item.type,
             projectId: params.projectId
           }" routerLinkActive="active">{{expense.nameExpense}}</a>
            </ng-container>

            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-drawer>
      <div class="content-kardex-month">
        <div class="note-center" *ngIf="!params.code">
          <mat-icon>touch_app</mat-icon>
          Debe Selecionar un Item de la Barra de Navegacion Izquierda. <br>
          Por ejemplo <b>Expensas ********</b>
        </div>
        <abin-result-ledger *ngIf="params.code" [item]="item" [ledgers]="result" [debt]="debt"
                            [total]="total"></abin-result-ledger>
      </div>
    </mat-drawer-container>
  </ng-container>
</div>


