.content-kardex {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.mat-toolbar {
  background: #fff !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  width: auto !important;
  padding-left: 20px !important;
}
