<table [id]="tableId">
  <col *ngFor="let a of data[0]">
  <thead>
  <tr class="first">
    <th></th>
    <ng-container *ngFor="let period of periods">
<!--      <ng-container>-->
        <th [colSpan]="period.colspan"><b>{{setPeriod(period.period)}}</b></th>
<!--      </ng-container>-->
    </ng-container>
    <th>
      <b>Total Deuda</b>
    </th>
  </tr>
  <tr class="second">
    <th></th>
<!--    <ng-container *ngFor="let period of periods">-->
      <th *ngFor="let item of items">
        <b>{{item.nameIncome}}</b>
      </th>
<!--    </ng-container>-->
    <th></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let a of data">
    <tr class="hover-row">
      <ng-container *ngFor="let b of a; let i = index">
        <th *ngIf="i == 0" class="hover-row-cell">
          {{b}}
        </th>
        <td *ngIf="i > 0" class="number hover-row-cell">
          {{b|dataMoneyEn:format}}
        </td>
      </ng-container>
    </tr>
  </ng-container>
  </tbody>
</table>
