table{
  width: max-content;
  margin: 20px auto;
  border-collapse: collapse;
}
table td, th{
  padding: 2px 2px;
  border: solid 1px #c7c7c7;
  max-width: 105px;
}
td.number{
  text-align: end !important;
  padding: 0 5px!important;
}
td.total{
  border-top: ridge;
  border-bottom: double;
}
tr.line-end{
  border-bottom: solid 1px;
}
tr.tr-space{
  height: 50px;
}


div {
  /*max-width: 40em;*/
  /*max-height: 20em;*/
  overflow: scroll;
  position: relative;
}

/*table {*/
/*  position: relative;*/
/*  border-collapse: collapse;*/
/*}*/

/*td,*/
/*th {*/
/*  padding: 0.25em;*/
/*}*/

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background: #f0f5fe;;
  color: #3367d6;
  box-shadow: 1px 1px 0px 0px #e0e0e0;
  z-index: 9;
}
tr.first th {
  top: 0;
}

tr.second th {
  top: 24px;
}

thead th:first-child {
  left: 0;
  z-index: 1;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background: #f0f5fe;;
  color: #3367d6;  /*border-right: 1px solid #CCC;*/
  box-shadow: 1px 1px 0px 0px #e0e0e0;
  z-index: 8;
}
col:nth-child(2n - 1) {
  background: #fff9df;
}

.hover-row:hover .hover-row-cell{
  background-color: #d1d1d1;
}