<h1 mat-dialog-title>Importar Plantilla</h1>
<form [formGroup]="formImport" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Archivo</mat-label>
      <ngx-mat-file-input #removableInput formControlName="file" placeholder="Respaldo" [accept]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
