<mat-toolbar class="with-line">
  <span>Planillas</span>
  <span class="spacer-row"></span>
  <button  *ngIf="params.projectId" mat-icon-button color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <button  *ngIf="params.projectId" mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="content-admin">
  <div *ngIf="!params.projectId" class="note-center">
    No se a seleccionado los filtros necesarios para mostrar la informaci&oacute;n.
    <br>
    <abin-filter-kardex [withType]="false" [data]="getData()" (onSave)="loadData()"></abin-filter-kardex>
  </div>
  <ng-container *ngIf="params.projectId">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="pos">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index"> {{ i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let row">{{row.period|abinPeriod}}</td>
      </ng-container>
      <ng-container matColumnDef="ofPeriod">
        <th mat-header-cell *matHeaderCellDef>Correspondiente a</th>
        <td mat-cell *matCellDef="let row">{{row.ofPeriod|abinPeriod}}</td>
      </ng-container>
      <ng-container matColumnDef="typeIncome">
        <th mat-header-cell *matHeaderCellDef>Tipo de Ingreso</th>
        <td mat-cell *matCellDef="let row">{{row.nameIncome }}</td>
      </ng-container>
      <ng-container matColumnDef="amountPeriod">
        <th mat-header-cell class="number" *matHeaderCellDef>Monto Total</th>
        <td mat-cell class="number" *matCellDef="let row">{{row.amountPeriod|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="amountReal">
        <th mat-header-cell class="number" *matHeaderCellDef>Monto Real Total</th>
        <td mat-cell class="number" *matCellDef="let row">{{row.totalPay|dataMoney}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{period: row }"
                  matTooltip="Opciones" matTooltipPosition="left">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <p *ngIf="dataSource && dataSource.data.length == 0" class="notify-empty">No Existen Planillas</p>
  </ng-container>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-period="period">
    <button mat-menu-item *ngIf="period.open === false" (click)="completePeriod(period)">
      <span>Ver</span>
    </button>
    <button mat-menu-item *ngIf="period.open === true" (click)="completePeriod(period)">
      <span>Completar</span>
    </button>
    <button mat-menu-item (click)="editForm(period)">
      <span>Editar</span>
    </button>
    <button mat-menu-item *ngIf="period.open === true" (click)="closedForm(period)">
      <span>Cerrar y Crear deudas</span>
    </button>
    <button mat-menu-item (click)="deleteForm(period)">
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>



