<h1 mat-dialog-title>Mi Perfil</h1>
<form [formGroup]="formUser" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input formControlName="username" name="username" required matInput placeholder="Ejemplo: Juan Perez">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input formControlName="email" name="email" required matInput placeholder="Ejemplo: email@mail.com">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Celular</mat-label>
      <input formControlName="cell" name="cell" required matInput placeholder="Ejemplo: 77777777">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Foto</mat-label>
      <ngx-mat-file-input accept=".jpeg, .jpg, .png" #removableInput formControlName="picture" placeholder="Foto de usuario"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Foto del Carnet</mat-label>
      <ngx-mat-file-input accept=".jpeg, .jpg, .png, .pdf" #removableInput formControlName="pictureCI" placeholder="Foto del carnet"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Archivo de CV</mat-label>
      <ngx-mat-file-input accept=".jpeg, .jpg, .png, .pdf" #removableInput formControlName="cv" placeholder="Curriculum Vitae"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Direccion de Vivienda</mat-label>
      <input formControlName="location" name="location" required matInput placeholder="Ejemplo: Av. ">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
