<p mat-dialog-title>Subir Archivo</p>
<form [formGroup]="formTransaction" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Cuenta</mat-label>
      <input formControlName="accountBank" name="accountBank" required matInput placeholder="Ejemplo: 123456">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="fileDate" [matDatepicker]="picker" placeholder="Fecha del Archivo">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Archivo</mat-label>
      <!--      accept=".xlsx, .xls, .csv"-->
      <ngx-mat-file-input #removableInput formControlName="file" placeholder="Archivo"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
