<h1 mat-dialog-title>Asignar a Ingreso</h1>
<form [formGroup]="formIncome" (ngSubmit)="save()">
  <div mat-dialog-content>

    <label id="example-radio-group-label">Seleccione un tipo de ingreso</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="typeIncomeId">
      <mat-radio-button class="example-radio-button" *ngFor="let season of types" [value]="season.id" [disabled]="season.code != 203">
        {{season.nameIncome}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
