<h1 mat-dialog-title>Tipo de Propiedad</h1>
<form [formGroup]="formPropertyType" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input formControlName="name" name="name" required matInput placeholder="Ejemplo: Baulera">
      <mat-error>El Nombre debe estar en Singular</mat-error>
    </mat-form-field>
    <label id="example-radio-group-label">Es propiedad Complementaria?</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="type">
      <mat-radio-button class="example-radio-button" [value]="true">Si</mat-radio-button>
      <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
    </mat-radio-group>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
