<mat-toolbar class="with-line">
  <span>Deundas Registradas Manualmente</span>
  <span class="spacer-row"></span>
  <button *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Administrador'" mat-icon-button color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="content-admin">
  <!-- <div class="content-admin"> -->
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{ i + 1}} </td>
    </ng-container>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Propiedad</th>
      <td mat-cell *matCellDef="let row">{{row.code }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let row">{{row.type }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell class="number" *matHeaderCellDef>Monto Deuda</th>
      <td mat-cell class="number" *matCellDef="let row">{{row.amount|dataMoney }}</td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell class="number" *matHeaderCellDef>Total Pagado</th>
      <td mat-cell class="number" *matCellDef="let row">{{row.total|dataMoney }}</td>
    </ng-container>
    <ng-container matColumnDef="totalDebt">
      <th mat-header-cell class="number" *matHeaderCellDef>Total Saldo</th>
      <td mat-cell class="number" *matCellDef="let row">{{row.totalDebt|dataMoney }}</td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" matTooltip="Ver Deudas"
                [routerLink]="[row.propertyId]" matTooltipPosition="left">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>


  </table>
  <p *ngIf="dataSource && dataSource.data.length == 0" class="notify-empty">No Existen Deudas Manuales</p>
  <!-- </div> -->
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-debt="debt">
    <button mat-menu-item (click)="debtDelete(debt)">
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>



