.mat-toolbar {
    background: #fff !important;
}

.col-color td:nth-child(2n+3){
    background-color: red;
}

table{
  margin: auto;
}

.border-color{
    border-right: solid 1px #bcbcbc;
}

mat-checkbox{
    margin-right: 5px;
}

/* .debts-container {
    display: inline-flex;
    width: 10px;
} */

.row{
    display: flex;
}

.debts-selected {
    display: inline-block;
}

.box-debt{
    border: solid 1px white;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0px 3px 5px 0 #aeaeae;
    margin: 10px auto;
    width: 300px;
    cursor: pointer;
}

.box-debt:hover:not(.disabled){
    /* box-shadow: 0px 0px 0px 3px #077901; */
    box-shadow: 0px 0px 0px 3px #3467d694;
}

.box-debt.disabled {
  background-color: #ebebeb;
  /* box-shadow: 0 0 0 3px #087901, 0px 3px 5px 0 #aeaeae; */
  color: #8b8b8b;
  border-color: #c6c6c6;
  box-shadow: 0 0 0 0 white;
  cursor: not-allowed;
}

.box-debt.selected{
    background-color: whitesmoke;
    box-shadow: 0 0 0 3px #3467d6, 0px 3px 5px 0 #aeaeae;
}

.text-amuntPay {
  margin: 0 10px;
  padding: 5px;
  width: 300px;
  height: 20px;
  background: #f0f5fe;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px #3467d6;
}
.total-amount{
    font-size: 20px !important;
}

.debts-container{
  height: calc(100% - 75px);
  width: 500px;
  margin: 20px auto;
}

.debts{
  height: calc(100% - 80px);
    position: relative;
    overflow: auto;
}

.mat-card-content {
  display: block;
  margin-bottom: 12px;
}

.qr-container{
  width: 100%;
  height: calc(100% - 62px);
  display: inline-grid;
  align-items: center;
}

.qr-container img{
  margin: auto;
}
