<mat-toolbar class="with-line">
    <button mat-icon-button color="primary" routerLink="../">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Realizar un pago</span>
    <span class="spacer-row"></span>

  </mat-toolbar>
  <div class="content-admin">
    <mat-card class="debts-container">
      <mat-card-title *ngIf="generating; else generatingQRT">
        Seleccionar Deudas
      </mat-card-title>
      <ng-template #generatingQRT>
        <mat-card-title>
          Realizar el Pago
        </mat-card-title>
      </ng-template>

      <mat-card-content class="debts">
        <div *ngIf="generating; else generatingQR">

          <div style="width: 100%; text-align: center;">
            <mat-form-field appearance="fill" style="width: 94%;">
              <mat-label>Selececcione una cuenta Destino</mat-label>
              <mat-select [(ngModel)]="selectesForPay.bank" name="selectesForPay.bank" (ngModelChange)="enableDebts()">
                <mat-option *ngFor="let bank of banks"  [value]="bank.id">
                  {{bank.nameBank}} - {{bank.numberAccount}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div style="width: 100%;overflow: auto; position: relative;">
            <ng-container *ngFor="let debt of debts">
              <ng-container *ngIf="!debt.disabled">
                <div class="box-debt" [ngClass]="debt.isSelect ? 'selected' : debt.disabled ? 'disabled':''" (click)="selectDebt(debt)">
                  <div> <b>{{debt.date|abinPeriod}}</b></div>
                  <div ><b>{{debt.nameIncome}}</b></div>
                  <div class="row"><b>Total Deuda:</b> <span class="spacer-row"></span> <span>{{debt.amount|dataMoney}}</span></div>
                  <div class="row"><b>Total Pagado:</b> <span class="spacer-row"></span> <span>{{debt.total|dataMoney}}</span></div>
                  <div class="row"><b>Saldo Pendiente:</b><span class="spacer-row"></span><span>{{(debt.amount - debt.total)|dataMoney}}</span></div>
                </div>
              </ng-container>
              <ng-container *ngIf="debt.disabled">
                <div class="box-debt" [ngClass]="debt.isSelect ? 'selected' : debt.disabled ? 'disabled':''">
                  <div> <b>{{debt.date|abinPeriod}}</b></div>
                  <div ><b>{{debt.nameIncome}}</b></div>
                  <div class="row"><b>Total Deuda:</b> <span class="spacer-row"></span> <span>{{debt.amount|dataMoney}}</span></div>
                  <div class="row"><b>Total Pagado:</b> <span class="spacer-row"></span> <span>{{debt.total|dataMoney}}</span></div>
                  <div class="row"><b>Saldo Pendiente:</b><span class="spacer-row"></span><span>{{(debt.amount - debt.total)|dataMoney}}</span></div>
                </div>
              </ng-container>

            </ng-container>
          </div>
        </div>
        <ng-template #generatingQR>
          <div *ngIf="qrResponse.imagenQr" class="qr-container">
            <img  [src]="qrResponse.imagenQr" alt="imagen QR">
          </div>
        </ng-template>

      </mat-card-content>
      <mat-card-actions style="display: flex;" *ngIf="generating">
        <div class="text-amuntPay" style="display: flex;">
          <div style="font-size: 14px;">Total Monto a pagar </div>
          <span class="spacer-row"></span>
          <span class="total-amount">{{selectesForPay.total|dataMoney}}</span>
        </div>
        <span class="spacer-row"></span>
        <button mat-button color="primary" *ngIf="selectesForPay.selected.length > 0" (click)="acceptAndGenerate()">Continuar</button>
      </mat-card-actions>
      <mat-card-actions style="display: flex;" *ngIf="qrResponse.imagenQr">
        <div class="text-amuntPay" style="display: flex;">
          <div style="font-size: 14px;">Total Monto a pagar </div>
          <span class="spacer-row"></span>
          <span class="total-amount">{{selectesForPay.total|dataMoney}}</span>
        </div>
        <span class="spacer-row"></span>
        <!-- <button mat-button routerLink="../">Ya Realice el Pago</button> -->
      </mat-card-actions>
    </mat-card>

  </div>
