<mat-card *ngIf="horizontalProperty" [formGroup]="horizontalPropertyForm">
  <mat-card-title>Ajustes de La Propiedad
  </mat-card-title>
  <mat-divider></mat-divider>

  <mat-card-content>
    <p>Generar Expensas con fecha del :</p>
    <div class="help-date-config">
      <b>Mes actual</b>: crea la deuda del mes en curso. <br>
      <b>Mes anterior</b>: crear la deuda con fecha del mes anterior, se resta un mes.
     </div>
   <mat-radio-group aria-label="Opción" formControlName="dayPayInit">
     <mat-radio-button color="primary" [value]="true">Mes Actual</mat-radio-button>
     <mat-radio-button color="primary" [value]="false">Mes Anterior</mat-radio-button>
   </mat-radio-group>

    <br>
    <div class="help-date-config">
      <b>Dia</b> en el cual se crea la expensa.
    </div>
    <mat-form-field appearance="outline">
      <mat-label>D&iacute;a Especifico</mat-label>
      <input formControlName="day" type="number" matInput required placeholder="Ejemplo: 1...28">
      <mat-error *ngIf="horizontalPropertyForm.get('day').invalid">Debe ser entre 1 y 28</mat-error>
    </mat-form-field>

    <br>

    <p>Tiempo m&aacute;ximo de pago de <b>expensas</b> despues de su creación</p>
    <div class="help-date-config">
      <b>Meses</b>: Se suman N meses a la fecha de la creaci&oacute;n de expensa.<br>
      <b>Dias</b>: Se suman N dias desde a la fecha de creaci&oacute;n de expensa.
     </div>
    <mat-form-field appearance="outline">
      <mat-label>Meses</mat-label>
      <input formControlName="monthPayLimit" type="number" matInput required placeholder="Ejemplo: 0...12">
      <mat-error *ngIf="horizontalPropertyForm.get('monthPayLimit').invalid">Debe ser entre 0 y 12</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Dias</mat-label>
      <input formControlName="dayPayLimit" type="number" matInput required placeholder="Ejemplo: 1...28">
      <mat-error *ngIf="horizontalPropertyForm.get('dayPayLimit').invalid">Debe ser entre 0 y 28</mat-error>
    </mat-form-field>

  </mat-card-content>
  <div class="date-sample">
    <h6><b>Ejemplo</b></h6>
    <div>
      La deuda se genera el: <b>{{getSampleIni()}}</b>
    </div>
    <div>
      Con fecha limite de pago de: <b>{{getSempleEnd()}}</b>
    </div>
  </div>
  <mat-card-actions>
    <button mat-button type="button" color="primary" (click)="saveConfig()">Guardar</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="horizontalProperty" [formGroup]="typeIncomeForm">
  <mat-card-title>{{typeIncomeForm.get('nameIncome').value}}</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>

    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input formControlName="amount" type="number" matInput required placeholder="Ejemplo: 10">
    </mat-form-field>
    <br>
    <p>El monto es en Procentaje</p>
    <mat-radio-group aria-label="Opción" formControlName="isPercent">
      <mat-radio-button color="primary" [value]="true">Si</mat-radio-button>
      <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
    </mat-radio-group>
    <br>
    <p>Estado Actual <b>{{typeIncomeForm.get('activeIncome').value? 'Activo':'No Activo'}}</b></p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button type="button" color="primary" (click)="saveItem()">Guardar</button>
  </mat-card-actions>

</mat-card>
