mat-card {
  margin-top: 25px;
}
mat-card-title{
  height: 25px;
}
mat-card-content{
  margin-top: 20px;
}
mat-form-field {
  width: 100%;
}
mat-radio-button:first-child{
  width: calc(50% - 20px);
  margin: 10px;
}
mat-radio-button:last-child{
  width: calc(50% - 20px);
  margin: 10px;
}

.help-date-config{
  background: #2d358914;
  padding: 5px;
  font-size: 9px !important;
  line-height: 12px !important;
  border-radius: 5px;
  font-style: italic;
  margin-bottom: 5px;
}
.help-date-config b{
  font-size: 9px !important;
}
.date-sample{
  background-color: #f0f5fe;
  padding: 5px;
  border-radius: 5px;
  color: #3467d6;
}
