mat-card {
  margin: 10px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  height: 100px;
  background: #f6f6f6;
  margin: 5px 5px;
  width: calc(20% - 20px);
  border-radius: 5px;
  padding: 5px;
}

.pointer:hover {
  text-decoration: underline;
  color: #4d4dff;
  cursor: pointer;
  /*text-overflow: ellipsis;*/
  /*white-space: initial;*/
}

.container .file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .icon {
  width: 100%;
  height: 80px;
  text-align: center;
}

.container .icon img {
  height: 75px;
}

/*button {*/
/*  position: absolute;*/
/*}*/

@media screen and (min-width: 400px) {
  .item {
    width: calc(50% - 20px);
  }

  mat-card {
    width: 100%;
    /* background: white; */
    margin: 15px auto;
  }

}

@media screen and (min-width: 720px) {
  .item {
    width: calc(20% - 20px);
  }

  mat-card {
    width: 500px;
    /* background: white; */
    margin: 15px auto;
  }
}
