<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <mat-icon mat-list-icon class="pointer" (click)="showFile(file.fileName)">cloud</mat-icon>
        <div mat-line class="pointer" (click)="showFile(file.fileName)">{{file.fileNameOriginal}}</div>
        <div mat-line> {{file.public ? 'Publico hasta ' + (file.publish | abinDate) : 'No Publicado'}} </div>
        <mat-slide-toggle *ngIf="readNotOnly()" color="primary" [(ngModel)]="file.public" [name]="file.id"
                          (ngModelChange)="changeState(file)">Publicar
        </mat-slide-toggle>
        <button mat-icon-button *ngIf="readNotOnly()" (click)="deleteFile(file.id)" matTooltip="Eliminar">
          <mat-icon>deleted</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="files.length == 0">
        No Existen Archivos
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>



