mat-form-field {
  width: 100%;
}

mat-radio-button {
  display: block;
  margin: 10px 0;
}
tr td:first-child{
  padding: 0 15px;
}
.flex-options{
  display: flex;
}
.div-1{
  width: 80%;
}
.div-2{
  width: 20%;
  text-align: end;
  font-weight: 600;
}
