<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="formTransaction">
    <p mat-dialog-title>Transacci&oacute;n </p>
    <form [formGroup]="formTransaction">
      <div mat-dialog-content>

        <mat-form-field appearance="outline">
          <mat-label>Cuenta</mat-label>
          <input formControlName="accountBank" name="accountBank" required matInput placeholder="Ejemplo: 123456">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Fecha</mat-label>
          <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="date" matInput required [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>C&oacute;digo T.</mat-label>
          <input formControlName="transactionCode" name="transactionCode" required matInput
                 placeholder="Ejemplo: DAS123456">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Agencia</mat-label>
          <input formControlName="agency" name="agency" matInput placeholder="Ejemplo: Sucursal">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Referencia</mat-label>
          <input type="text" matInput formControlName="reference" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code">
              {{option.code}} - {{option.type}} - {{option.owner.nameOwner}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <ng-container *ngIf="withDebts">
          <br>
          <mat-error>La Propiedad Tiene Deudas Anteriores</mat-error>
          <br>
        </ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Glosa</mat-label>
          <input formControlName="gloss" name="gloss" matInput placeholder="Ejemplo: glosa">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Monto</mat-label>
          <input formControlName="amount" (ngModelChange)="setButtonState()" type="number" name="amount" required matInput placeholder="Ejemplo: 100">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Seleccionar Items</mat-label>
          <mat-select formControlName="onlyDebts" multiple>
            <mat-option *ngFor="let typeIncome of typesIncomesProperty" [ngStyle]="{background: typeIncome.balance > 0 ?'rgb(251 245 219)': '' }"
                        [value]="typeIncome.id">
              <div class="flex-options">
                <div class="div-1">{{typeIncome.nameIncome}}</div>
                <div class="div-2">{{typeIncome.totalDebt|dataMoney}}</div>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-radio-group (ngModelChange)="setButtonState()" formControlName="payDebt" aria-label="Seleccionar una opcion">
          <mat-radio-button [value]="0" *ngIf="withDebts && formTransaction.get('amount').value > 0">Deudas Anteriores</mat-radio-button>
          <mat-radio-button [value]="1" *ngIf="manualDebts && formTransaction.get('amount').value > 0">Deudas Manuales</mat-radio-button>
          <mat-radio-button [value]="2">Autom&aacute;tico</mat-radio-button>
        </mat-radio-group>
      </div>
      <div mat-dialog-actions>
        <button mat-button color="accent" type="button" mat-dialog-close>Cancelar</button>
        <button mat-button color="primary" type="button" *ngIf="visibleNextButton" matStepperNext>Siguiente</button>
        <button mat-button color="primary" type="button" *ngIf="visibleOnlySavedButton" (click)="save({onlySaved: true})">Solo Guardar</button>
        <button mat-button color="primary" type="button" *ngIf="visibleAcceptButton" (click)="save( {onProcess: true})">Aceptar</button>

      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="withDebts && getProperty() && formTransaction.get('payDebt').value === 0">
    <abin-transaction-debt-pay [id]="hp.id" [maxAmount]="formTransaction.get('amount').value" [propertyId]="getProperty().id" (saved)="save($event)" >
      <button mat-button color="accent" type="button" mat-dialog-close>Cancelar</button>
      <button mat-button color="primary" type="button" matStepperPrevious>Atras</button>
    </abin-transaction-debt-pay>
  </mat-step>
  <mat-step *ngIf="formTransaction.get('payDebt').value == 1 && getProperty()">
    <abin-transaction-income-debt [id]="hp.id" [maxAmount]="formTransaction.get('amount').value" [propertyId]="getProperty().id" (saved)="save($event)">
      <button mat-button color="accent" type="button" mat-dialog-close>Cancelar</button>
      <button mat-button color="primary" type="button" matStepperPrevious>Atras</button>
    </abin-transaction-income-debt>
  </mat-step>
</mat-horizontal-stepper>





