<h1 mat-dialog-title>Partidas</h1>
<form [formGroup]="formItem" (ngSubmit)="create()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Tipo de ingreso</mat-label>
      <mat-select formControlName="type">
        <mat-option>Seleccione uno</mat-option>
        <mat-option *ngFor="let item of items" [value]="item.id">{{item.nameItem}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Codigo Partida</mat-label>
      <input formControlName="code" name="code" type="number" matInput placeholder="Ejemplo: 101">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre Partida</mat-label>
      <input formControlName="name" name="name" matInput placeholder="Ejemplo: EXPENSAS DEPARTAMENTOS">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
