.mat-toolbar {
  background: #fff !important;
}

.content-kardex {
  width: 100%;
  height: 100%;
}

table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}

table, table th {
  padding: 5px 0 5px 10px;
}

mat-card {
  min-width: 700px;
  margin: 20px auto;
  max-width: 60px;
}

.content-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  background: #ffffffba;
}

mat-spinner {
  margin: auto;
  top: calc(50% - 20px);
}

.pos {
  max-width: 50px !important;
}

.amount {
  max-width: 100px !important;
}

.code {
  max-width: 100px !important;
}

.date {
  max-width: 100px !important;
}

button.mat-subheader{
  background: white;
  border: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  color: #272727;
  width: 100%;
}
.mat-subheader .mat-icon{
  position: absolute !important;
  left: 225px !important;
}
.is-open {
  background: #8c8c8c;
}
.nav-container-properties{
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  /* background: red; */
}

.nav-container-properties .properties {
  width: 100px;
  height: 100%;
  position: inherit;
  left: 0;
  overflow: hidden auto;
}

.nav-container-properties .periods {
  width: 200px;
  height: 100%;
  position: inherit;
  right: 0;
  overflow: hidden auto;
  border-left: solid 1px #e0e0e0;
}

