<mat-toolbar class="with-line">
  <button class="back-btn" matTooltip="Atr&aacute;s" mat-icon-button color="primary" (click)="backLocation()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  {{title}}
  <ng-container *ngIf="params">
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>{{params.type}}</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span *ngIf="property">{{property.code}}</span>
  </ng-container>
  <span class="spacer-row"></span>
  <button mat-icon-button *ngIf="readNotOnly()" matTooltip="Nueva Deuda" (click)="createDebt()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="readNotOnly()" matTooltip="Gráfico" (click)="showGraph()">
    <mat-icon>waterfall_chart</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="report()">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="loadIncomesByTypes()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <mat-drawer-container class="content-kardex" autosize>
    <mat-drawer class="example-sidenav" [disableClose]="true" [opened]="isOpen" mode="side">
      <div class="nav-container-properties">
        <div class="properties">
          <mat-nav-list>
            <a mat-list-item *ngFor="let property of properties" [ngClass]="params.propertyId==property.id ? 'active': ''" (click)="changeProperty(property)">{{property.code}}</a>
          </mat-nav-list>
        </div>
        <div class="periods">
          <mat-nav-list>
            <ng-container *ngFor="let project of projects">
              <button (click)="projectSelectA(project)" [ngClass]="project.isOpen ? 'is-open': ''" mat-subheader mat-ripple>{{project.yearIni|abinPeriod}} / {{project.yearEnd|abinPeriod}} <mat-icon *ngIf="project.isOpen">keyboard_arrow_up</mat-icon> <mat-icon *ngIf="!project.isOpen">keyboard_arrow_down</mat-icon></button>
              <mat-divider></mat-divider>
              <ng-container *ngIf="project.isOpen">
                <!-- [routerLink]="['../property']" [queryParams]="getParams(month)" -->
                <a mat-list-item *ngFor="let month of project.periods" (click)="changePeriod(month)" [ngClass]="params.month== month.monthNum && params.year == month.year ? 'active': ''">{{month.text}}</a>
              </ng-container>
            </ng-container>
          </mat-nav-list>
        </div>
      </div>

    </mat-drawer>
    <div class="content-kardex-month">
      <div class="note-center" *ngIf="!monthYearExist()">
        <mat-icon>touch_app</mat-icon>
        Debe Selecionar un A&ntilde;o-Mes de la Barra de Navegacion Izquierda. <br>
        Por ejemplo <b>2019-ENERO</b>
      </div>

      <abin-month-income *ngIf="monthYearExist()"
                         (reLoad)="loadIncomesByTypes()"
                         [itemsIncome]="itemIncomes"
                         [stateLoad]="stateLoad"
                         [property]="property"
                         [selectProject]="params.projectId"
                         [horizontalPropertyId]="this.horizontalPropertyId"></abin-month-income>
    </div>
  </mat-drawer-container>
</div>
<!--<mat-menu #menuAll="matMenu">-->
<!--  <ng-template matMenuContent  let-item="item">-->
<!--    <button mat-menu-item (click)="deletedDebt(item)">Eliminar Multa</button>-->
<!--&lt;!&ndash;    <button mat-menu-item (click)="updateDebt(item)">Editar Deuda</button>&ndash;&gt;-->
<!--  </ng-template>-->
<!--</mat-menu>-->
