<h1 mat-dialog-title>Reserva Manual</h1>
<form [formGroup]="recreationForm" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>&Aacute;rea de Recreaci&oacute;n</mat-label>
      <mat-select formControlName="recreationArea" placeholder="Recreación" (selectionChange)="changeRecreation()">
        <mat-option *ngFor="let b of recreationAreas" [value]="b">
          {{b.name}}
        </mat-option>
        <mat-option *ngIf="recreationAreas && recreationAreas.length === 0">No existen Areas de Recreacion</mat-option>
      </mat-select>
    </mat-form-field>
    <!--filter properties-->
    <mat-form-field appearance="outline">
      <mat-label>Propiedad</mat-label>
      <input type="text" matInput formControlName="property" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.code}} - {{option.type}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input [min]="max" placeholder="Ejemplo: dd/mm/aaaa" formControlName="date" matInput required [matDatepicker]="picker" (dateChange)="findDay()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [touchUi]="false"></mat-datepicker>
    </mat-form-field>
    <span></span>

    <div *ngIf="recreationSelect&&recreationSelect.isInvited">

      <label id="example-radio-group-label">Cantidad de Personas</label>
      <mat-radio-group formControlName="amountSelect">
        <mat-radio-button *ngFor="let a of recreationSelect.recreationAreaAmounts" color="primary" [value]="a">
          <div>
            <div *ngIf="a.peoplesIni != a.peoplesEnd">
<!--              <div>Persona(s)</div>-->
              <div>De {{a.peoplesIni}} a {{a.peoplesEnd}} Personas</div>
            </div>
            <div *ngIf="a.peoplesEnd == a.peoplesIni">
              <div>{{a.peoplesIni}} Persona(s)</div>
            </div>
            <div>Precio: {{a.amount}}</div>
            <div>Garantia: {{a.guarantee}}</div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="recreationSelect&&!recreationSelect.isInvited">
      <mat-form-field *ngIf="!recreationSelect.isInvited" appearance="outline">
        <mat-label>Monto</mat-label>
        <input [disabled]="true" [value]="recreationSelect ? recreationSelect.amount: 0" type="number" name="amount"
               required matInput>
      </mat-form-field>
      <mat-form-field *ngIf="recreationSelect && recreationSelect.amountGuarantee > 0" appearance="outline">
        <mat-label>Garantia</mat-label>
        <input [disabled]="true" [value]="recreationSelect.amountGuarantee" type="number" required matInput placeholder="Ejemplo: 100">
      </mat-form-field>
    </div>
    <ng-container  *ngIf="recreationSelect&&recreationSelect.isTimeUseLimit">
      <label id="example-radio-group-time">Hora de Reserva</label>
      <div style="display: inline-block">
        <mat-form-field class="responsive" appearance="outline">
          <mat-label>Desde Hora</mat-label>
          <input type="time" name="time" [(ngModel)]="time.start" (ngModelChange)="changeTime()" required matInput [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="responsive" appearance="outline">
          <mat-label>Cantidad en Horas</mat-label>
          <input type="number" [(ngModel)]="time.total" (ngModelChange)="changeTime()" [max]="recreationSelect.timeUseLimit" name="time" required matInput [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="responsive" appearance="outline">
          <mat-label>Hasta Hora</mat-label>
          <input disabled [(ngModel)]="time.end" type="time" name="time" required matInput [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </ng-container>
    <div *ngIf="recreationSelect">
      <div *ngIf="getHourUse() != 'No Disponible'">{{getHourUse()}}</div>
      <div *ngIf="getHourUse() == 'No Disponible'" style="color: red;">{{getHourUse()}}</div>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div>
      <div *ngIf="recreationSelect && recreationSelect.typeReservation === 'Mes'">
        Se realizar&aacute; una reserva: <br>
        desde {{getDateIni()}} hasta el {{getDateEnd()}}
      </div>
    </div>
    <br>
    <p><b>Nota: </b><em>Usted puede eliminar su reserva solo antes de las 00:00 horas de hoy, luego se procedera a
      generar una
      deuda para el pago de la reserva.</em></p>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
