mat-form-field {
  width: 100%;
}

mat-form-field.responsive {
  width: calc(33.33% - 7px);
  margin: 5px;
}
.responsive:first-child{
  margin-left: 0;
}
.responsive:last-child{
  margin-right: 0;
}

mat-radio-button{
  width: 100%;
  margin: 10px;
}
