.mat-toolbar {
  background: #fff !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: solid 1px #e0e0e0;
  padding: 5px 10px;
}

td {
  height: min-content;
}

td.input {
  padding: 0 !important;
}

td._number {
  text-align: right !important;
}


.card-form {
  width: auto;
}

mat-form-field {
  width: 100%;
}

.mat-card {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: max-content;
}

.mat-slide-toggle {
  width: 100%;
  height: 50px;
}

mat-card-actions {
  display: flex;
}

mat-checkbox {
  width: 513px;
  display: block;
  margin: 10px 25px;
}

section {
  margin-top: 25px;
}

mat-divider:last-child {
  border-top-color: transparent;
}

.input-content {
  position: relative;
  top: 0;
  height: 40px;
}

.input-content input {
  border: none;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  text-align: right;
  padding: 5px 10px;
  border-radius: 0;
  background-color: #f0f5fe;
}

.input-content input[disabled] {
  background-color: transparent !important;
}

.input-content textarea {
  resize: none;
  max-lines: 2;
  border: none;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  padding: 5px 10px;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  background-color: #f0f5fe;
}

.input-content textarea[disabled] {
  background-color: transparent !important;
}
col:nth-child(2n) {
  background: #fffef5;
}

/*akjahsdasdsa*/


thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background: #f0f5fe;;
  color: #3367d6;
  box-shadow: 1px 1px 0px 0px #e0e0e0;
  z-index: 9;
}
tr.first th {
  top: 0;
}

tr.second th {
  top: 24px;
}

thead th:first-child {
  left: 0;
  z-index: 1;
}

tbody th.first, thead th.first {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background: #f0f5fe;;
  color: #3367d6;  /*border-right: 1px solid #CCC;*/
  box-shadow: 1px 1px 0px 0px #e0e0e0;
  z-index: 10;
}
tbody th.second, thead th.second{
  left: 48px;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 1px 1px 0px 0px #e0e0e0;
  z-index: 10;
  text-align: start;
  background-color: #f0f5fe;
  font-weight: 400;
  color: #3367d6;
}
col:nth-child(2n - 1) {
  background: #fff9df;
}
th.max{
  width: 80px;
}


