<mat-toolbar class="with-line">
  <button mat-icon-button color="primary" routerLink="../">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Proyectos de Presupuesto</span>
  <mat-icon>chevron_right</mat-icon>
  <span *ngIf="project">{{project.yearIni|abinDate}} / {{project.yearEnd|abinDate}}</span>
  <span class="spacer-row"></span>
  <button mat-stroked-button *ngIf="project&&readNotOnly()" color="primary" (click)="modifications()">Modificaciones</button>
  <button mat-flat-button *ngIf="project&&project.state == false&&readNotOnly()" color="primary" (click)="save()">Guardar</button>

  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button color="primary" [matMenuTriggerFor]="type_report">
    <mat-icon>file_download</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <mat-card class="card-form">
    <mat-card-content>
      <table *ngIf="itemIncomes&&itemExpense" id="project">
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col *ngFor="let mon of months">
        <col>
        <col>
        <thead>
        <tr  class="first">
          <th class="first" style="z-index: 15">Cod.</th>
          <th class="second" style="z-index: 15"><b>Descripci&oacute;n</b></th>
          <th style="width: 2px;" *ngIf="visible&&readNotOnly()">Presupuesto <br> Mensual</th>
          <th>Presupuesto <br> Aprobado</th>

          <th>Modificaci&oacute;n <br> Presup.</th>
          <th>Presupuesto <br> Modificado</th>
          <!--          <th style="width: 400px">DESCRIPCION</th>-->
          <th *ngFor="let month of months" class="max">{{getHeaderMonth(month)}}</th>

          <th>Presupuesto <br> Ejecutado</th>
          <th>Saldo</th>

        </tr>
        </thead>
        <tbody>


        <ng-container *ngFor="let item of itemIncomes">
          <tr>
            <th class="first"><b>{{item.code}}</b></th>
            <th class="second"><b>{{item.nameItem}}</b></th>
            <td class="_number" *ngIf="visible&&readNotOnly()"><b>{{getItemTotal(item, 'typesIncomes')|dataMoneyEn:format}}</b></td>
            <td class="_number"><b>{{getItemTotalYear(item, 'typesIncomes')|dataMoneyEn:format}}</b></td>
            <ng-container *ngFor="let month of item.months">
              <td class="_number">
                <b>{{month.totalAmount|dataMoneyEn:format}}</b>
              </td>
            </ng-container>
          </tr>
          <ng-container *ngFor="let income of item.typesIncomes; let i = index">
            <tr>
              <th class="first">{{income.code}}</th>
              <th class="second">{{income.nameIncome}}</th>
              <td class="input" *ngIf="visible&&readNotOnly()">
                <div class="input-content">
                  <input type="number" [disabled]="project.state" #s (click)="s.select()"
                         [(ngModel)]="income.amountMonth"
                         (ngModelChange)="calculateYearMonth(income)">
                </div>
              </td>
              <td class="_number">
                {{income.amountYear|dataMoneyEn:format}}
              </td>
              <td *ngFor="let month of income.months" class="_number">
                {{month.totalAmount|dataMoneyEn:format}}
              </td>
            </tr>
          </ng-container>

        </ng-container>
        <tr>
          <th class="first"></th>
          <th class="second"><b>Total Ingresos</b></th>
          <td class="_number" *ngIf="visible&&readNotOnly()"><b>{{getTotalMonth(itemIncomes, 'typesIncomes')|dataMoneyEn:format}}</b></td>
          <td class="_number"><b>{{getTotalYear(itemIncomes, 'typesIncomes')|dataMoneyEn:format}}</b></td>
          <ng-container *ngFor="let month of totalIncomes">
            <td class="_number">
              <b>{{month.totalAmount| dataMoneyEn:format}}</b>
            </td>
          </ng-container>
        </tr>
        <tr>
          <td style="text-align: center" [colSpan]="visible ? totalIncomes.length + 4 : totalIncomes.length + 3"><b>Presupuesto de Gasto</b></td>
        </tr>

        <ng-container *ngFor="let item of itemExpense">
          <tr>
            <th class="first"><b>{{item.code}}</b></th>
            <th class="second"><b>{{item.nameItem}}</b></th>
            <td class="_number" *ngIf="visible&&readNotOnly()"><b>{{getItemTotal(item, 'typesExpenses')|dataMoneyEn:format}}</b></td>
            <td class="_number"><b>{{getItemTotalYear(item, 'typesExpenses')|dataMoneyEn:format}}</b></td>
            <ng-container *ngFor="let month of item.months">
              <td class="_number">
                <b>{{month.totalAmount| dataMoneyEn:format}}</b>
              </td>
            </ng-container>
          </tr>
          <ng-container *ngFor="let income of item.typesExpenses; let i = index">
            <tr>
              <th class="first">{{income.code}}</th>
              <th class="second">{{income.nameExpense}}</th>
              <td class="input" *ngIf="visible&&readNotOnly()">
                <div class="input-content">
                  <input type="number" [disabled]="project.state" #s (click)="s.select()"
                         [(ngModel)]="income.amountMonth"
                         (ngModelChange)="calculateYearMonth(income)">
                </div>
              </td>
              <td class="_number">
                {{income.amountYear|dataMoneyEn:format}}
              </td>
              <td *ngFor="let month of income.months" class="_number">
                {{month.totalAmount|dataMoneyEn:format}}
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <tr>
          <th class="first"></th>
          <th class="second"><b>Total Egresos</b></th>
          <td class="_number" *ngIf="visible"><b>{{getTotalMonth(itemExpense, 'typesExpenses')|dataMoneyEn:format}}</b></td>
          <td class="_number"><b>{{getTotalYear(itemExpense, 'typesExpenses')|dataMoneyEn:format}}</b></td>
          <ng-container *ngFor="let month of totalExpenses">
            <td class="_number">
              <b>{{month.totalAmount| dataMoneyEn:format}}</b>
            </td>
          </ng-container>
        </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<mat-menu #type_report="matMenu">
  <ng-template matMenuContent let-pos="pos">
    <button mat-menu-item (click)="printFormat('PDF')">Pdf</button>
    <button mat-menu-item (click)="printFormat('XLSX')">Excel</button>
  </ng-template>
</mat-menu>

