.mat-toolbar {
    background: #fff !important;
}
button.mat-subheader{
  background: white;
  border: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  color: #272727;
  width: 100%;
}
.mat-subheader .mat-icon{
  position: absolute !important;
  left: 225px !important;
}
.is-open {
  background: #8c8c8c;
}

.mat-toolbar .mat-stroked-button span{
  font-size: 12px !important;
}
