<mat-toolbar class="with-line">
<!--    <button *ngIf="filtered()" class="back-btn" matTooltip="Atr&aacute;s" mat-icon-button color="primary" routerLink=".">-->
<!--      <mat-icon>arrow_back</mat-icon>-->
<!--    </button>-->
    <span>Estado de Ingresos y Egresos</span>
    <ng-container *ngIf="filtered()" >
      <mat-icon>keyboard_arrow_right</mat-icon>
      <span>{{periodView()}}</span>
      <span class="spacer-row"></span>
      <button mat-stroked-button [matMenuTriggerFor]="menu" aria-label="level up">
        Ver Nivel {{level}}
      </button>
      <button mat-stroked-button aria-label="Cerrar" *ngIf="readNotOnly()" (click)="closeMonth()">
        Cerrar Mes
      </button>
      <button mat-icon-button color="primary" (click)="ngOnInit()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button color="primary" [matMenuTriggerFor]="type_report">
        <mat-icon>file_download</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
<!--  <div class="content-admin">-->
<!--    <div *ngIf="!filtered()" class="note-center">-->
<!--      No se a seleccionado los filtros necesarios para mostrar la informaci&oacute;n.-->
<!--      <br>-->
<!--      <br>-->
<!--      <abin-income-expense-state-filter (onSave)="ngOnInit()"></abin-income-expense-state-filter>-->
<!--    </div>-->

    <mat-drawer-container class="content-admin" autosize>
      <mat-drawer class="example-sidenav" [disableClose]="true" [opened]="true" mode="side">
        <!--      <mat-nav-list>-->
        <!--        <a mat-list-item *ngFor="let month of periods" [routerLink]="['../property']" [queryParams]="getParams(month)"-->
        <!--           routerLinkActive="active">{{month.text}}</a>-->
        <!--      </mat-nav-list>-->
        <mat-nav-list>
          <ng-container *ngFor="let project of projects">
            <button (click)="projectSelectA(project)" [ngClass]="project.isOpen ? 'is-open': ''" mat-subheader mat-ripple>{{project.yearIni|abinPeriod}} / {{project.yearEnd|abinPeriod}} <mat-icon *ngIf="project.isOpen">keyboard_arrow_up</mat-icon> <mat-icon *ngIf="!project.isOpen">keyboard_arrow_down</mat-icon></button>
            <mat-divider></mat-divider>
            <ng-container *ngIf="project.isOpen">
              <a mat-list-item *ngFor="let month of project.periods" [routerLink]="['../incomeExpenseState']" [queryParams]="getParams(month)"
                 routerLinkActive="active">{{month.text}}</a>
            </ng-container>
          </ng-container>
        </mat-nav-list>
      </mat-drawer>
      <ng-container *ngIf="filtered()">
        <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="changeTab($event)" animationDuration="0">
          <!-- <mat-tab *ngFor="let account of accounts">cuenta 1</mat-tab> -->
          <mat-tab *ngFor="let account of accounts">
            <ng-template mat-tab-label>
              {{account.account.nameBank}}<br>{{account.account.numberAccount}}
            </ng-template>
            <!-- <div> -->
            <abin-income-result
              [itemIncomes]="account.incomes"
              [itemExpenses]="account.expense"
              [period]="periodView()"
              [moreDetail]="level"
              [lastTotal]="account.lastTotal"
              [format]="format"
              [transfers]="account.transfers"
              [totalTransfer]="account.totalActualTransfer"
              [accounts]="account.balances"
              [horizontalPropertyId]="horizontalPropertyId"
              [bankId]="account.account.id"
            >

            </abin-income-result>

          </mat-tab>
        </mat-tab-group>
      </ng-container>

    </mat-drawer-container>


<mat-menu #menu="matMenu">
  <button (click)="setLevel(1)" mat-menu-item>
    <span>Nivel 1</span>
  </button>
  <button (click)="setLevel(2)" mat-menu-item>
    <span>Nivel 2</span>
  </button>
  <button (click)="setLevel(3)" mat-menu-item >
    <span>Nivel 3</span>
  </button>
</mat-menu>
<mat-menu #type_report="matMenu">
  <ng-template matMenuContent let-pos="pos">
    <button mat-menu-item (click)="printReport('PDF')">Pdf</button>
    <button mat-menu-item (click)="printReport('XLSX')">Excel</button>
  </ng-template>
</mat-menu>


