<h1 mat-dialog-title>Subir Archivo</h1>
<form [formGroup]="formRender" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="group" required>
        <mat-option>Seleccionar</mat-option>
        <mat-option *ngFor="let a of groups" [value]="a">
          {{a}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Archivo</mat-label>
      <ngx-mat-file-input #removableInput formControlName="file" placeholder="Respaldo"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

    <!--    <mat-radio-group *ngIf="formRender.get('group').value == 'Resolucion'" aria-label="Select an option"-->
    <!--                     formControlName="type">-->
    <!--      <mat-radio-button style="width: 100%;" value="Asamblea Ordinaria">Asamblea Ordinaria</mat-radio-button>-->
    <!--      <mat-radio-button style="width: 100%;margin: 20px 0px;" value="Asamblea Extraordinaria">Asamblea Extraordinaria-->
    <!--      </mat-radio-button>-->
    <!--    </mat-radio-group>-->

    <mat-form-field appearance="outline">
      <mat-label>Publicar Hasta Fecha</mat-label>
      <input formControlName="publish" matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <div>
      <mat-slide-toggle color="primary" formControlName="public">Publicar</mat-slide-toggle>
      <mat-slide-toggle *ngIf="data.send == true" color="primary" formControlName="send">Enviar a correos
      </mat-slide-toggle>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
