<abin-admin-horizontal-property>
  <mat-toolbar>
    Registrar Nueva Propiedad Horizontal
  </mat-toolbar>
  <mat-horizontal-stepper [disableRipple]="true" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="form">
      <ng-template matStepLabel>Datos de La Propiedad Horizontal</ng-template>
      <abin-admin-horizontal-property-form [stepper]="stepper"
                                           (formValid)="setForm($event)"
                                           (insertProperty)="reloadItems()"></abin-admin-horizontal-property-form>
    </mat-step>
    <mat-step [stepControl]="income">
      <ng-template matStepLabel>Partidas de Ingreso</ng-template>
      <abin-admin-horizontal-property-income #itemsIncome [horizontalProperty]="horizontalProperty" [stepper]="stepper"
                                             (formValid)="setItemsIncome($event)">
        <button mat-flat-button color="accent" type="button" cdkStepperPrevious class="cancel-button">Atras</button>
      </abin-admin-horizontal-property-income>
    </mat-step>
    <mat-step [stepControl]="expense">
      <ng-template matStepLabel>Partidas de Egreso</ng-template>
      <abin-admin-horizontal-property-expense #itemsExpense [horizontalProperty]="horizontalProperty"
                                              [stepper]="stepper"
                                              (formValid)="setItemsExpense($event)">
        <button mat-flat-button color="accent" type="button" cdkStepperPrevious class="cancel-button">Atras</button>
      </abin-admin-horizontal-property-expense>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <abin-admin-horizontal-property-ending>
        <button mat-flat-button type="button" color="warn" (click)="back()" class="cancel-button">Cancelar</button>
        <button mat-flat-button type="button" color="accent" cdkStepperPrevious class="cancel-button">Atras</button>
        <button mat-flat-button type="submit" color="primary" (click)="register()">Finalizar</button>
      </abin-admin-horizontal-property-ending>
    </mat-step>
  </mat-horizontal-stepper>

</abin-admin-horizontal-property>

