mat-toolbar{
  background: white;
  border-bottom: solid 1px #c7c7c7;
}
mat-card {
  min-width: 400px;
  margin: 20px auto;
  max-width: 600px;
  width: fit-content;
}

.content-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  background: #ffffffba;
}

mat-spinner {
  margin: auto;
  top: calc(50% - 50px);
}

.pos {
  max-width: 50px !important;
}

.amount {
  max-width: 100px !important;
}

.code {
  max-width: 100px !important;
}

.date {
  max-width: 100px !important;
}

table {
  border-collapse: collapse;
  width: 600px;
}

table, th, td {
  /*border: solid 1px #c9c9c9;*/
  padding: 5px 10px;
}

table.none {
  border-collapse: inherit;
}

table.none {
  border: none !important;
}

table.none td, th {
  border: none !important;
}

.text-grand {
  text-align: center;
  font-size: 30px;
}

.not-debt-data {
  text-align: center;
  padding: 50px;
}
mat-card-actions{
  padding: 10px !important;
}
.text-color{
  text-align: end;
  color: #3a67d6;
}
.end{
  text-align: end;
}
.color-warn{
  color: red;
}
.color-valid{
  color: green;
}
