<!--<div *ngIf="stateLoad" class="content-loader">-->
<!--  <mat-spinner [diameter]="40"></mat-spinner>-->
<!--</div>-->
<div *ngIf="!stateLoad">
  <ng-container *ngFor="let item of itemsIncome; let i = index">
    <ng-container>
      <mat-card *ngIf="isTypeIncome(item.typeIncome.nameIncome)">
<!--        <mat-card-header>-->
<!--        <mat-card-title>{{item.typeIncome.nameIncome}}</mat-card-title>-->
<!--        </mat-card-header>-->

        <mat-card-header>
          <div style="display: flex; width: 100%">
            <mat-card-title style="display: inline;margin-left: -30px;">{{item.typeIncome.nameIncome}}</mat-card-title>
            <span class="spacer-row"></span>
           <!-- <ng-container *ngIf="readNotOnly()">
             <button *ngIf="isDebt(item)" mat-icon-button style="margin-top: -10px;margin-right: -10px;" [mat-menu-trigger-for]="menu" [matMenuTriggerData]="{item: item}"><mat-icon>more_vert</mat-icon></button>

           </ng-container> -->
          </div>
        </mat-card-header>

        <mat-card-content>
          <ng-container>
            <table *ngIf="item.debts && item.debts.length > 0">
              <thead>
              <tr>
                <th>Total a pagar</th>
                <th>En Cuenta</th>
                <th>C&oacute;digo</th>
                <th>Importe</th>
                <th>Fecha</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let debt of item.debts">
                <tr>
                  <td [rowSpan]="(debt.debtIncomes.length + 1)" class="text-grand number">
                    {{debt.amount|dataMoney}}
                  </td>
                  <td class="color-warn" colspan="4" *ngIf="debt.debtIncomes.length == 0 && amountIsValid(item)">
                    Pago pendiente
                  </td>
                  <td class="color-valid" colspan="4" *ngIf="debt.debtIncomes.length == 0 && !amountIsValid(item)">
                    Deuda No Pagable
                  </td>
                  <td colspan="4" *ngIf="debt.debtIncomes.length > 0">
                  </td>

                    <ng-container *ngIf="readNotOnly()">
                      <td [rowSpan]="(debt.debtIncomes.length + 1)">
                        <button mat-icon-button style="margin-top: -10px;margin-right: -10px;" [mat-menu-trigger-for]="menu" [matMenuTriggerData]="{typeIncome: item.typeIncome, debt: debt}"><mat-icon>more_vert</mat-icon></button>
                      </td>
                    </ng-container>
                </tr>
                <ng-container *ngIf="debt.debtIncomes.length > 0">
                  <!-- <tr>
                    <td colspan="5"></td>

                  </tr> -->
                  <tr *ngFor="let debIncome of debt.debtIncomes">
                    <ng-container *ngIf="debIncome.transaction">
                      <td>{{debIncome.transaction.accountBank.nameBank}}</td>
                      <td>{{debIncome.transaction.transactionCode}}</td>
                      <td class="number">{{debIncome.amount|dataMoney}}</td>
                      <td class="number">{{debIncome.transaction.date|abinDate}}</td>
                    </ng-container>
                    <ng-container *ngIf="!debIncome.transaction">
                      <td colspan="2">Pagado con Anterioridad</td>
                      <td>{{debIncome.amount|dataMoney}}</td>
                      <td class="number">{{debIncome.datePay|abinDate}}</td>
                    </ng-container>
                  </tr>

                </ng-container>
                <tr *ngIf="isDebt(item)">
                  <td class="text-color number" *ngIf="debt.debtPayLimit" [colSpan]="5">Fecha Limite de Pago <b>{{debt.debtPayLimit|abinLiteralDate}}</b></td>
                  <td class="text-color number" *ngIf="!debt.debtPayLimit" [colSpan]="5">Deuda Anterior</td>
                </tr>
                <tr *ngIf="isDebt(item)&&readNotOnly()">
                  <td class="text-color number" *ngIf="debt.notPenalty" [colSpan]="5">Multa Eliminada</td>
                </tr>
                <tr *ngIf="isDebt(item) && readNotOnly()">
                  <td>
                    <mat-checkbox color="primary" (change)="deleteDeletePenalty(debt, $event)"
                                  [checked]="!debt.notPenalty"> {{!debt.notPenalty ? 'Genera Multa': 'No Genera Multa'}}
                    </mat-checkbox>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>

            <table class="none">
              <tr>
                <td colspan="3"></td>
                <td colspan="3"></td>
                <td>Monto Pagado</td>
                <td>{{getTotal(item.debts) |dataMoney}}</td>
                <td></td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td colspan="3"></td>
                <td>Saldo Total</td>
                <td>{{getTotalDebt(item)| dataMoney}}</td>
                <td></td>
              </tr>
            </table>
          </ng-container>
          <mat-card-actions *ngIf="isDetailsVisible(item.debts)">
            <ng-container>
              <p><b>Detalle</b></p>
              <ng-container *ngFor="let a of item.debts">
                <p *ngIf="a.detailVisible" style="padding-left: 20px;" >
                  {{a.detail}}
                </p>
              </ng-container>
            </ng-container>
          </mat-card-actions>
        </mat-card-content>


      </mat-card>
    </ng-container>

  </ng-container>

  <p class="not-debt-data" *ngIf="(!itemsIncome || itemsIncome.length == 0)">
    No Existen deudas ni pagos pendintes
  </p>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent  let-typeIncome="typeIncome" let-debt="debt">
    <button mat-menu-item (click)="show(debt, typeIncome)">Información</button>
    <button mat-menu-item [disabled]="debt.debtIncomes.length != 0" (click)="updateDebt(typeIncome, debt)">Editar deuda</button>
    <button mat-menu-item [disabled]="debt.debtIncomes.length != 0" (click)="deleteDebt(typeIncome, debt)">Eliminar deuda</button>
  </ng-template>
</mat-menu>
