<h1 mat-dialog-title>Publicar Archivo</h1>
<form [formGroup]="formDate" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Publicar Hasta Fecha</mat-label>
      <input formControlName="date" name="date" matInput required [min]="now" [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" type="button" (click)="cancelDate()">Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
