<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="formProperty">
    <h1 mat-dialog-title>Datos de Propiedad</h1>
    <div mat-dialog-content>
      <form [formGroup]="formProperty">
        <mat-form-field appearance="outline">
          <mat-label>C&oacute;digo</mat-label>
          <input formControlName="code" name="code" matInput required placeholder="Ejemplo: 1234">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Propiedad</mat-label>
          <input formControlName="name" name="name" matInput required placeholder="Ejemplo: A1...A9">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Superficie en m<sup>2</sup></mat-label>
          <input formControlName="m2" matInput required name="number" type="number" placeholder="Ejemplo: 150">
        </mat-form-field>
        <mat-form-field *ngIf="formProperty.get('expense')" appearance="outline">
          <mat-label>Monto de Expensa</mat-label>
          <input formControlName="expense" matInput required name="number" type="number" placeholder="Ejemplo: 250">
        </mat-form-field>
        <mat-form-field *ngIf="formProperty.get('sure')" appearance="outline">
          <mat-label>Monto del Seguro</mat-label>
          <input formControlName="sure" matInput required name="number" type="number" placeholder="Ejemplo: 250">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fecha de Inicio de cobro de expensas</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateInitPay">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>De preferencia el dia de inicio de cobro</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo de propiedad</mat-label>
          <mat-select formControlName="type">
            <mat-option>Seleccione uno</mat-option>
            <mat-option *ngFor="let type of propertyTypes" [value]="type.name">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ubicaci&oacute;n</mat-label>
          <mat-select formControlName="group">
            <mat-option>Ninguno</mat-option>
            <mat-option *ngFor="let group of propertyGroups" [value]="group.id">{{group.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="accent" matDialogClose>Cancelar</button>
      <button mat-button color="primary" matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="formCoOwner">
    <h1 mat-dialog-title>Datos del Propietario</h1>
    <div mat-dialog-content>
      <form [formGroup]="formCoOwner">
        <mat-form-field appearance="outline">
          <mat-label>Nombre Completo</mat-label>
          <input type="text"
                 matInput required
                 placeholder="Ejemplo: Juan Perez"
                 formControlName="nameOwner"
                 [matAutocomplete]="autoGroup">
          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-optgroup *ngFor="let group of groupsOwner | async" [label]="group.letter">
              <mat-option *ngFor="let ownerC of group.owners" [value]="ownerC.nameOwner"
                          (onSelectionChange)="setDataOwner(ownerC)">
                {{ownerC.nameOwner}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input formControlName="telephoneOwner" name="phone" type="number" matInput required
                 placeholder="Ejemplo: 4443210">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>
          <input formControlName="cellOwner" name="phone" type="number" matInput required
                 placeholder="Ejemplo: 76543210">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Correo Electronico</mat-label>
          <input formControlName="emailOwner" name="email" matInput required placeholder="Ejemplo: juanperez@mail.com">
        </mat-form-field>
        <section class="example-section">
          <mat-checkbox formControlName="check_tenant" color="primary" class="example-margin">Tiene Inquilino
          </mat-checkbox>
        </section>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="accent" matStepperPrevious>Atras</button>
      <button mat-button color="primary" matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step *ngIf="formCoOwner.get('check_tenant').value === true" [stepControl]="formTenant">
    <h1 mat-dialog-title>Datos del Inquilino</h1>
    <div mat-dialog-content>
      <form [formGroup]="formTenant">
        <mat-form-field appearance="outline">
          <mat-label>Nombre Completo</mat-label>
          <input formControlName="nameTenant" name="name" matInput required placeholder="Ejemplo: Juan Perez">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input formControlName="telephoneTenant" name="phone" type="number" matInput required
                 placeholder="Ejemplo: 4443210">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>
          <input formControlName="cellTenant" name="phone" type="number" matInput required
                 placeholder="Ejemplo: 76543210">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Correo Electronico</mat-label>
          <input formControlName="emailTenant" name="email" matInput required placeholder="Ejemplo: juanperez@mail.com">
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="accent" matStepperPrevious>Atras</button>
      <button mat-button color="primary" matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step>
    <h1 mat-dialog-title>Finalizar</h1>
    <div mat-dialog-content>
      Una ves concluido el registro usted podr&aacute; modificar solo los datos del propietario y del inquilino
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn" (click)="cancel()">Cancelar</button>
      <button mat-button color="accent" matStepperPrevious>Atras</button>
      <button mat-button color="primary" matStepperNext (click)="create()">Finalizar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

