<h1 mat-dialog-title>Periodo</h1>
<form [formGroup]="formFilter" (ngSubmit)="send()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Mes</mat-label>
      <mat-select formControlName="month">
        <mat-option value="1">Enero</mat-option>
        <mat-option value="2">Febrero</mat-option>
        <mat-option value="3">Marzo</mat-option>
        <mat-option value="4">Abril</mat-option>
        <mat-option value="5">Mayo</mat-option>
        <mat-option value="6">Junio</mat-option>
        <mat-option value="7">Julio</mat-option>
        <mat-option value="8">Agosto</mat-option>
        <mat-option value="9">Septiembre</mat-option>
        <mat-option value="10">Octubre</mat-option>
        <mat-option value="11">Noviembre</mat-option>
        <mat-option value="12">Diciembre</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>A&ntilde;o</mat-label>
      <input formControlName="year" type="number" placeholder="Año" matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
