<h1 mat-dialog-title>Reservar</h1>
<form [formGroup]="recreationForm" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>&Aacute;rea de Recreaci&oacute;n</mat-label>
      <mat-select formControlName="recreationArea" placeholder="Recreación" (selectionChange)="changeRecreation()">
        <mat-option *ngFor="let b of recreationAreas" [value]="b">
          {{b.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input [disabled]="true" [value]="recreationSelect ? recreationSelect.amount: 0" type="number" name="amount"
             required matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cantidad</mat-label>
      <input formControlName="quantity" name="typeIncome" required matInput type="number" placeholder="Ejemplo: 12">
      <span matSuffix>{{recreationSelect ? recreationSelect.unity : ''}}</span>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Total Monto en Bolivianos</mat-label>
      <input formControlName="totalAmount" type="number" required matInput placeholder="Ejemplo: 100">
    </mat-form-field>
    <p><b>Nota: </b><em>Usted puede eliminar su reserva solo antes de las 00:00 horas de hoy, luego se procedera a
      generar una
      deuda para el pago de la reserva.</em></p>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
