<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="formForm" [formGroup]="formForm">
    <h1 mat-dialog-title>Nueva Planilla</h1>
    <div mat-dialog-content>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Tipo de Ingreso</mat-label>
        <mat-select formControlName="typeIncomeId" required placeholder="seleccionar tipo de Ingreso">
          <mat-option *ngFor="let b of typeIncomes" [value]="b.id">
            {{b.nameIncome}}
          </mat-option>
          <mat-option *ngIf="typeIncomes && typeIncomes.length == 0">
            No existen tipos de ingresos
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Periodo</mat-label>
        <mat-select formControlName="period" (ngModelChange)="setPeriod()">
          <mat-option *ngFor="let period of periods" [value]="period.period">{{period.month}} - {{period.year}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br>
      <p>Generar Planillas de:</p>
      <section class="section-check">
        <mat-checkbox *ngFor="let f of formIncomePropertyOfCreates" class="margin-check" [(ngModel)]="f.select" [ngModelOptions]="{standalone: true}" color="primary">{{f.value}}</mat-checkbox>
      </section>
      <mat-divider></mat-divider>
      <br>
      <p>Correspondiente a:</p>
      <!--    <br>-->
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Mes</mat-label>
        <mat-select formControlName="ofMonth" required placeholder="Seleccionar Mes">
          <mat-option *ngFor="let m of months; let i = index" [value]=" i + 1">
            {{m}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>A&ntilde;o</mat-label>
        <input formControlName="ofYear" name="amountPeriod" required matInput placeholder="Ejemplo: 2020">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de Lectura</mat-label>
        <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="formDateReader" (click)="picker.open()"
               [readonly]="true" matInput required [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="accent" matDialogClose>Cancelar</button>
      <button mat-button color="primary" matStepperNext>Siguiente</button>
    </div>
  </mat-step>


  <mat-step [stepControl]="formReceiptAmount" [formGroup]="formReceiptAmount">
    <div style="display: flex"><h1 mat-dialog-title>Recibos del Agua</h1> <span class="spacer-row"></span>
      <button mat-icon-button (click)="addReceipt()" matTooltip="Añadir" style="margin-right: -5px; margin-top: -5px">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <table>
        <thead>
        <tr>
          <!--            <th>#</th>-->
          <th>Detalle</th>
          <th>Monto</th>
          <th>Archivo</th>
          <th>Opcion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of  formReceipts; let i = index">
          <td>{{a.receiptOther}}</td>
          <td>{{a.receiptAmount|dataMoney}}</td>
          <td>{{a.receiptFile.name}}</td>
          <td><button (click)="deleteReceipt(i)" mat-icon-button><mat-icon>delete</mat-icon></button></td>
        </tr>
        </tbody>
      </table>
      <mat-divider></mat-divider>
      <mat-form-field appearance="outline">
        <mat-label>Monto Total</mat-label>
        <input formControlName="amountPeriod" type="number" name="amountPeriod" required matInput placeholder="Ejemplo: 123456">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn" matDialogClose>Cancelar</button>
      <button mat-button color="accent" matStepperPrevious>Atras</button>
      <button mat-button color="primary" matStepperNext>Siguiente</button>
    </div>
  </mat-step>


  <mat-step>
    <h1 mat-dialog-title>Factor de Cobro</h1>
    <div mat-dialog-content>
      <table>
        <thead>
          <tr>
<!--            <th>#</th>-->
            <th>Codigo</th>
            <th>Propiedad</th>
            <th>Incremento %</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of  properties">
<!--            <td>-->
<!--              <mat-checkbox [(ngModel)]="a.selected" color="primary"></mat-checkbox>-->
<!--            </td>-->
            <td>{{a.code}}</td>
            <td>{{a.name}}</td>
            <td class="_number">
              <div class="input-content">
                <input class="number" type="number" [(ngModel)]="a.increment" [name]="a.id">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn" matDialogClose>Cancelar</button>
      <button mat-button color="accent" matStepperPrevious>Atras</button>
      <button mat-button color="primary" matStepperNext (click)="save()">Finalizar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


