mat-form-field {
  width: 100%;
}

.dates {
  display: flex;
}

.dates div {
  width: calc(50% - 30px);
  margin-right: 10px;
}

.dates .mat-icon-button {
  margin-top: 6px;
}

table {
  width: 100%;
}

input[type="number"] {
  width: 100px;
  height: 24px;
}
td._number{
  width: 108px;
}
/*td:first-child{*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  padding-left: 10px;*/
/*}*/
thead tr th {
  text-align: left;
}

input[type="text"] {
  /*width: 100px;*/
  height: 24px;
}

mat-divider{
  margin-top: 20px;
  margin-bottom: 15px;
}
.section-check {
width: 100%;
}
.margin-check{
  margin-left: 15px;
}
