<h1 mat-dialog-title>Detalles de la Reserva</h1>
<div mat-dialog-content>
  <p></p>

  <table>
    <tr>
      <td><b>&Aacute;rea de Recreaci&oacute;n</b></td>
      <td>: {{eventSelect.recreationArea.name}}</td>
    </tr>
    <tr>
      <td><b>Tiempo</b></td>
      <td>: {{eventSelect.allDay ? 'Todo el día' : eventSelect.date | dateTime}}</td>
    </tr>
    <tr>
      <td><b>Estado</b></td>
      <td>: {{eventSelect.recreationAreaReservationDetail.state}}</td>
    </tr>
    <tr>
      <td><b>Monto</b></td>
      <td>: {{eventSelect.recreationAreaReservationDetail.amount|dataMoney}} Bs</td>
    </tr>
    <tr>
      <td><b>Garantia</b></td>
      <td>: {{eventSelect.recreationAreaReservationDetail.guarantee|dataMoney}} Bs</td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Cerrar</button>
  <button mat-button color="primary" type="button" (click)="deleteEvent()">Eliminar</button>
</div>
