<form [formGroup]="reset" (ngSubmit)="send()">
  <mat-card class="mat-elevation-z3">
    <mat-card-title>Restablecer contrase&ntilde;a</mat-card-title>
    <div mat-card-image>
      <img  src="/assets/LOGO_cube.svg" alt="abin logo">
    </div>
    <mat-card-content>
      <p>Para recuperar su contrase&ntilde;a introdusca su correo electronico.</p>
      <p>En la bandeja de entrada de su correo recibir&aacute; un c&oacute;digo &uacute;nico que deber&aacute; ser
        introducido para restablecer su
        contrase&ntilde;a</p>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input formControlName="email" matInput required placeholder="correo@abinsrl.com">
        <mat-error
          *ngIf="(reset.get('email').hasError('required'))">
          requerido
        </mat-error>
        <mat-error
          *ngIf="(reset.get('email').hasError('email'))">
          correo invalido
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer-row"></span>
      <button (click)="cancel()" type="button" mat-button color="accent">Cancelar</button>
      <button type="submit" mat-button color="primary">Enviar C&oacute;digo</button>
    </mat-card-actions>

  </mat-card>
</form>
