<mat-toolbar class="with-line">
  <button class="back-btn" matTooltip="Atr&aacute;s" mat-icon-button color="primary" routerLink="../">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{title}}</span>
  <ng-container *ngIf="property">
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>{{property.name}}</span>
  </ng-container>
<!--  <ng-container *ngIf="params&&filtered()">-->
    <span class="spacer-row"></span>
    <button mat-icon-button matTooltip="Filtrar" color="primary" (click)="OpenFilter()">
      <mat-icon>filter_alt</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Imprimir" color="primary" (click)="report()">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refrescar" color="primary" (click)="reloadData()">
      <mat-icon>refresh</mat-icon>
    </button>
<!--  </ng-container>-->
</mat-toolbar>
<div class="content-admin">
  <mat-drawer-container  class="content-kardex-owner" autosize>
    <mat-drawer class="example-sidenav" [disableClose]="true" [opened]="isOpen" mode="side">

      <div class="mat-drawer-container">
        <mat-nav-list>
          <ng-container *ngFor="let project of projects">
            <button (click)="projectSelectA(project)" [ngClass]="project.isOpen ? 'is-open': ''" mat-subheader mat-ripple>{{project.yearIni|abinPeriod}} / {{project.yearEnd|abinPeriod}} <mat-icon *ngIf="project.isOpen">keyboard_arrow_up</mat-icon> <mat-icon *ngIf="!project.isOpen">keyboard_arrow_down</mat-icon></button>
            <mat-divider></mat-divider>
            <ng-container *ngIf="project.isOpen">
              <a mat-list-item *ngFor="let month of project.periods" [routerLink]="['../filter']" [queryParams]="getParams(month)"
                 routerLinkActive="active">{{month.text}}</a>
            </ng-container>
          </ng-container>
        </mat-nav-list>
      </div>

    </mat-drawer>
    <div class="content-kardex-month">
      <div class="note-center" *ngIf="!monthYearExist()">
        <mat-icon>touch_app</mat-icon>
        Debe Selecionar un A&ntilde;o-Mes de la Barra de Navegacion Izquierda. <br>
        Por ejemplo <b>2019-ENERO</b>
      </div>
      <abin-month-income *ngIf="monthYearExist()" [itemsIncome]="itemIncomes" [stateLoad]="stateLoad"
                         [property]="property"
                         [selectProject]="params.projectId"></abin-month-income>
    </div>
  </mat-drawer-container>
</div>
