mat-form-field {
  width: 100%;
}

.weekDays-selector {
  margin-bottom: 15px;
}

.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 50%;
  background: #dddddd;
  height: 40px;
  width: 40px;
  margin-right: 3px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox] + label:hover {
  box-shadow: inset 0 0 0 1px #004273;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #004273;
  color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: solid 1px #c9c9c9;
  padding: 0 10px;
}

td {
  height: min-content;
}

td.input {
  padding: 0 !important;
}

td._number {
  text-align: right !important;
}

.input-content {
  position: relative;
  top: 0;
  height: 40px;
}

.input-content input {
  border: none;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  text-align: right;
  padding: 5px 10px;
  border-radius: 0;
  /*background-color: #f0f5fe;*/
}

.input-content input[disabled] {
  background-color: transparent !important;
}

.input-content textarea[disabled] {
  background-color: transparent !important;
}

.flex.m3 {
  width: calc((calc(90% / 3) - 10px));
}

.flex.m3.center {
  margin-left: 10px;
  margin-right: 10px;
}
