<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="recreationForm">
    <h1 mat-dialog-title>&Aacute;rea Social</h1>
    <div mat-dialog-content [formGroup]="recreationForm">
      <mat-form-field appearance="outline">
        <mat-label>&Aacute;rea Social</mat-label>
        <input formControlName="name" type="text" name="name" required matInput
               placeholder="Ejemplo: Área de Recreación">
      </mat-form-field>
      <div style="margin-bottom: 15px;margin-left: 15px;">
        <mat-checkbox color="primary" formControlName="isInvited">Tiene Costo por n&uacute;mero de invitados
        </mat-checkbox>
      </div>
      <mat-form-field *ngIf="!recreationForm.get('isInvited').value" appearance="outline">
        <mat-label>Costo de Uso</mat-label>
        <input formControlName="amount" type="number" name="amount"
               required matInput>
      </mat-form-field>
      <mat-form-field *ngIf="!recreationForm.get('isInvited').value" appearance="outline">
        <mat-label>Garantia de uso</mat-label>
        <input formControlName="amountGuarantee" type="number" required matInput placeholder="Ejemplo: Dia">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>N&deg; max. de Usuarios</mat-label>
        <input formControlName="usersLimit" name="usersLimit" required matInput placeholder="Ejemplo: 1">
      </mat-form-field>
      <div style="margin-bottom: 15px;margin-left: 15px;">
        <mat-checkbox color="primary" formControlName="isTimeUseLimit">Tiene m&aacute;ximo tiempo de uso en Hrs.
        </mat-checkbox>
      </div>
      <mat-form-field *ngIf="recreationForm.get('isTimeUseLimit').value == true" appearance="outline">
        <mat-label>M&aacute;ximo tiempo de uso en Hrs.</mat-label>
        <input formControlName="timeUseLimit" type="number" name="maxNumber"
               required matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tipo de reserva</mat-label>
        <mat-select formControlName="typeReservation" required>
          <mat-option disabled>Seleccione na Opci&oacute;n</mat-option>
          <mat-option value="Hora">Hora</mat-option>
          <mat-option value="Dia">D&iacute;a</mat-option>
          <mat-option value="Mes">Mes</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div style="margin-bottom: 15px;margin-left: 15px;">
        <mat-checkbox color="primary" formControlName="generateReceipt">Generar recibo</mat-checkbox>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Reglamento</mat-label>
        <ngx-mat-file-input #removableInput formControlName="file" placeholder="Reglamento"></ngx-mat-file-input>
        <!--      <mat-icon matSuffix>folder</mat-icon>-->
        <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
                (click)="removableInput.clear($event)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="fileDisplay()">Archivo Actual <p>{{recreationForm.get('file').value}}</p></mat-error>

    </div>
    <div mat-dialog-actions>
      <button mat-button color="accent" matDialogClose>Cancelar</button>
      <button mat-button color="primary" matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step [completed]="intervalValid()" *ngIf="recreationForm.get('isInvited').value == true">
    <h1 mat-dialog-title>Precios</h1>
    <div mat-dialog-content>
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Desde</th>
          <th>Hasta</th>
          <th>Precio</th>
          <th>Garantia</th>
          <th style="width: 40px"></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let income of intervals; let i = index">
          <tr>
            <td>{{i + 1}}</td>
            <td class="input">
              <div class="input-content">
                <input type="number" [(ngModel)]="income.peoplesIni" [ngModelOptions]="{standalone: true}"
                       [name]="income.peoplesIni + i">
              </div>
            </td>
            <td class="input">
              <div class="input-content">
                <input type="number" [(ngModel)]="income.peoplesEnd" [ngModelOptions]="{standalone: true}"
                       [name]="income.peoplesEnd + i">
              </div>
            </td>
            <td class="input">
              <div class="input-content">
                <input type="number" [(ngModel)]="income.amount" [ngModelOptions]="{standalone: true}"
                       [name]="income.amount + i">
              </div>
            </td>
            <td class="input">
              <div class="input-content">
                <input type="number" [(ngModel)]="income.guarantee" [ngModelOptions]="{standalone: true}"
                       [name]="income.guarantee + i">
              </div>
            </td>
            <td>
              <button mat-icon-button color="primary" (click)="deleteInterval(i)">
                <mat-icon>deleted</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <button style="width: 100%; margin-top: 20px;" mat-stroked-button type="button" (click)="addInterval()">Agregar
        Precio
      </button>
    </div>

    <div mat-dialog-actions>
      <button mat-button color="accent" matStepperPrevious>Atras</button>
      <button mat-button color="primary" matStepperNext>Siguiente</button>
    </div>
  </mat-step>


  <mat-step [completed]="daysValid()">
    <h1 mat-dialog-title>Dias Diponibles</h1>
    <div mat-dialog-content>
      <ng-container *ngFor="let day of days">
        <div style="display: flex">
          <div style="width: 10%; margin: 15px 0 0 12px;">
            <mat-checkbox color="primary" [(ngModel)]="day.available"></mat-checkbox>
          </div>
          <div class="flex m3" style="margin: 15px 0 0 10px;">{{day.day}}</div>
          <mat-form-field class="flex m3 center" appearance="outline">
            <mat-label>Hora Inicio</mat-label>
            <input name="timeIni" [(ngModel)]="day.timeIni" [disabled]="!day.available" matInput type="time"
                   placeholder="Ejemplo: 00:00">
          </mat-form-field>
          <mat-form-field class="flex m3" appearance="outline">
            <mat-label>Hora Fin</mat-label>
            <input name="dateEnd" [(ngModel)]="day.timeEnd" [disabled]="!day.available" matInput type="time"
                   placeholder="Ejemplo: 00:00">
          </mat-form-field>
        </div>
      </ng-container>

    </div>
    <div mat-dialog-actions>
      <button mat-button color="accent" matStepperPrevious>Atras</button>
      <button mat-button color="primary" matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step>
    <h1 mat-dialog-title>Finalizar</h1>
    <div mat-dialog-content>
      Esta Seguro de finalizar el Registro?
    </div>
    <div mat-dialog-actions>
      <button mat-button color="warn" (click)="cancel()">Cancelar</button>
      <button mat-button color="accent" matStepperPrevious>Atras</button>
      <button mat-button color="primary" matStepperNext (click)="save()">Finalizar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


