<mat-card>
  <mat-card-title
    *ngIf="item">{{item.typeIncome ? item.typeIncome.nameIncome : item.typeExpense.nameExpense}}</mat-card-title>
  <table id="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Fecha</th>
      <th>N&deg; Recibo</th>
      <th>Detalle</th>
      <th>Monto</th>
      <th>Saldo</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="4" class="money"><b>Presupuesto Aprobado</b></td>
      <td></td>
      <td class="money">{{debt|dataMoney}}</td>
    </tr>
    <tr *ngFor="let transaction of ledgers; let i = index">
      <td>{{i + 1}}</td>
      <td>{{transaction.date|abinDate}}</td>
      <td>{{transaction.receipt}}</td>
      <td>{{transaction.gloss}}</td>
      <td class="money">{{transaction.amount|dataMoney}}</td>
      <td class="money">{{transaction.debt|dataMoney}}</td>
    </tr>
    <tr>
      <td colspan="4" class="money"><b>Total</b></td>
      <td class="money">{{total|dataMoney}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</mat-card>

