
table {
  width: 800px;
  border-collapse: collapse;
  align-content: center;
  margin: 15px auto;
}

table, th, td {
  border: solid 1px #c9c9c9;
  padding: 5px 10px;
}

.money {
  text-align: right;
}

mat-card {
  width: fit-content;
  margin: 20px auto;
}
