<h1 mat-dialog-title>Registro  Manual</h1>
<form [formGroup]="debtForm" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Propiedad</mat-label>
      <input formControlName="propertyName" type="text" matInput placeholder="Ejemplo: 100">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Tipo de Ingreso</mat-label>
      <mat-select formControlName="typeIncomeProperty" placeholder="Seleccionar tipo de Ingreso">
        <mat-option *ngFor="let b of typesIncomesProperty" [value]="b.id">
          {{b.typeIncome.nameIncome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de deuda</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="date" matInput required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input formControlName="amount" type="number" name="amount" class="number" required matInput placeholder="Ejemplo: 100">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Detalle</mat-label>
      <textarea matInput formControlName="detail" [rows]="4"></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
