<!--<form (ngSubmit)="accept()">-->
<mat-card class="card-form">
  <mat-card-content>
    <h3 mat-card-title>Se Proceder&aacute; a Registrar a la Nueva Propiedad Horizontal !</h3>
    <br>
    La informaci&oacute;n proporcionda no podr&aacute; ser modificada al concluir el registro.
    <br>
    A exepci&oacute;n de la fecha de Cobro de Expensa y las partidas de Egreso e Ingreso
  </mat-card-content>
  <mat-card-actions>
    <span class="spacer-row"></span>
    <ng-content></ng-content>
  </mat-card-actions>
</mat-card>
<!--</form>-->
