<mat-toolbar class="with-line">
  <span>{{title}}</span>
  <span class="spacer-row"></span>
  <button mat-icon-button matTooltip="Nuevo" color="primary" (click)="openDialog()" *ngIf="readNotOnly()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Imprimir" (click)="reportProperties()">
    <mat-icon>print</mat-icon>
  </button>
<!--  <button mat-icon-button matTooltip="Mas">-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--  </button>-->
</mat-toolbar>
<div class="content-admin">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="readNotOnly() && row.property_code" class="icon">
          <div class="content">
            <mat-icon matTooltip="No se Enviaran Correos" class="red" *ngIf="row.owner_sendEmail === false">gpp_bad</mat-icon>
            <mat-icon matTooltip="Se Enviaran Correos" class="green" *ngIf="row.owner_sendEmail === true">gpp_good</mat-icon>
          </div>
          <div class="content text">{{row.property_code}}</div>
        </div>
        <ng-container *ngIf="!readNotOnly() && row.property_code">
          {{row.property_code}}
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Propiedad</th>
      <td mat-cell *matCellDef="let row"> {{row.property_name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
      <td mat-cell *matCellDef="let row"> {{row.property_type}} </td>
    </ng-container>

    <ng-container matColumnDef="m2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Superficie m<sup>2</sup></th>
      <td mat-cell *matCellDef="let row" class="number"> {{row.property_m2| dataMoney}} m<sup>2</sup></td>
    </ng-container>

    <!--    <ng-container matColumnDef="expense">-->
    <!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Expensa</th>-->
    <!--      <td mat-cell class="number" *matCellDef="let row"> {{row.property_expense| dataMoney}} </td>-->
    <!--    </ng-container>-->

    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Propietario</th>
      <td mat-cell *matCellDef="let row"> {{row.owner_nameOwner}} </td>
    </ng-container>

    <ng-container matColumnDef="tenant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inquilino</th>
      <td mat-cell *matCellDef="let row"> {{row.tenant_nameTenant}} </td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{owner: row}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-owner="owner">
    <!--    <button mat-menu-item (click)="show(owner)">-->
    <!--      <span>Ver</span>-->
    <!--    </button>-->
    <button mat-menu-item [mat-menu-trigger-for]="owner_menu" [matMenuTriggerData]="{owner: owner}" *ngIf="readNotOnly()">
      <span>Propietario</span>
    </button>
    <button mat-menu-item [mat-menu-trigger-for]="tenant_menu" [matMenuTriggerData]="{tenant: owner}" *ngIf="readNotOnly()">
      <span>Inquilino</span>
    </button>

    <button mat-menu-item *ngIf="owner.property_code" (click)="showLiquidation(owner.property_id)">
      <span>Ver liquidaci&oacute;n</span>
    </button>

    <button mat-menu-item (click)="updateSendEmail(owner.owner_id)" *ngIf="readNotOnly() && owner.property_code">
      <span *ngIf="owner.owner_sendEmail === false">Habitar Correo</span>
      <span *ngIf="owner.owner_sendEmail === true">Deshabilitar Correo</span>
    </button>

    <button mat-menu-item (click)="updateProperty(owner)" *ngIf="readNotOnly()">
      <span>Actualizar Propiedad</span>
    </button>

    <button mat-menu-item (click)="delete(owner.property_id)" *ngIf="readNotOnly()">
      <span>Eliminar Propiedad</span>
    </button>

    <button mat-menu-item (click)="showHistory(owner)">Historial</button>
  </ng-template>
</mat-menu>
<mat-menu #tenant_menu="matMenu">
  <ng-template matMenuContent let-tenant="tenant">
    <button mat-menu-item (click)="updateTenant(tenant)">Actualizar</button>
    <button [disabled]="!tenant.tenant_id" mat-menu-item (click)="deleteTenant(tenant)">Eliminar</button>
  </ng-template>
</mat-menu>
<mat-menu #owner_menu="matMenu">
  <ng-template matMenuContent let-owner="owner">
    <button mat-menu-item (click)="updateOwner(owner)">Actualizar</button>
  </ng-template>
</mat-menu>





