<form (ngSubmit)="accept()">
  <mat-card class="card-form">
    <mat-card-content>
      <ng-container *ngFor="let item of items">
        <section class="example-section">
          <p>{{item.nameItem}}</p>
          <mat-checkbox *ngFor="let income of item.typesIncomes"
                        class="example-margin"
                        [(ngModel)]="income.activeIncome"
                        [name]="income.nameIncome"
                        [disabled]="isDisabled(income)"
                        color="primary"
                        labelPosition="after">
            <b>{{income.code}}</b> {{income.nameIncome}}
          </mat-checkbox>
        </section>
        <mat-divider></mat-divider>
      </ng-container>
      <section class="example-section">
        <p>Montos Establecidos</p>
        <ng-container *ngIf="items">
          <ng-container *ngFor="let income of items[1].typesIncomes">

            <div *ngIf="income.activeIncome&&income.isGlobal == 3 && income.nameIncome == 'Multas por Expensas'"
                 style="display: inline-flex; width: 100%;">
              <div style="width: 50%;">
                <mat-form-field appearance="outline">
                  <mat-label>{{income.nameIncome}}</mat-label>
                  <input matInput [(ngModel)]="income.amount" [name]="income.nameIncome + 1"
                         placeholder="%porcente o numero">
                </mat-form-field>
              </div>
              <div style="padding-left: 0px; padding-top: 7px;height: fit-content;">
                <mat-checkbox [(ngModel)]="income.isPercent" [name]="'percent'">En Porcentraje (%)</mat-checkbox>
              </div>
            </div>
            <mat-form-field
              *ngIf="income.activeIncome&&income.isGlobal == 3  && income.nameIncome != 'Multas por Expensas'"
              appearance="outline">
              <mat-label>{{income.nameIncome}}</mat-label>
              <input matInput [(ngModel)]="income.amount" [name]="income.nameIncome + 1"
                     placeholder="%porcente o numero">
            </mat-form-field>
          </ng-container>
        </ng-container>
      </section>

    </mat-card-content>
    <mat-card-actions>
      <span class="spacer-row"></span>
      <ng-content></ng-content>
      <button mat-flat-button type="submit" color="primary">Siguiente</button>
    </mat-card-actions>
  </mat-card>
</form>
