<p mat-dialog-title>Transferencia</p>
<form [formGroup]="formTransaction" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Cuenta</mat-label>
      <input formControlName="accountBank" name="accountBank" required matInput placeholder="Ejemplo: 123456">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cuenta Destino</mat-label>
      <mat-select formControlName="accountDestine">
        <ng-container *ngFor="let bank of accounts">
          <mat-option [value]="bank.id">{{bank.nameBank}} {{bank.numberAccount}}</mat-option>
        </ng-container>
        <mat-option *ngIf="accounts.length === 0" disabled>No existen Cuentas</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="date" matInput required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>C&oacute;digo T.</mat-label>
      <input formControlName="transactionCode" name="transactionCode" required matInput
             placeholder="Ejemplo: DAS123456">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Agencia</mat-label>
      <input formControlName="agency" name="agency" matInput placeholder="Ejemplo: Sucursal">
    </mat-form-field>
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Referencia</mat-label>-->
<!--      <input type="text" matInput formControlName="reference" [matAutocomplete]="auto">-->
<!--      <mat-autocomplete #auto="matAutocomplete">-->
<!--        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code">-->
<!--          {{option.code}} - {{option.type}} - {{option.owner.nameOwner}}-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>-->
    <mat-form-field appearance="outline">
      <mat-label>Glosa</mat-label>
      <input formControlName="gloss" name="gloss" matInput placeholder="Ejemplo: glosa">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input formControlName="amount" type="number" name="amount" required matInput placeholder="Ejemplo: 100">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
