<mat-toolbar class="white with-line">
  Ajustes
  <span class="spacer-row"></span>
</mat-toolbar>
<div class="content-admin">
  <div class="container">
    <abin-config-horizontal-property  [horizontalPropertyId]="horizontalPropertyId"></abin-config-horizontal-property>
    <abin-property-group [horizontalPropertyId]="horizontalPropertyId"></abin-property-group>
    <abin-holiday [holidays]="holidays" [horizontalPropertyId]="horizontalPropertyId"
                  (refresh)="ngOnInit()"></abin-holiday>
  </div>

</div>

