<mat-toolbar class="with-line">
  <span>{{title}}</span>
  <span class="spacer-row"></span>


  <button mat-stroked-button [matMenuTriggerFor]="menuPeriod">
    Gestion: {{params.year}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Nuevo Cartera/Cargo" (click)="openDialog()" *ngIf="readNotOnly()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="loadData()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Imprimir" (click)="report()">
    <mat-icon>print</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="pos">
      <!--      <input type="text" [(ngModel)]="" (ngModelChange)="">-->
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cartera/Cargo</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Co-Propiedario</th>
      <td mat-cell *matCellDef="let row"> {{row.owner.nameOwner}} </td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
      <td mat-cell *matCellDef="let row"> {{row.year}}</td>
    </ng-container>
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gesti&oacute;n</th>
      <td mat-cell *matCellDef="let row"> {{row.dateIni|abinDate}} al {{row.dateEnd|abinDate}}</td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td mat-cell *matCellDef="let row">{{row.ownerState}} </td>
    </ng-container>
    <ng-container *ngIf="readNotOnly()" matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{position: row}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-position="position">
    <button mat-menu-item (click)="edit(position)" *ngIf="readNotOnly()">
      <span>Actualizar Cartera/Cargo</span>
    </button>
    <button mat-menu-item (click)="delete(position)" *ngIf="readNotOnly()">
      <span>Eliminar Cartera/Cargo</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #menuPeriod="matMenu">
  <button *ngFor="let year of years" (click)="setPeriod(year.year)" mat-menu-item>{{year.year}}</button>
</mat-menu>






