<h1 mat-dialog-title>Registrar Ingreso</h1>
<form [formGroup]="formIncome" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Cuenta</mat-label>
      <mat-select formControlName="accountBankId" placeholder="seleccionar Cuenta">
        <mat-option *ngFor="let b of banks" [value]="b.id">
          {{b.nameBank}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="date" (click)="picker.open()"
             [readonly]="true" matInput required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>C&oacute;digo de Recibo</mat-label>
      <input formControlName="code" name="code" required matInput placeholder="Ejemplo: 123456">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto en Bolivianos</mat-label>
      <input formControlName="amount" type="number" name="amount" required matInput placeholder="Ejemplo: 100">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
