<mat-toolbar class="with-line">
  <button class="back-btn" matTooltip="Atr&aacute;s" mat-icon-button color="primary" routerLink="../"
          [queryParams]="getParams()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Egresos Cuentas Bancarias</span>
  <mat-icon>keyboard_arrow_right</mat-icon>
  {{title}}
  <ng-container *ngIf="transactionSelect">
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>{{'Transaccion'}}</span>
<!--    <mat-icon>keyboard_arrow_right</mat-icon>-->
<!--    {{projectSelect.yearIni|abinDate}} / {{projectSelect.yearEnd|abinDate}}-->
    <mat-icon>keyboard_arrow_right</mat-icon>
    {{transactionSelect.transactionCode}}
  </ng-container>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" matTooltip="Nuevo" (click)="openDialog()" *ngIf="readNotOnly()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Imprimir" (click)="print('PDF')">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="loadData()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <table mat-table [dataSource]="dataSource" matSort
         (matSortChange)="sortData($event)">
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef style="width: 30px">#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia/Transaccion</th>
      <td mat-cell *matCellDef="let row"> {{row.transaction.transactionCode}} </td>
    </ng-container>
    <ng-container matColumnDef="receiptCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Recibo</th>
      <td mat-cell *matCellDef="let row"> {{row.receiptCode}} </td>
    </ng-container>
    <ng-container matColumnDef="typeExpense">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Egreso</th>
      <td mat-cell *matCellDef="let row"> {{row.typeExpense.nameExpense}} </td>
    </ng-container>
    <ng-container matColumnDef="gloss">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Glosa/Detalle</th>
      <td mat-cell *matCellDef="let row"> {{row.gloss}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">Monto</th>
      <td mat-cell *matCellDef="let row" class="number"> {{row.amount|dataMoney}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">Fecha</th>
      <td mat-cell *matCellDef="let row" class="number"> {{row.date| abinDate}}</td>
    </ng-container>
<!--    <ng-container matColumnDef="user">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>-->
<!--      <td mat-cell *matCellDef="let row"> {{row.user.email}} </td>-->
<!--    </ng-container>-->
    <ng-container matColumnDef="option" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menuOption" [matMenuTriggerData]="{render: row}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



</div>
<mat-menu #menuOption="matMenu">
  <ng-template matMenuContent let-render="render">
    <button mat-menu-item *ngIf="render.file" (click)="showFile(render)">Ver Archivo</button>
    <button mat-menu-item (click)="update(render)" *ngIf="readNotOnly()">Editar</button>
    <button mat-menu-item (click)="delete(render)" *ngIf="readNotOnly()">Eliminar</button>
  </ng-template>
</mat-menu>

<mat-menu #menuAll="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="deletes()">Eliminar</button>
    <button mat-menu-item (click)="updateState(true)">Aprobado</button>
    <button mat-menu-item (click)="updateState(false)">Desaprobado</button>
  </ng-template>
</mat-menu>
