.mat-toolbar {
  background: #fff !important;
}

/*.content-kardex {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*table {*/
/*  margin: auto;*/
/*  width: 100%;*/
/*  border-collapse: collapse;*/
/*}*/

/*table, table th {*/
/*  padding: 5px 0 5px 10px;*/
/*}*/

/*mat-card {*/
/*  min-width: 700px;*/
/*  margin: 20px auto;*/
/*  max-width: 60px;*/
/*}*/

/*.content-loader {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  top: 0;*/
/*  background: #ffffffba;*/
/*}*/

/*mat-spinner {*/
/*  margin: auto;*/
/*  top: calc(50% - 20px);*/
/*}*/

/*.pos {*/
/*  max-width: 50px !important;*/
/*}*/

/*.amount {*/
/*  max-width: 100px !important;*/
/*}*/

/*.code {*/
/*  max-width: 100px !important;*/
/*}*/

/*.date {*/
/*  max-width: 100px !important;*/
/*}*/

/*.mat-toolbar {*/
/*  background: #fff !important;*/
/*}*/

/*.content-admin {*/
/*  !*text-align: center;*!*/
/*}*/

table {
  width: 100%;
}

/*mat-card {*/
/*  text-align: left;*/
/*  width: 400px;*/
/*  display: inline-block;*/
/*  margin: 50px 20px 0px 20px;*/
/*}*/

.forVerify {
  /*background-color: #E53935 !important;*/
  background-color: #FFEBEE !important;
}

tr.forVerify td {
  /*color: white;*/
}

button.mat-icon-button:hover {
  background-color: #ededed;
  color: black;
}
