<mat-progress-bar style="
    position: fixed;
    z-index: 999999;" mode="query" *ngIf="loaderService.getLoader()">
</mat-progress-bar>
<!--*ngIf="loaderService.getLoaderBlur()"-->
<div *ngIf="loaderService.getLoaderBlur()" style="position: fixed; z-index: 9999999; width: 100%; height: 100%;">
  <mat-spinner [diameter]="40" style="margin: auto;top: calc(50% - 20px);" color="primary"
               mode="indeterminate"></mat-spinner>
</div>
<!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: none">-->
<!--  <defs>-->
<!--    <filter id="blur">-->
<!--      <feGaussianBlur stdDeviation="8"/>-->
<!--    </filter>-->
<!--  </defs>-->
<!--</svg>-->
<div class="background"></div>
<div class="panel" id="mainContainer">
  <router-outlet #outlet="outlet"></router-outlet>
</div>


