.background {
  opacity: 0.1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(/assets/background.svg) no-repeat center fixed;
  background-size: cover;
}

.panel {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

.loader {
  /*background: #c5c5c5;*/
  position: fixed;
  width: 100%;
  height: 100%;
  /*opacity: 0.5;*/
}

/*body, .acrylic::before {*/
/*  background: #333 url("http://wallpapercave.com/wp/ERun36c.jpg") fixed center;*/
/*  background-size: cover;*/
/*}*/

/*body {*/
/*  font: 1em/1.4 Sans-serif;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*main {*/
/*  display: flex;*/
/*  margin: 2em 0 0 2em;*/
/*  width: calc(100vw - 4em);*/
/*  height: calc(100vh - 4em);*/
/*}*/

/*main div {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

.acrylic {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.acrylic::before {
  content: "";
  position: absolute;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  background-blend-mode: exclusion;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  filter: url(#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='8');
}

.acrylic::after {
  /*content: "";*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*z-index: -1;*/
  /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);*/
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=a0a0a0&density=35&opacity=10");*/

  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);*/
  background-color: #f9f9f921;
  /* background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=a0a0a0&density=35&opacity=10); */
}

.acrylic.medium::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.acrylic.medium-high::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.shadow {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 8px rgba(0, 0, 0, 0.25), 0 10px 30px rgba(0, 0, 0, 0.1);
}
