<mat-toolbar class="with-line">
  <span>{{title}}</span>
  <span class="spacer-row"></span>
  <!--  <button mat-icon-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>-->

  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Imprimir" (click)="report()">
    <mat-icon>print</mat-icon>
  </button>
<!--  <button mat-icon-button color="primary" matTooltip="Mas">-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--  </button>-->
</mat-toolbar>
<div class="content-admin">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <!-- ID Column -->
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="nameOwner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row"> {{row.nameOwner}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="emailOwner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
      <td mat-cell *matCellDef="let row"> {{row.emailOwner}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="telephoneOwner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
      <td mat-cell *matCellDef="let row"> {{row.telephoneOwner}} </td>
    </ng-container>
    <ng-container matColumnDef="cellOwner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Celular</th>
      <td mat-cell *matCellDef="let row"> {{row.cellOwner}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let row"> {{row.state ? 'Activo' : 'Baja'}} </td>
    </ng-container>

    <!--    <ng-container matColumnDef="option">-->
    <!--      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>-->
    <!--      <td mat-cell *matCellDef="let row" >-->
    <!--        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{id: row.id}">-->
    <!--          <mat-icon>more_vert</mat-icon>-->
    <!--        </button>-->
    <!--      </td>-->
    <!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id">
    <button mat-menu-item (click)="show(id)">
      <span>Ver</span>
    </button>
    <button mat-menu-item (click)="delete(id)">
      <span>Eliminar</span>
    </button>
  </ng-template>

</mat-menu>





