.mat-toolbar {
  background: #fff !important;
}

.content-admin {
  /*text-align: center;*/
}

table {
  width: 100%;
}

mat-card {
  text-align: left;
  width: 400px;
  display: inline-block;
  margin: 50px 20px 0px 20px;
}
