<h1 mat-dialog-title>Registrar Actividad</h1>
<form [formGroup]="activityForm" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="dateTimeActivity" matInput required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [touchUi]="false"></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-checkbox formControlName="allDay">todo el Dia?</mat-checkbox>
    <br>
    <div style="display: inline-block">
      <mat-form-field class="responsive" appearance="outline">
        <mat-label>Desde Hora</mat-label>
        <input type="time" name="timeIni" formControlName="timeIni" required matInput>
      </mat-form-field>
      <mat-form-field class="responsive" appearance="outline">
        <mat-label>Desde Hora</mat-label>
        <input type="time" name="timeIni" formControlName="timeEnd" required matInput>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Actividad</mat-label>
      <input type="text" name="activity" formControlName="activity" required matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Asignado a</mat-label>
      <input type="text" name="assignTo" formControlName="assignTo" required matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
