<mat-toolbar class="with-line">
  <span>{{title}}</span>
  <ng-container *ngIf="monthYearExist()">
    <span class="spacer-row"></span>
    <button mat-icon-button matTooltip="Imprimir" color="primary" (click)="print()">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refrescar" color="primary" (click)="reloadData()">
      <mat-icon>refresh</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<div class="content-admin">
  <mat-drawer-container class="content-kardex" autosize>
    <mat-drawer class="example-sidenav" [disableClose]="true" [opened]="true" mode="side">
      <mat-nav-list>
        <ng-container *ngFor="let project of projects">
          <button (click)="projectSelectA(project)" [ngClass]="project.isOpen ? 'is-open': ''" mat-subheader mat-ripple>{{project.yearIni|abinPeriod}} / {{project.yearEnd|abinPeriod}} <mat-icon *ngIf="project.isOpen">keyboard_arrow_up</mat-icon> <mat-icon *ngIf="!project.isOpen">keyboard_arrow_down</mat-icon></button>
          <mat-divider></mat-divider>
          <ng-container *ngIf="project.isOpen">
            <a mat-list-item *ngFor="let month of project.periods" [routerLink]="[]" [queryParams]="getParams(month)"
               routerLinkActive="active">{{month.text}}</a>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </mat-drawer>
    <div class="kardex-general" *ngIf="listData">

      <ng-container>
        <nav mat-tab-nav-bar>
          <a mat-tab-link *ngFor="let link of generalIncomes; let i = index" [active]="link == listData" (click)="changeTab(i)">{{link.account.nameBank}}
            <br>{{link.account.numberAccount}}</a>
        </nav>
      </ng-container>
      <div class="content-kardex-general">
        <div class="note-center" *ngIf="!monthYearExist()">
          <mat-icon>touch_app</mat-icon>
          Debe Selecionar un A&ntilde;o-Mes de la Barra de Navegacion Izquierda. <br>
          Por ejemplo <b>2019-ENERO</b>
        </div>
        <mat-card *ngFor="let d of listData.data; let i = index">
          <mat-card-title>{{d.type}}</mat-card-title>
          <abin-general-month-income [dataSource]="d.data"
                                     [displayedColumns]="d.headerRow"
                                     [idTable]="'table' + i"
                                     [title]="d.type"
                                     [stateLoad]="stateLoad"></abin-general-month-income>
        </mat-card>
        <mat-card *ngIf="totalGlobal">
          <mat-card-title>{{totalGlobal.title}}</mat-card-title>
          <mat-card-content>
            <table id="total" mat-table [dataSource]="totalGlobal.typeIncomes">
              <ng-container matColumnDef="pos">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let i = index">{{getIndex(i, totalGlobal.typeIncomes)}}</td>
              </ng-container>
              <ng-container matColumnDef="nameIncome">
                <th mat-header-cell *matHeaderCellDef>Detalle</th>
                <td mat-cell *matCellDef="let row">{{row.nameIncome}}</td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell class="number" *matHeaderCellDef>Monto</th>
                <td mat-cell class="number" *matCellDef="let row">{{row.total|dataMoney}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="totalGlobal.columns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: totalGlobal.columns;">
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>


    </div>
  </mat-drawer-container>
</div>
