<h1 mat-dialog-title>Datos del Propietario</h1>
<form [formGroup]="formCoOwner" (ngSubmit)="save()">

  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input type="text"
             matInput required
             placeholder="Ejemplo: Juan Perez"
             formControlName="nameOwner"
             [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of groupsOwner | async" [label]="group.letter">
          <mat-option *ngFor="let ownerC of group.owners" [value]="ownerC.nameOwner"
                      (onSelectionChange)="setDataOwner(ownerC)">
            {{ownerC.nameOwner}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefono</mat-label>
      <input formControlName="telephoneOwner" name="phone" type="number" matInput required
             placeholder="Ejemplo: 4443210">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Celular</mat-label>
      <input formControlName="cellOwner" name="phone" type="number" matInput required
             placeholder="Ejemplo: 76543210">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Correo Electronico</mat-label>
      <input formControlName="emailOwner" name="email" matInput required placeholder="Ejemplo: juanperez@mail.com">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
