<mat-toolbar class="with-line">
<!--  <button class="back-btn" *ngIf="params != {}" matTooltip="Atr&aacute;s" mat-icon-button color="primary"-->
<!--          routerLink=".">-->
<!--    <mat-icon>arrow_back</mat-icon>-->
<!--  </button>-->
  <button class="back-btn" *ngIf="account&& params != {}" matTooltip="Atr&aacute;s" mat-icon-button color="primary"
          routerLink="../">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Egresos Cuentas Bancarias</span>
  <mat-icon>keyboard_arrow_right</mat-icon>
  {{title}}
  <mat-icon>keyboard_arrow_right</mat-icon>
  <span>{{'Transacciones'}}</span>
<!--  <ng-container *ngIf="project&&params.projectId">-->
<!--    <mat-icon>keyboard_arrow_right</mat-icon>-->
<!--    {{project.yearIni|abinDate}} / {{project.yearEnd|abinDate}}-->
<!--  </ng-container>-->
  <span class="spacer-row"></span>
  <button *ngIf="params != {}" mat-icon-button color="primary" (click)="OpenFilter()">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Imprimir" (click)="showAndPrint()">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="loadData()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
<!--  <div *ngIf="!params.projectId" class="note-center">-->
<!--    No se a seleccionado los filtros necesarios para mostrar la informaci&oacute;n.-->
<!--    <br>-->
<!--    <abin-filter-kardex [withType]="false" [data]="getData()" (onSave)="loadData()"></abin-filter-kardex>-->
<!--  </div>-->
  <table mat-table [dataSource]="dataSourceGroup" matSort
         (matSortChange)="sortData($event)">
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>
    <ng-container matColumnDef="nameBank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
      <td mat-cell *matCellDef="let row"> {{row.nameBank}} </td>
    </ng-container>
    <ng-container matColumnDef="numberAccount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N. Cuenta</th>
      <td mat-cell *matCellDef="let row"> {{row.numberAccount}} </td>
    </ng-container>
    <ng-container matColumnDef="transaction_transactionCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trans. Code</th>
      <td mat-cell *matCellDef="let row"> {{row.transaction_transactionCode}} </td>
    </ng-container>
    <ng-container matColumnDef="transaction_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let row"> {{row.transaction_date|abinDate}} </td>
    </ng-container>
    <ng-container matColumnDef="transaction_gloss">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Glosa/Detalle</th>
      <td mat-cell *matCellDef="let row"> {{row.transaction_gloss}} </td>
    </ng-container>
    <ng-container matColumnDef="transaction_reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</th>
      <td mat-cell *matCellDef="let row"> {{row.transaction_reference}} </td>
    </ng-container>
    <ng-container matColumnDef="transaction_amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
      <td mat-cell *matCellDef="let row" class="number"> {{row.transaction_amount|dataMoney: 'abs'}} </td>
    </ng-container>
    <ng-container matColumnDef="totalRender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rendido</th>
      <td mat-cell *matCellDef="let row" class="number"> {{row.totalRender|dataMoney:'abs'}} </td>
    </ng-container>
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
      <td mat-cell *matCellDef="let row" class="number"> {{row.balance|dataMoney:'abs'}} </td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef style="width: 80px">Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" matTooltip="Rendir" (click)="openDialog(row)" *ngIf="readNotOnly()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="detalles" routerLink="render"
                [queryParams]="getParams(row)">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumnsGroup; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumnsGroup;"></tr>
  </table>

</div>

