mat-card {
  width: 350px;
  margin: auto;
  top: 100px;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
}
.mat-card-image{
  text-align: center;
}
.mat-card-image img {
  width: 200px;
  margin: 15px auto;
}
