.search-text {
  font-size: 14px !important;
  width: 242px;
}

form {
  min-width: 212px;
}

form input {
  border-style: groove;
  border-radius: 5px 0 0 5px;
  height: 30px;
  -webkit-appearance: none;
  padding: 1px 10px;
  font-size: 14px;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

form button {
  border-style: groove;
  border-radius: 0 5px 5px 0;
  height: 36px;
  position: absolute;
  margin-left: -2px;
  cursor: pointer;
  width: 50px;
}

form button:focus {
  outline: none;
}

form input:focus {
  outline: none;
}

.spacer {
  width: 20px;
}

.mat-toolbar {
  background: #fff !important;
}

.mat-toolbar-row {
  background: #fff !important;
}

mat-toolbar img {
  height: 44px;
  width: auto;
}

mat-toolbar h1 {
  width: 100%;
  display: block;
  text-align: center;
  left: 0;
  position: fixed;
}

@media screen and (max-width: 600px) {
  mat-toolbar h1{
    width: 100%;
    display: block;
    /* left: 20px; */
    position: fixed;
    text-align: left;
    font-size: 15px !important;
    padding-left: 24px;
  }
}
