<mat-toolbar>
  <mat-toolbar-row class="mat-elevation-z3">
    <img *ngIf="!mobileQuery.matches" src="/assets/ABIN-LOGO.svg" alt="Imagen logo">
    <h1>Sistema Abin Srl</h1>
    <span class="spacer-row"></span>
    <div class="search-text" *ngIf="withSearch">
      <form (ngSubmit)="search()">
        <input placeholder="Buscar" type="text">
        <button type="submit" mat-ripple>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
    <div class="spacer"></div>
    <button mat-icon-button color="primary" *ngIf="tasks.length > 0" style="margin-right: 5px;"
            [matMenuTriggerFor]="menu">
      <mat-icon [matBadge]="tasks.length">notifications</mat-icon>
    </button>
    <button mat-icon-button color="primary" *ngIf="tasks.length == 0 || !tasks" style="margin-right: 5px;"
            [matMenuTriggerFor]="menu">
      <mat-icon>notifications</mat-icon>
    </button>
<!--    <button *ngIf="!mobileQuery.matches" mat-flat-button (click)="openProfile()">-->
<!--      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle</mat-icon>-->
<!--      {{rolService.getEmail()}}-->
<!--    </button>-->

<!--    <button *ngIf="mobileQuery.matches" mat-icon-button color="primary" (click)="openProfile()" [matTooltip]="rolService.getEmail()">-->
<!--      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle-->
<!--      </mat-icon>-->
<!--    </button>-->
<!--    <button mat-icon-button color="primary" (click)="logout()" matTooltip="Salir">-->
<!--      <mat-icon>exit_to_app</mat-icon>-->
<!--    </button>-->

    <button mat-icon-button color="primary" class="user" [matTooltip]="rolService.getUserRol() + ', '+rolService.getEmail()" [matMenuTriggerFor]="authMenu">
      <!--        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle-->
      <!--        </mat-icon>-->
      <!--        <span>-->
      {{getLetterUser()}}
      <!--        </span>-->
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
  <ng-container *ngIf="tasks.length > 0">
    <button mat-menu-item *ngFor="let i of tasks;">
      <span>{{i.detail}}</span>
      <span>{{i.createdAt | date}}</span>
    </button>
  </ng-container>
  <ng-container *ngIf="tasks.length == 0">
    <button mat-menu-item>
      <span>No Existen Notificaciones</span>
    </button>
  </ng-container>
</mat-menu>


<mat-menu #authMenu="matMenu">
<!--  <mat-divider></mat-divider>-->
  <button mat-menu-item (click)="openProfile()" matTooltip="Mi Perfil">
    <mat-icon>account_circle</mat-icon>
    <span>Mi Perfil</span>
  </button>
  <button mat-menu-item (click)="logout()" matTooltip="Salir">
    <mat-icon>exit_to_app</mat-icon>
    <span>Salir</span>
  </button>
</mat-menu>
