<form [formGroup]="horizontalProperty" (ngSubmit)="accept()">
  <mat-card class="card-form">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nombre de la Propiedad Horizontal</mat-label>
        <input formControlName="nameProperty" name="abin" matInput required placeholder="Ejemplo: Abin">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de Inicio de Gesti&oacute;n</mat-label>
        <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="dateManagementInit" matInput required
               [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>D&iacute;a de Inicio de Cobro de Expensas</mat-label>-->
<!--        <input formControlName="dayPayInit" type="number" matInput required placeholder="Ejemplo: 1...28">-->
<!--        <mat-error *ngIf="horizontalProperty.get('dayPayInit').invalid">Debe ser entre 1 y 28</mat-error>-->
<!--      </mat-form-field>-->
      <p>Generar Expensas con fecha del:</p>
      <mat-radio-group aria-label="Opción" formControlName="dayPayInit">
        <mat-radio-button color="primary" [value]="true">Mes Actual</mat-radio-button>
        <mat-radio-button color="primary" [value]="false">Mes Anterior</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>D&iacute;a Especifico</mat-label>
        <input formControlName="day" type="number" matInput required placeholder="Ejemplo: 1...28">
        <mat-error *ngIf="horizontalProperty.get('day').invalid">Debe ser entre 1 y 28</mat-error>
      </mat-form-field>
      <br>
      <p>Tiempo m&aacute;ximo de pago de <b>expensas</b> despues de su creación</p>
      <mat-form-field appearance="outline">
        <mat-label>Meses</mat-label>
        <input formControlName="monthPayLimit" type="number" matInput required placeholder="Ejemplo: 0...12">
        <mat-error *ngIf="horizontalProperty.get('monthPayLimit').invalid">Debe ser entre 0 y 12</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Dias</mat-label>
        <input formControlName="dayPayLimit" type="number" matInput required placeholder="Ejemplo: 1...28">
        <mat-error *ngIf="horizontalProperty.get('dayPayLimit').invalid">Debe ser entre 0 y 28</mat-error>
      </mat-form-field>
      <section class="example-section">
        <div class="toggle-content" *ngFor="let p of typesProperties">
          <mat-slide-toggle [(ngModel)]="p.active" [ngModelOptions]="{standalone: true}"
                            color="primary"></mat-slide-toggle>
          <span class="toggle-label">{{p.name}} <span
            style="color: #ff7070;">{{p.type == true ? '(Complementaria)' : ''}}</span></span>
          <mat-form-field *ngIf="p.active == true" appearance="outline">
            <mat-label>N&uacute;mero de {{p.name}}s</mat-label>
            <input [(ngModel)]="p.amount" type="number" [ngModelOptions]="{standalone: true}" matInput
                   [placeholder]="'N&uacute;mero de ' + p.name + 's'">
          </mat-form-field>
        </div>
        <div>
          <button mat-button type="button" (click)="addNewType()" color="primary">Otro</button>
        </div>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer-row"></span>
      <button mat-flat-button type="button" color="accent" (click)="back()" class="cancel-button">Cancelar</button>
      <button mat-flat-button color="primary" type="submit">Siguiente</button>
    </mat-card-actions>
  </mat-card>
</form>
