.card-form {
  width: 500px;
}

mat-form-field {
  width: 100%;
}

.mat-card {
  margin: auto;
}

.mat-slide-toggle {
  width: 50px;
  height: 50px;
}

mat-card-actions {
  display: flex;
}

span.toggle-label {
  position: absolute;
  margin: 16px 0;
}
mat-radio-button:first-child{
  width: calc(50% - 20px);
  margin: 10px;
}
mat-radio-button:last-child{
  width: calc(50% - 20px);
  margin: 10px;
}
