.mat-toolbar {
  background: #fff !important;
}

mat-card {
  margin: 0px !important;
  width: calc(100% - 32px) !important;
  height: calc(100% - 32px) !important;
  position: relative;
}

.popup {
  display: none;
  position: fixed;
  z-index: 99;
}

.popup mat-card {
  background: #5f5f5f;
  color: white;
  margin: 0 !important;
}

.content-calendar-activity{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.content-calendar-activity .calendar{
  width: 80%;
  height: 100%;
  display: inline-flex;
}
.content-calendar-activity .list-activity{
  width: 20%;
  height: 100%;
  display: inline-flex;
}


