<mat-toolbar class="with-line">
  <span>Calendario de Actividades</span>
  <span class="spacer-row"></span>
  <!--  <button mat-icon-button color="primary" matTooltip="Crear" (click)="createRecreation()">-->
  <!--    <mat-icon>add</mat-icon>-->
  <!--  </button>-->
  <!--  <button mat-icon-button color="primary" matTooltip="Imprimir">-->
  <!--    <mat-icon>print</mat-icon>-->
  <!--  </button>-->
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="loadData()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">

  <div class="content-calendar-activity">
<!--    <div class="calendar">-->
      <mat-card>
        <full-calendar #calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>
      </mat-card>
<!--    </div>-->
<!--    <div class="list-activity">-->
<!--    </div>-->
  </div>
</div>
<div class="popup" [ngStyle]="getStyleEvent()">
  <mat-card *ngIf="eventSelect" style="font-size: 12px !important;">
    <p>{{eventSelect.activity}}</p>
    <p>{{eventSelect.dateTimeActivity|dateTime}}</p>
    <p>{{eventSelect.assignTo}}</p>
  </mat-card>
</div>


