<h1 mat-dialog-title>Liquidacion {{property.name}} {{property.code}}</h1>
<div mat-dialog-content>
  <table *ngIf="periods && periods.length > 0" id="table">
    <thead>
      <tr>
        <th>Periodo</th>
        <th *ngFor="let t of typeIncomes">{{t.nameIncome}}</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let period of periods">
        <td>{{period.period|abinPeriod}}</td>
        <td *ngFor="let income of period.debts" class="number">
          {{income.debtOfPay|dataMoney}}
        </td>
        <td class="number">
          {{period.totalOfPay|dataMoney}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td *ngFor="let he of typeIncomes" class="number">
          {{getTotal(he.id)|dataMoney}}
        </td>
        <td class="number">
          {{getOfTotal()|dataMoney}}
        </td>
      </tr>
    </tfoot>
  </table>
  <div *ngIf="periods && periods.length == 0">
    La Propiedad se encuentra al D&iacute;a
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" matDialogClose>Cerrar</button>
  <button mat-button color="primary" (click)="printPDF()">Descargar</button>
</div>
