<h1 mat-dialog-title>Directorio</h1>
<form [formGroup]="formPosition" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Gestión</mat-label>
      <input type="number" matInput formControlName="year" name="year" placeholder="Ejemplo: 2022">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cartera</mat-label>
      <input type="text" matInput formControlName="name" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.position_name">
          {{option.position_name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Desde Fecha</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="dateIni" (click)="picker.open()"
             [readonly]="true" matInput required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hasta Fecha</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="dateEnd" (click)="picker2.open()"
             [readonly]="true" matInput required [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Co-Propietario</mat-label>
      <mat-select formControlName="ownerId" required>
        <mat-option *ngFor="let owner of owners" [value]="owner.id">{{owner.nameOwner}}</mat-option>
        <mat-option *ngIf="owners.length == 0" [disabled]="true">Sin Resultados</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="ownerState">
        <mat-option>Seleccione</mat-option>
        <mat-option *ngFor="let ownerState of ownerStates" [value]="ownerState.value">
          {{ownerState.state}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>

