<h1 mat-dialog-title>Filtrar</h1>
<form [formGroup]="formFilter" (ngSubmit)="send()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Desde Fecha</mat-label>
      <input formControlName="dateIni" matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 color="primary"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hasta Fecha</mat-label>
      <input formControlName="dateEnd" matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mes</mat-label>
      <mat-select formControlName="month">
        <mat-option>Ninguno</mat-option>
        <mat-option value="01">Enero</mat-option>
        <mat-option value="02">Febrero</mat-option>
        <mat-option value="03">Marzo</mat-option>
        <mat-option value="04">Abril</mat-option>
        <mat-option value="05">Mayo</mat-option>
        <mat-option value="06">Junio</mat-option>
        <mat-option value="07">Julio</mat-option>
        <mat-option value="08">Agosto</mat-option>
        <mat-option value="09">Septiembre</mat-option>
        <mat-option value="10">Octubre</mat-option>
        <mat-option value="11">Noviembre</mat-option>
        <mat-option value="12">Diciembre</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>A&ntilde;o</mat-label>
      <input formControlName="year" type="number" placeholder="Año" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Referencia</mat-label>
      <input formControlName="code" placeholder="Referencia" matInput>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
