<h1 mat-dialog-title>Fecha de Inicio</h1>
<form [formGroup]="formDate" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de Inicio</mat-label>
      <input formControlName="date" required placeholder="Fecha de Inicio" matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
