<h1 mat-dialog-title>Modificacion Presupuestaria</h1>
<div mat-dialog-content>

  <ng-container *ngIf="modificationsAdditional.length > 0">
    <p><b>Adicional</b></p>
    <!--    <mat-divider></mat-divider>-->
    <table>
      <tr>
        <th>#</th>
        <th>A</th>
        <th>Monto</th>
        <th></th>
      </tr>
      <tr *ngFor="let mod of modificationsAdditional; let i = index;">
        <td><b>{{i + 1}}</b></td>
        <td>{{mod.projectItemIncome.typeIncome.nameIncome}}</td>
        <td class="number">{{mod.amount|dataMoney}}</td>
        <td class="btn_delete">
          <button mat-icon-button color="primary" (click)="deleteAdditional(mod.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </ng-container>
  <br>
  <p *ngIf="modificationsTransfer.length === 0 && modificationsAdditional.length === 0" style="text-align: center">No
    existen Modificaciones</p>
  <mat-divider></mat-divider>
  <br>
  <ng-container *ngIf="modificationsTransfer.length > 0">
    <p><b>Transferencia</b></p>
    <table>
      <tr>
        <th>#</th>
        <th>De</th>
        <th>A</th>
        <th>Monto</th>
        <th></th>
      </tr>
      <tr *ngFor="let mod of modificationsTransfer; let i = index;">
        <td><b>{{i + 1}}</b></td>
        <td>{{mod.projectItemExpenseOrigin.typeExpense.nameExpense}}</td>
        <td>{{mod.projectItemExpenseDestine.typeExpense.nameExpense}}</td>
        <td class="number">{{mod.amount|dataMoney}}</td>
        <td class="btn_delete">
          <button mat-icon-button color="primary" (click)="deleteTransfer(mod.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <br>
  </ng-container>


</div>
<div mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close>Cerrar</button>
  <span class="spacer-row"></span>
  <button mat-button (click)="open()" color="primary" type="button">Transferencia</button>
  <button mat-button (click)="openAdditional()" color="primary" type="button">Modificacion Adicional</button>
</div>
