<h1 mat-dialog-title>Detalle de Actividad</h1>
<div mat-dialog-content>
  <p></p>

  <table>
    <tr>
      <td><b>Nombre de Actividad</b></td>
      <td>: {{eventSelect.activity}}</td>
    </tr>
    <tr>
      <td><b>Fecha:</b></td>
      <td>
        <ng-container *ngIf="eventSelect.allDay">
          {{eventSelect.dateTimeActivity|abinDate}} Todo el dia
        </ng-container>
        <ng-container *ngIf="!eventSelect.allDay">
          Fecha {{eventSelect.dateTimeActivity|abinDate}},
          de {{eventSelect.timeIni}}
          a {{eventSelect.timeEnd}}
        </ng-container>
      </td>
    </tr>
    <tr>
      <td><b>Asignado a</b></td>
      <td>: {{eventSelect.assignTo}}</td>
    </tr>
    <tr>
      <td>Estado</td>
      <td>: {{eventSelect.complete ? 'Completado' : 'No completado'}}</td>
    </tr>
  </table>

  <div *ngIf="eventSelect">
    <mat-checkbox [checked]="eventSelect.complete" (change)="changeEventState($event)">completado?</mat-checkbox>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" type="button" (click)="deleteEvent()">Eliminar</button>
  <button mat-button color="primary" mat-dialog-close>Cerrar</button>
</div>
