<h1 mat-dialog-title>Personal</h1>
<form [formGroup]="formPosition" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Nombre Completo</mat-label>
        <input formControlName="name" name="name" matInput placeholder="Ejemplo: Juan Perez">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Cargo</mat-label>
        <input formControlName="position" name="position" matInput placeholder="Ejemplo: Encargado de">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input formControlName="email" name="email" matInput placeholder="Ejemplo: abin@abinsrl.com">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input formControlName="cell" name="cell" matInput placeholder="Ejemplo: 77777">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>CI</mat-label>
        <input formControlName="ci" name="ci" matInput placeholder="Ejemplo: 77777777">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Foto</mat-label>
      <ngx-mat-file-input accept=".jpeg, .jpg, .png" #removableInput formControlName="picture" placeholder="Foto de usuario"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Foto del Carnet</mat-label>
      <ngx-mat-file-input accept=".jpeg, .jpg, .png, .pdf" #removableInput formControlName="pictureCI" placeholder="Foto del carnet"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Archivo de CV</mat-label>
      <ngx-mat-file-input accept=".jpeg, .jpg, .png, .pdf" #removableInput formControlName="fileBackground" placeholder="Curriculum Vitae"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>

