<h1 mat-dialog-title>Recibo</h1>
<form [formGroup]="formReceipt" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Detalle</mat-label>
      <input formControlName="receiptOther" name="receiptOther" required matInput placeholder="Ejemplo: Recibo">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input type="number" formControlName="receiptAmount" name="receiptAmount" required matInput placeholder="Ejemplo: Monto">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Archivo</mat-label>
      <ngx-mat-file-input accept=".jpeg, .jpg, .png, .pdf" #removableInput formControlName="receiptFile" placeholder="Archivo"></ngx-mat-file-input>
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>

