mat-icon {
  top: 3px;
  position: relative;
  color: green;
}

.text {
  display: inline-block;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: absolute;
  color: green;
  //padding: 6px;
}
