<h1 mat-dialog-title>Datos del Presupuesto</h1>
<form [formGroup]="formProject" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Fecha Inicio</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="yearIni" matInput required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha Final</mat-label>
      <input placeholder="Ejemplo: dd/mm/aaaa" formControlName="yearEnd" matInput required [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <div style="width: 100%">
      <button style="width: 50%" mat-button color="primary" type="button" (click)="openIncrement()">Incremento Global</button>
      <button style="width: 50%" mat-button color="primary" type="button" (click)="openManual()">Incremento Individual</button>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
