<mat-toolbar class="with-line">
  <span>{{title}}</span>
  <span class="spacer-row"></span>
  <button mat-icon-button matTooltip="Nuevo" color="primary" (click)="openDialog()" *ngIf="readNotOnly()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Descargar un Reporte" [mat-menu-trigger-for]="report_menu">
    <mat-icon>file_download</mat-icon>
  </button>
<!--  <button mat-icon-button color="primary" matTooltip="Mas">-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--  </button>-->
</mat-toolbar>
<!--<div class="content-admin">-->
<cdk-virtual-scroll-viewport class="content-admin" [itemSize]="1">
  <table mat-table *ngIf="headComplement && dataSource" [dataSource]="dataSource" matSort id="properties"
         (matSortChange)="sortData($event)">

    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="readNotOnly()" class="icon">
          <div class="content">
            <mat-icon  matTooltip="No se Enviaran Correos" class="red" *ngIf="row.owner.sendEmail === false">gpp_bad</mat-icon>
            <mat-icon  matTooltip="Se Enviaran Correos" class="green" *ngIf="row.owner.sendEmail === true">gpp_good</mat-icon>
          </div>
          <div class="content text">{{row.code}}</div>
        </div>
        <ng-container *ngIf="!readNotOnly()">
          {{row.code}}
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Propiedad</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
      <td mat-cell *matCellDef="let row"> {{row.type}} </td>
    </ng-container>

    <ng-container matColumnDef="m2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Superficie m<sup>2</sup></th>
      <td mat-cell *matCellDef="let row" class="number"> {{row.m2| dataMoney}}</td>
    </ng-container>

    <ng-container matColumnDef="expense">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Expensa</th>
      <td mat-cell class="number" *matCellDef="let row"> {{getExpense(row)| dataMoney}} </td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Propietario</th>
      <td mat-cell *matCellDef="let row">
        <a *ngIf="row.owner.cellOwner && row.owner.cellOwner.length >= 8" [href]="'https://api.whatsapp.com/send?phone='+row.owner.cellOwner" target="_blank">{{row.owner.nameOwner}}</a>
        <div *ngIf="row.owner.cellOwner && row.owner.cellOwner.length < 8">{{row.owner.nameOwner}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="tenant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inquilino</th>
      <td mat-cell *matCellDef="let row"> {{row.tenant ? row.tenant.nameTenant : ''}} </td>
    </ng-container>

    <ng-container *ngFor="let headCom of headComplement;let i = index" [matColumnDef]="headCom.name">
      <th mat-header-cell *matHeaderCellDef>{{headCom.name}}</th>
      <td mat-cell *matCellDef="let row"> {{row.complements[i][headCom.name]}} </td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{owner: row}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</cdk-virtual-scroll-viewport>
<!--</div>-->
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-owner="owner">
    <button mat-menu-item [mat-menu-trigger-for]="owner_menu" [matMenuTriggerData]="{owner: owner}" *ngIf="readNotOnly()">
      <span>Propietario</span>
    </button>
    <button mat-menu-item [mat-menu-trigger-for]="tenant_menu" [matMenuTriggerData]="{tenant: owner}" *ngIf="readNotOnly()">
      <span>Inquilino</span>
    </button>

    <button mat-menu-item (click)="peoplesShow(owner.id)">
      <span>Habitantes</span>
    </button>

    <button mat-menu-item (click)="updateProperty(owner)" *ngIf="readNotOnly()">
      <span>Actualizar Propiedad</span>
    </button>
    <button mat-menu-item (click)="showLiquidation(owner.id)">
      <span>Ver liquidaci&oacute;n</span>
    </button>

    <button mat-menu-item (click)="updateSendEmail(owner.owner.id)" *ngIf="readNotOnly()">
      <span *ngIf="owner.owner.sendEmail === false">Habilitar Correo</span>
      <span *ngIf="owner.owner.sendEmail === true">Deshabilitar Correo</span>
    </button>

    <button mat-menu-item (click)="delete(owner.id)" *ngIf="readNotOnly()">
      <span>Eliminar Propiedad</span>
    </button>

    <button mat-menu-item (click)="showHistory(owner)">Historial</button>
  </ng-template>
</mat-menu>
<mat-menu #tenant_menu="matMenu">
  <ng-template matMenuContent let-tenant="tenant">
    <button mat-menu-item (click)="updateTenant(tenant)">Actualizar</button>
    <button [disabled]="!tenant.id" mat-menu-item (click)="deleteTenant(tenant)">Eliminar</button>
  </ng-template>
</mat-menu>
<mat-menu #owner_menu="matMenu">
  <ng-template matMenuContent let-owner="owner">
    <button mat-menu-item (click)="updateOwner(owner)">Actualizar</button>
  </ng-template>
</mat-menu>


<mat-menu #report_menu="matMenu">
  <ng-template matMenuContent let-report="report">
    <button mat-menu-item [mat-menu-trigger-for]="type_report" [matMenuTriggerData]="{byReport: 'Propiedades'}">Propiedades</button>
    <button mat-menu-item [mat-menu-trigger-for]="type_report" [matMenuTriggerData]="{byReport: 'Co-Propietarios'}">Co-Propietarios</button>
    <button mat-menu-item [mat-menu-trigger-for]="type_report" [matMenuTriggerData]="{byReport: 'Inquilinos'}">Inquilinos</button>
    <button mat-menu-item [mat-menu-trigger-for]="type_report" [matMenuTriggerData]="{byReport: 'Habitantes'}">Habitantes</button>
  </ng-template>
</mat-menu>

<mat-menu #type_report="matMenu">
  <ng-template matMenuContent let-byReport="byReport">
    <button mat-menu-item (click)="reportFile('PDF', byReport)">Pdf</button>
    <button mat-menu-item (click)="reportFile('XLSX', byReport)">Excel</button>
  </ng-template>
</mat-menu>





