.mat-toolbar {
  background: #fff !important;
}

table {
  width: 100%;
}
.icon{
  display: flex;
}
.icon .content {
  display: inline-flex;
}
.icon .content.text {
  margin-top: 3px;
}
.content .red{
  color: #d84315;
}
.content .green{
  color: #2e7d32;
}
