table {
  width: 100%;
}

.text-primary {
  color: #040381;;
}

.text-delete {
  color: red;;
}

.fit-cell {
  padding-right: 0 !important;
}

.mat-form-field .mat-form-field-flex {
  padding: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
