<h1 mat-dialog-title>Titulares</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="nameOwner">
      <th mat-header-cell *matHeaderCellDef>Co-Propietario</th>
      <td mat-cell *matCellDef="let row" [colSpan]="inChange == row.id ? 2: 1">
        <span *ngIf="inChange !== row.id">{{row.owner.nameOwner}}</span>
        <mat-form-field appearance="outline" *ngIf="inChange == row.id">
          <mat-label>Co-Propietario</mat-label>
          <mat-select [(value)]="ownerSelect" (valueChange)="onSave(row.id)">
            <mat-option *ngFor="let owner of owners" [value]="owner">{{owner.nameOwner}}</mat-option>
            <mat-option *ngIf="owners.length == 0" [disabled]="true">Sin Resultados</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>F. Actualizado</th>
      <td mat-cell [ngStyle]="inChange === row.id? {display: 'none'}:{}"
          *matCellDef="let row"> {{row.updatedAt|date}} </td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th mat-header-cell class="fit-cell" *matHeaderCellDef></th>
      <td mat-cell class="fit-cell" *matCellDef="let row">
        <button mat-flat-button *ngIf="inChange !== row.id" class="text-primary" (click)="inChange = row.id;">Cambiar
        </button>
        <button mat-flat-button [disabled]="dataSource.data.length == 1" *ngIf="inChange !== row.id" class="text-delete"
                (click)="deleteOlder(row.id)">Quitar
        </button>
        <button mat-flat-button *ngIf="inChange == row.id" class="text-delete" (click)="cancel()">Cancelar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" mat-dialog-close>Cerrar</button>
</div>

