<h1 mat-dialog-title>Detalle de la Deuda</h1>
<div mat-dialog-content>
    <div>
      <table id="debt">
        <tr>
          <th>Tipo Deuda</th>
          <td>({{typeIncome.code}}){{typeIncome.nameIncome}}</td>
        </tr>
        <tr>
          <th>Monto</th>
          <td>{{debt.amount|dataMoney}}</td>
        </tr>
        <tr>
          <th>Fecha de la deuda</th>
          <td>{{debt.date|abinDate}}</td>
        </tr>
        <tr>
          <th>Fecha Limite de Pago</th>
          <td>{{debt.debtPayLimit|abinDate}}</td>
        </tr>
        <tr>
          <th>Fecha de creaci&oacute;n</th>
          <td>{{debt.createdAt|dateTime}}</td>
        </tr>
        <tr>
          <th>Fecha de actualizaci&oacute;n</th>
          <td>{{debt.updatedAt|dateTime}}</td>
        </tr>
      </table>
    </div>
    <mat-divider></mat-divider>
    <div >
      <h3>Pagos</h3>
      <table *ngIf="debt.debtIncomes.length > 0 else noPay">
        <tr>
          <th>Fecha</th>
          <th>Monto</th>
          <th>C&oacute;digo de Transacci&oacute;n</th>
          <th>Banco</th>
        </tr>
        <tr *ngFor="let income of debt.debtIncomes">
          <td>{{income.transaction?.date}}</td>
          <td>{{income.amount|dataMoney}}</td>
          <td>{{income.transaction?.transactionCode}}</td>
          <td>{{income.transaction?.accountBank?.nameBank}}</td>
        </tr>
      </table>
      <ng-template #noPay>
        <div  class="text-center">
          A&uacute;n no tiene Pagos
        </div>
      </ng-template>

    </div>
</div>

<div mat-dialog-actions>
  <!-- <button mat-button color="accent" mat-dialog-close>Cancelar</button> -->
  <button mat-button color="primary" mat-dialog-close type="button">Cerrar</button>
</div>
