<mat-toolbar class="with-line">
  <span>Presupuestos</span>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" matTooltip="Nuevo" (click)="openDialog()" *ngIf="readNotOnly()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>

    <ng-container matColumnDef="yearIni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inicio</th>
      <td mat-cell *matCellDef="let row"><a [routerLink]="[row.id]">
        desde {{row.yearIni|abinDate}} / {{row.yearEnd|abinDate}}</a></td>
    </ng-container>
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef>Progreso</th>
      <td mat-cell *matCellDef="let row">
        <mat-spinner *ngIf="!row.isComplete && row.withError === null" color="primary" [diameter]="15">
        </mat-spinner>
        <span *ngIf="row.isComplete">Completado</span>
        <span *ngIf="row.withError == true">Error al Crear</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let row"> {{row.state == false ? 'Por Completar' : 'Completo'}} </td>
    </ng-container>

    <ng-container matColumnDef="option" *ngIf="readNotOnly()">
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" *ngIf="row.isComplete||(row.withError===true)" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{project: row}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-project="project">
    <button [disabled]="project.state == true" mat-menu-item (click)="delete(project)">
      <span>Eliminar</span>
    </button>
    <button [disabled]="project.state == true || project.isComplete == false" mat-menu-item (click)="complete(project)">
      <span>Marcar Como Completado</span>
    </button>
    <button [disabled]="project.withError||project.idComplete == false" mat-menu-item (click)="modification(project.id)">
      <span>Modificacion Presupuestaria</span>
    </button>
    <button [disabled]="project.withError||project.isComplete == false" mat-menu-item *ngIf="onlyRoot()" (click)="fixedDebt(project.id)">
      <span>Corregir Deudas Faltantes</span>
    </button>
  </ng-template>
</mat-menu>





