<h1 mat-dialog-title>Datos del Inquilino</h1>
<form [formGroup]="formTenant" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input type="text"
             matInput required
             placeholder="Ejemplo: Juan Perez"
             formControlName="nameTenant"
             [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of groupsTenant | async" [label]="group.letter">
          <mat-option *ngFor="let ownerC of group.tenants" [value]="ownerC.nameTenant"
                      (onSelectionChange)="setDataTenant(ownerC)">
            {{ownerC.nameTenant}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefono</mat-label>
      <input formControlName="telephoneTenant" name="phone" type="number" matInput required
             placeholder="Ejemplo: 4543210">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Celular</mat-label>
      <input formControlName="cellTenant" name="phone" type="number" matInput required
             placeholder="Ejemplo: 76543210">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Correo Electronico</mat-label>
      <input formControlName="emailTenant" name="email" matInput required placeholder="Ejemplo: juanperez@mail.com">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
