table {
  width: 100%;
}

table td {
  height: 25px;
}

.input-content {
  text-align: end;
  margin-right: 30px;
}

.input-content input {
  height: 20px;
  width: 60px;
  text-align: end;
}
mat-tab-group{
  position: relative !important;
}
