<div mat-dialog-title>Incrementar Valores</div>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab *ngFor="let p of propertiesList" [label]="p.type">
      <ng-template matTabContent>
        <table>
          <thead>
          <tr>
            <th>C&oacute;digo</th>
            <th>{{p.type}}</th>
            <ng-container *ngFor="let item of p.properties[0].typeIncomeProperty">
              <th>{{
                item.typeIncome.nameIncome
                }}
              </th>
            </ng-container>
          </tr>
          </thead>
          <ng-container *ngFor="let property of p.properties">
              <tr>
                <td>{{property.code}}</td>
                <td>{{property.name}}</td>
                <td class="input" *ngFor="let ty of property.typeIncomeProperty">
                  <div class="input-content">
                    <input type="number" #s (click)="s.select()" [name]="property.id + property.code"
                           [(ngModel)]="ty.amount">
                  </div>
                </td>
              </tr>
            </ng-container>

        </table>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button type="button" mat-button color="accent" mat-dialog-close>Cerrar</button>
  <button type="button" mat-button color="primary" (click)="save()">Guardar</button>
</div>
