<mat-toolbar class="with-line">
  <span>{{title}}</span>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" matTooltip="Crear" (click)="createRecreation()" *ngIf="readNotOnly()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Imprimir">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="loadData()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="pos">
      <!--      <input type="text" [(ngModel)]="" (ngModelChange)="">-->
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>&Aacute;rea de Recreacion</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>
<!--    <ng-container matColumnDef="owner">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Co-Propiedario</th>-->
<!--      <td mat-cell *matCellDef="let row"> {{row.owner.nameOwner}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="period">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gesti&oacute;n</th>-->
<!--      <td mat-cell *matCellDef="let row"> {{row.dateIni|abinDate}} al {{row.dateEnd|abinDate}}</td>-->
<!--    </ng-container>-->
    <ng-container matColumnDef="option" *ngIf="readNotOnly()">
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{reservation: row}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-reservation="reservation">
    <button mat-menu-item (click)="delete(reservation)">
      <span>Eliminar</span>
    </button>
    <button mat-menu-item (click)="edit(reservation)">
      <span>Editar</span>
    </button>
  </ng-template>
</mat-menu>





