.content-card {
  border: solid 1px #dddede;
  border-radius: 15px;
  background-color: white;
}

.container {
  margin: 25px auto;
  width: 700px;
}

.container .mat-title {
  font-size: 20px;
}

.container-title {
  margin: 25px;
}

.container-card {
  margin: 25px auto;
}
