<mat-toolbar class="white with-line">
  Tareas
  <span class="spacer-row"></span>
</mat-toolbar>
<div class="container">
  <div class="content-card">
    <mat-toolbar class="transparent">
      Tareas Pendietes
      <span class="spacer-row"></span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-list>
      <ng-container *ngIf="tasks && tasks.length > 0">
        <mat-list-item *ngFor="let task of tasks">
          <span mat-line>{{task.detail}}</span>
          <span mat-line>{{task.createdAt}}</span>
          <button matTooltip="Reanudar" matTooltipPosition="above" mat-icon-button color="primary"
                  (click)="process(task.id)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </mat-list-item>
      </ng-container>
      <ng-container *ngIf="!tasks||tasks.length == 0">
        <mat-list-item>No existen tareas Pendientes</mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</div>


