mat-card {
  width: 350px;
  margin: 0 calc(50% - (382px / 2));
  position: absolute;
  top: calc(50% - (489.02px / 2));
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
}

.content-link {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
}

.content-link a {
  width: 120px;
  background: #fbe89d;
  margin: 29px 6px;
}
.mat-card-image{
  text-align: center;
}
.mat-card-image img {
  width: 200px;
  margin: 15px auto;
}
