<mat-toolbar class="with-line">
    <span>Personal Asignado</span>
    <span class="spacer-row"></span>
     <button *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Administrador'" mat-icon-button color="primary" (click)="openDialog()">
       <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="ngOnInit()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content-admin">
    <!-- <div class="content-admin"> -->
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="pos">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index"> {{ i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Cargo</th>
          <td mat-cell *matCellDef="let row">{{row.position }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
          <td mat-cell *matCellDef="let row" >{{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let row" >{{row.email }}</td>
        </ng-container>
        <ng-container matColumnDef="cell">
          <th mat-header-cell *matHeaderCellDef>Celular</th>
          <td mat-cell *matCellDef="let row" >{{row.cell }}</td>
        </ng-container>
        <ng-container matColumnDef="ci">
          <th mat-header-cell *matHeaderCellDef>CI</th>
          <td mat-cell *matCellDef="let row" >{{row.ci }}</td>
        </ng-container>

        <ng-container matColumnDef="options" *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Administrador'">
          <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{personal: row }"
                    matTooltip="Opciones" matTooltipPosition="left">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <p *ngIf="dataSource && dataSource.data.length == 0" class="notify-empty">No Existe Personal Asignado</p>
    <!-- </div> -->
  </div>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-personal="personal">
      <button mat-menu-item (click)="update(personal)">
        <span>Actualizar</span>
      </button>
      <button mat-menu-item (click)="downPersonal(personal)">
        <span>Baja</span>
      </button>
      <button mat-menu-item (click)="deleted(personal)">
        <span>Eliminar</span>
      </button>
    </ng-template>
  </mat-menu>



