<h1 mat-dialog-title>Día Feriado</h1>
<form [formGroup]="formHoliday" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Descripci&oacute;n</mat-label>
      <input formControlName="detail" name="detail" required matInput placeholder="Ejemplo: Día de la patria">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>D&iacute;a Feriado</mat-label>
      <input formControlName="date" required placeholder="Día Feriado" matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
