<h1 mat-dialog-title>Datos de La Cuenta para el QR</h1>
<form [formGroup]="formBank" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Banco</mat-label>
      <input formControlName="bankName" name="bankName" matInput placeholder="Ejemplo: A. Banco Ejemplo">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input formControlName="qrUser" name="qrUser" required matInput placeholder="Ejemplo: Cuenta Corriente">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input formControlName="qrPassword" name="qrPassword" required matInput placeholder="Ejemplo: Cuenta Corriente">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>ApiKey del Usuario</mat-label>
      <input formControlName="qrUserApiKey" name="qrUserApiKey" required matInput placeholder="Ejemplo: Cuenta Corriente">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>ApiKey del Servicio</mat-label>
      <input formControlName="qrServiceKey" name="qrServiceKey" required matInput placeholder="Ejemplo: Cuenta Corriente">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
