<mat-toolbar class="with-line">
  <span>Estatutos, Regalmentos y Resoluciones</span>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" matTooltip="Nuevo" (click)="openDialog()" *ngIf="readNotOnly()">
    <mat-icon>cloud_upload</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Refrescar" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <abin-file-visor-admin *ngFor="let files of fileGroups" [title]="files.title" [files]="files.files"
                         (clickDelete)="delete($event)"
                         (clickFile)="showFile($event)" (publicChange)="updateFile($event)" (cancelDate)="cancelDate()">
  </abin-file-visor-admin>
</div>




