<h1 mat-dialog-title>Detalle</h1>
<div mat-dialog-content>
  <table id="voucher">
    <tbody>
      <tr *ngFor="let debtIncome of transaction.debtIncomes">
        <td>{{debtIncome.debt.date|abinPeriod}}</td>
        <td>{{debtIncome.debt.typeIncomeProperty.typeIncome.nameIncome}}</td>
        <td class="number">{{debtIncome.amount|dataMoneyEn:'es'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-dialog-close>Cerrar</button>
</div>
