.mat-toolbar {
  background: #fff !important;
}

table {
  width: 100%;
}

.card-form {
  width: 500px;
}

mat-form-field {
  width: 100%;
}

.mat-card {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mat-slide-toggle {
  width: 100%;
  height: 50px;
}

mat-card-actions {
  display: flex;
}

mat-checkbox {
  width: 513px;
  display: block;
  margin: 10px 25px;
}

section {
  margin-top: 25px;
}

mat-divider:last-child {
  border-top-color: transparent;
}
