<mat-toolbar class="with-line">
  <span>Partidas de Egreso</span>
  <span class="spacer-row"></span>
    <button mat-icon-button color="primary" (click)="newItem()"><mat-icon>add</mat-icon></button>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <!--  <button mat-icon-button color="primary"><mat-icon>more_vert</mat-icon></button>-->
</mat-toolbar>
<div class="content-admin">
  <mat-card class="card-form">
    <mat-card-content>
      <ng-container *ngFor="let item of items">
        <section class="example-section">
          <p>{{item.nameItem}}</p>
          <mat-checkbox *ngFor="let income of item.typesExpenses"
                        class="example-margin"
                        [(ngModel)]="income.activeExpense"
                        [name]="income.nameExpense"
                        color="primary"
                        labelPosition="after" [disabled]="rolService.getUserRol() === 'Directorio' || rolService.getUserRol() === 'Co-Propietario'">
            <b>{{income.code}}</b> {{income.nameExpense}}
          </mat-checkbox>
        </section>
        <mat-divider></mat-divider>
      </ng-container>

    </mat-card-content>
    <mat-card-actions *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador' || rolService.getUserRol() === 'Administrador del Sistema'">
      <span class="spacer-row"></span>
      <ng-content></ng-content>
      <button mat-flat-button (click)="saveItems()" color="primary">Guardar</button>
    </mat-card-actions>
  </mat-card>
</div>
