<mat-toolbar class="with-line">
  <span>Pagos a la Fecha</span>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button color="primary" [matMenuTriggerFor]="type_report">
    <mat-icon>file_download</mat-icon>
  </button>

</mat-toolbar>

<mat-drawer-container class="content-admin" autosize>
  <mat-drawer class="example-sidenav" [disableClose]="true" [opened]="true" mode="side">
    <mat-nav-list>
      <ng-container *ngFor="let project of projects">
        <button (click)="projectSelectA(project)" [ngClass]="project.isOpen ? 'is-open': ''" mat-subheader mat-ripple>{{project.yearIni|abinPeriod}} / {{project.yearEnd|abinPeriod}} <mat-icon *ngIf="project.isOpen">keyboard_arrow_up</mat-icon> <mat-icon *ngIf="!project.isOpen">keyboard_arrow_down</mat-icon></button>
        <mat-divider></mat-divider>
        <ng-container *ngIf="project.isOpen">
          <a mat-list-item *ngFor="let month of project.periods" [routerLink]="['../debts-report-advanced']" [queryParams]="getParams(month)"
             routerLinkActive="active">{{month.text}}</a>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>
  <div class="content-kardex-month">
    <div class="note-center" *ngIf="!monthYearExist()">
      <mat-icon>touch_app</mat-icon>
      Debe Selecionar un A&ntilde;o-Mes de la Barra de Navegacion Izquierda. <br>
      Por ejemplo <b>2019-ENERO</b>
    </div>
      <ng-container  *ngIf="monthYearExist()">
        <ng-container>
          <nav mat-tab-nav-bar >
            <a mat-tab-link *ngFor="let property of data" (click)="activeLink = property.property.name"
               [active]="activeLink == property.property.name"> {{property.property.name}} </a>
          </nav>
          <div *ngFor="let property of data">
            <abin-report-advanced-table *ngIf="activeLink == property.property.name"
                                        [properties]="property.properties"
                                        [title]="property.property.name"
            ></abin-report-advanced-table>
          </div>
        </ng-container>

      </ng-container>
  </div>
</mat-drawer-container>
<mat-menu #type_report="matMenu">
  <ng-template matMenuContent let-pos="pos">
    <button mat-menu-item (click)="reportFile('PDF')">Pdf</button>
    <button mat-menu-item (click)="reportFile('XLSX')">Excel</button>
  </ng-template>
</mat-menu>
