<h1 mat-dialog-title>&Aacute;rea Social</h1>
<form (ngSubmit)="save()">
  <div mat-dialog-content>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Monto</th>
        <th style="width: 40px"></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let income of intervals; let i = index">
        <tr>
          <td>{{i + 1}}</td>
          <td class="input">
            <div class="input-content">
              <input type="number" [(ngModel)]="income.peoplesIni" [ngModelOptions]="{standalone: true}"
                     [name]="income.peoplesIni + i">
            </div>
          </td>
          <td class="input">
            <div class="input-content">
              <input type="number" [(ngModel)]="income.peoplesEnd" [ngModelOptions]="{standalone: true}"
                     [name]="income.peoplesEnd + i">
            </div>
          </td>
          <td class="input">
            <div class="input-content">
              <input type="number" [(ngModel)]="income.amount" [ngModelOptions]="{standalone: true}"
                     [name]="income.amount + i">
            </div>
          </td>
          <td>
            <button mat-icon-button color="primary" (click)="deleteInterval(i)">
              <mat-icon>deleted</mat-icon>
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <button style="width: 100%; margin-top: 20px;" mat-stroked-button type="button" (click)="addInterval()">Agregar
      Intervalo
    </button>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
