table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: solid 1px #c9c9c9;
  padding: 0 10px;
}

td {
  height: min-content;
}

td.input {
  padding: 0 !important;
}

td._number {
  text-align: right !important;
}

.input-content {
  position: relative;
  top: 0;
  height: 40px;
}

.input-content input {
  border: none;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  text-align: right;
  padding: 5px 10px;
  border-radius: 0;
  /*background-color: #f0f5fe;*/
}

.input-content input[disabled] {
  background-color: transparent !important;
}

.input-content textarea[disabled] {
  background-color: transparent !important;
}
