mat-card {
  width: 350px;
  margin: 0 calc(50% - (382px / 2));
  top: calc(50% - (541.33px / 2));
  position: absolute;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
}
.mat-card-image{
  text-align: center;
}
.mat-card-image img {
  width: 200px;
  margin: 15px auto;
}
