<h1 mat-dialog-title>Actualizar Administrador</h1>
<form [formGroup]="adminForm" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input type="text" matInput formControlName="user" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.username}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
