<mat-toolbar class="with-line">
  <span>Mis Depósitos</span>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" (click)="print()">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<!--<div class="content-admin">-->
<cdk-virtual-scroll-viewport tvsItemSize="48" headerHeight="56" class="content-admin" (scrolledIndexChange)="getIndex($event)">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="pos" sticky>
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row"> {{dataSource.data.indexOf(row) + 1}} </td>
<!--      <td mat-cell  mat-footer-cell *matFooterCellDef></td>-->
    </ng-container>
    <ng-container matColumnDef="incomeExtract_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let row">
        {{row.date| abinDate }}
      </td>
<!--      <td mat-cell  mat-footer-cell *matFooterCellDef></td>-->
    </ng-container>
    <ng-container matColumnDef="incomeExtract_accountBank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta</th>
      <td mat-cell *matCellDef="let row"> {{row.accountBank.nameBank}} </td>
<!--      <td mat-cell  mat-footer-cell *matFooterCellDef></td>-->
    </ng-container>
    <ng-container matColumnDef="incomeExtract_accountBank_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N&deg; Cuenta</th>
      <td mat-cell *matCellDef="let row"> {{row.accountBank.numberAccount}} </td>
<!--      <td mat-cell  mat-footer-cell *matFooterCellDef></td>-->
    </ng-container>
    <ng-container matColumnDef="incomeExtract_reference">
      <th mat-header-cell  *matHeaderCellDef  mat-sort-header>Referencia</th>
      <td mat-cell *matCellDef="let row"> {{row.reference}} </td>
<!--      <td mat-cell  mat-footer-cell *matFooterCellDef></td>-->
    </ng-container>
    <ng-container matColumnDef="incomeExtract_transactionCode">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header>C&oacute;digo T.</th>
      <td mat-cell *matCellDef="let row"> {{row.transactionCode}} </td>
<!--      <td mat-cell  mat-footer-cell *matFooterCellDef><b></b></td>-->
    </ng-container>
    <ng-container matColumnDef="incomeExtract_amount">
      <th mat-header-cell class="number" *matHeaderCellDef  mat-sort-header>Monto</th>
      <td mat-cell class="number" *matCellDef="let row" >
        <ng-container *ngIf="row.amount > 0">
          {{row.amount|dataMoney}}
        </ng-container>
      </td>
<!--      <td mat-cell  mat-footer-cell class="number" *matFooterCellDef><b></b></td>-->
    </ng-container>
    <ng-container matColumnDef="options" >
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <!--        *ngIf="!(row.incomeExtract_state == 1 || row.incomeExtract_state == 0)"-->
        <button mat-icon-button matTooltip="Recibo"
                (click)="printVoucher(row)">
          <mat-icon>print</mat-icon>
        </button>
      </td>
<!--      <td mat-cell  mat-footer-cell *matFooterCellDef></td>-->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
<!--    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>-->

  </table>
</cdk-virtual-scroll-viewport>
<p *ngIf="dataSource.data.length == 0" class="notify-empty">No Existen Transacciones</p>
