.mat-toolbar {
  background: #fff !important;
}

.content-admin {
  /*text-align: center;*/
}

table {
  width: 100%;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 5px !important;
}

mat-card {
  text-align: left;
  width: 400px;
  display: inline-block;
  margin: 50px 20px 0px 20px;
}

.forVerify {
  /*background-color: #E53935 !important;*/
  background-color: #FFEBEE !important;
}

tr.forVerify td {
  /*color: white;*/
}
