.mat-card {
  width: 700px;
  margin: 10px auto 10px auto;
}

.mat-card-header {
  display: flex !important;
}

.mat-card-header .mat-card-title {
  margin: 8px 0 !important;
}
mat-form-field{
  width: calc(100% - 64px);
}

mat-list-item:hover{
  background: #eaeaeafc;
  border-radius: 11px;
}

/*mat-list-item:hover{*/
/*  background: #f1f1f1;*/
/*  border-radius: 15px;*/
/*  cursor: pointer;*/
/*}*/
/*mat-list-item:focus{*/
/*  outline: none;*/
/*  cursor: pointer;*/
/*}*/
/*mat-list-item{*/
/*  border-radius: 15px;*/
/*}*/
