<abin-admin-horizontal-property>

  <mat-tab-group mat-align-tabs="center" animationDuration="0">
    <mat-tab label="Propiedades Horizontales">
      <mat-card class="mat-elevation-z3">
        <mat-card-header>
          <ng-container *ngIf="searching">
            <mat-form-field>
              <mat-label>Buscar Propiedad</mat-label>
              <input matInput type="text" [formControl]="searchControl" appAutofocus>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchControl.reset();searching=false">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="!searching">
            <mat-card-title>Lista de Propiedades Horizontales</mat-card-title>
            <span class="spacer-row"></span>
            <button mat-icon-button color="primary" matTooltip="Buscar" matTooltipPosition="right" (click)="searching=true">
              <mat-icon>search</mat-icon>
            </button>
            <button *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Administrador'" mat-stroked-button color="primary" matTooltip="Crear Nuevo" matTooltipPosition="right"
                    (click)="create()">
              <mat-icon>add</mat-icon>
              Nuevo
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menuFilter" *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Administrador'" color="primary" matTooltip="Filtrar" matTooltipPosition="right">

              <mat-icon>more_vert</mat-icon>
            </button>
          </ng-container>

        </mat-card-header>
        <mat-card-content>
          <p *ngIf="!horizontalProperties || horizontalProperties.length === 0" class="notify-empty">No Existen
            Propiedades
            Horizontales Registradas</p>
          <mat-list *ngIf="horizontalProperties">
            <mat-list-item *ngFor="let hp of horizontalProperties">
              <mat-icon mat-list-icon>business</mat-icon>
              <div mat-line>{{hp.nameProperty}}</div>
              <div mat-line> {{!hp.disabled ? 'habilitado' : 'deshabilitado'}} </div>
              <button mat-icon-button color="primary" matTooltip="Ver Propiedad Horizontal"
                      [routerLink]="['/managerHorizontalProperty/' + hp.id + '/dashboard']" matTooltipPosition="left">
                <mat-icon>open_in_new</mat-icon>
              </button>
              <button *ngIf="rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Root'" mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{id: hp.id, state: hp.disabled}"
                      matTooltip="Opciones">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab *ngIf="rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Root'" label="Usuarios">
      <abin-admin-user></abin-admin-user>
    </mat-tab>
  </mat-tab-group>
</abin-admin-horizontal-property>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id" let-state="state">
    <button mat-menu-item (click)="showAdministrators(id)">
      <span>Ver Administrador(es)</span>
    </button>
    <button mat-menu-item (click)="updateAdministrator(id)">
      <span>Asignar Administrador</span>
    </button>
    <button mat-menu-item (click)="showAdministratorsHistory(id)">
      <span>Historial de Administradores</span>
    </button>
    <button mat-menu-item (click)="disabledProperty(id)">
      <span>{{state ? 'Habilitar':'Deshabilitar'}} Propiedad</span>
    </button>
  </ng-template>

</mat-menu>

<mat-menu #menuFilter="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="filterBy(false)">
      <span>Habilitados</span>
    </button>
    <button mat-menu-item (click)="filterBy(true)">
      <span>Dehabilitados</span>
    </button>
    <button mat-menu-item (click)="filterBy(null)">
      <span>Todos</span>
    </button>
  </ng-template>

</mat-menu>
