<h1 mat-dialog-title>Modificaci&oacute;n Transferencia</h1>
<form [formGroup]="formModification" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>De</mat-label>
      <mat-select formControlName="itemExpenseOrigin" required>
        <mat-option disabled>Ninguno</mat-option>
        <mat-optgroup *ngFor="let item of items" [label]="item.nameItem">
          <mat-option *ngFor="let typeExpense of item.typesExpenses" [value]="typeExpense.id">
            {{typeExpense.nameExpense}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>A</mat-label>
      <mat-select formControlName="itemExpenseDestine" required>
        <mat-option disabled>Ninguno</mat-option>
        <mat-optgroup *ngFor="let item of items" [label]="item.nameItem">
          <mat-option *ngFor="let typeExpense of item.typesExpenses" [value]="typeExpense.id">
            {{typeExpense.nameExpense}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input formControlName="amount" type="number" name="typeAccount" required matInput placeholder="Ejemplo: 999">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
