<h1 mat-dialog-title>Datos del Egreso</h1>
<form [formGroup]="formRender" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>tipo de Egreso</mat-label>
      <mat-select formControlName="typeExpense" required>
        <ng-container *ngIf="typeExpenses.length > 0">
          <mat-option>Seleccionar</mat-option>
          <mat-optgroup *ngFor="let group of typeExpenses" [label]="group.nameItem">
            <ng-container *ngFor="let expense of group.typesExpenses">
              <mat-option [value]="expense.id" *ngIf="expense.activeExpense">
                {{expense.nameExpense}}
              </mat-option>
            </ng-container>
          </mat-optgroup>
        </ng-container>
        <ng-container *ngIf="typeExpenses.length == 0">
          <mat-option>Sin Resultados</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha</mat-label>
      <input formControlName="date" name="date" placeholder="Ejemplo: YYYY-MM-DD"
             matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input formControlName="amount" type="number" name="amount" required matInput placeholder="Ejemplo: 1000">
      <!--      <mat-hint align="end">{{getMaxAmountHelp()}}</mat-hint>-->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Recibo</mat-label>
      <input formControlName="receiptCode" name="receiptCode" required matInput placeholder="Ejemplo: ASDASD">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>glosa</mat-label>
      <textarea formControlName="gloss" name="gloss" required matInput [matTextareaAutosize]="true"
                placeholder="glosa"></textarea>
    </mat-form-field>
    <div  *ngIf="renderSelect">
      <button mat-flat-button type="button" color="primary" (click)="setChangeFile()">{{changeFile ? 'Cancelar cambio': 'Cambiar Respaldo'}}</button>
    </div>
    <br>
    <mat-form-field appearance="outline" *ngIf="changeFile">
      <mat-label>Respaldo</mat-label>
      <ngx-mat-file-input #removableInput formControlName="file"  placeholder="Respaldo"></ngx-mat-file-input>
      <!--      <mat-icon matSuffix>folder</mat-icon>-->
      <button mat-icon-button color="primary" matSuffix *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="!changeFile">
      <mat-label>Respaldo</mat-label>
      <input formControlName="file" name="file_12" required matInput placeholder="Respaldo">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
