<mat-card>
  <img mat-card-image abinErrorImg [src]="user?.picture">
  <mat-card-content>
    <mat-card-title>{{user.name}}</mat-card-title>
    <mat-card-content>
      <p>{{user.position}}</p>
      <p><a [href]="'https://wa.me/'+user.cell" target="_blank">{{user.cell}}</a></p>
      <p><a [href]="'mailto:'+user.email">{{user.email}}</a></p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-flat-button *ngIf="user.cv" [href]="user.cv" target="_blank">
        <mat-icon>description</mat-icon>
        CV
      </a>
      <a mat-flat-button *ngIf="user?.fileBackground" [href]="user.fileBackground" target="_blank">
        <mat-icon>description</mat-icon>
        CV
      </a>
      <a mat-flat-button *ngIf="user?.pictureCI" [href]="user?.pictureCI" target="_blank">
        <mat-icon>person</mat-icon>CI</a>
    </mat-card-actions>

  </mat-card-content>
</mat-card>
