<mat-toolbar class="with-line">
  <span>Detalle de Egresos</span>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" matTooltip="Imprimir" (click)="printData()">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Cerrar"mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content id="pdfContent">
  <ng-container *ngFor="let transaction of transactions;let i = index">

    <div>
      <div>
        Transaccion Código: {{transaction.transaction_transactionCode}}<br>
        Fecha: {{transaction.transaction_date|abinDate}}<br>
        Monto: {{transaction.transaction_amount|dataMoney:'abs'}}
        <ng-container *ngIf="transaction.transaction_gloss">
          <br>Detalle: {{transaction.transaction_gloss}}
        </ng-container>

      </div>
    </div>

    <table [id]="'table' + i">
      <thead>
        <tr>
          <th style="width: 15%">Fecha</th>
          <th style="width: 15%">Código</th>
          <th style="width: 60%">Detalle</th>
          <th style="width: 10%">Monto</th>
        </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="transaction.render.length > 0">
        <tr *ngFor="let r of transaction.render; let j = index">
          <td>{{r.receiptCode}}</td>
          <td>{{r.date|abinDate}}</td>
          <td>{{r.gloss}}</td>
          <td class="number">{{r.amount|dataMoney}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="transaction.render.length === 0">
        <tr>
          <td colspan="4"> Aun no se a rendido</td>
        </tr>
      </ng-container>

      </tbody>
    </table>
  </ng-container>

</div>
<div mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Cerrar</button>
  <button mat-button color="primary" (click)="printData()">Imprimir</button>
</div>
