table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 48px;
}
.bold{
  font-weight: bold;
}
table td, th{
  border: solid  1px #c7c7c7;
  padding: 5px;
}
td.number, td.number{
  padding: 0 5px 0 0 !important;
  text-align: right;
}
.space{
  height: 20px;
  border: none !important;
}
mat-toolbar{
  background: white;
  margin: -24px;
  width: 700px;
  margin-bottom: 0px;
}
.mat-dialog-content{
  margin: 0;
  margin-left: -24px;
  margin-right: 9px;
  max-height: calc(100% - 114px) !important;
  padding: 14px 68px;
  width: calc(100% - 88px);
}
.mat-dialog-actions{
  border-top: solid 1px #c7c7c7;
}
