<mat-toolbar class="with-line">
  <button mat-icon-button color="primary" routerLink=".." [queryParams]="{projectId: this.params.projectId}">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Planillas</span>
  <ng-container *ngIf="form">
    <mat-icon>chevron_right</mat-icon>
    <span *ngIf="params.projectId">{{form.period|abinPeriod}}</span>
  </ng-container>
  <span class="spacer-row"></span>
  <button *ngIf="form.open === true || rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Root'" mat-icon-button color="primary" matTooltip="Guardar" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
  <button *ngIf="form.open === false" mat-icon-button color="primary" (click)="send()"  matTooltip="Enviar Boletas">
    <mat-icon>forward_to_inbox</mat-icon>
  </button>
  <button *ngIf="form.open === false" mat-icon-button color="primary" [matMenuTriggerFor]="menu"  matTooltip="Imprimir Recibos">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu>
  <button mat-menu-item [matMenuTriggerFor]="menuPDF">Imprimir Planilla</button>
  <button mat-menu-item (click)="selectProperties()">Imprimir boletas</button>
</mat-menu>
<mat-menu #menuPDF>
  <button mat-menu-item (click)="printForm()">PDF</button>
  <button mat-menu-item (click)="printFormXLXS()">XLXS</button>
</mat-menu>
<div class="content-admin" *ngIf="form">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of typeForms; let i = index" [active]="i === defaultPosition" (click)="setPosition(i)"> {{link.typeWatter}} </a>
  </nav>

  <mat-card class="card-form">
    <mat-card-title>Planilla</mat-card-title>
    <mat-card-content>
      <table *ngIf="properties && form" id="project">
        <thead>
          <tr>
            <td><b>#</b></td>
            <td><b>C&oacute;digo</b></td>
            <td><b>Tipo</b></td>
            <td><b>Propiedad</b></td>
            <td ><b>Letura Anterior <br> <ng-container *ngIf="dateLastReader">{{dateLastReader|abinDate}}</ng-container> </b></td>
            <td><b>Letura Actual <br> {{dateActualReader|abinDate}}</b></td>
            <td><b>Consumo m<sup>3</sup></b></td>
            <td><b>Monto a Pagar</b></td>
            <td *ngIf="form.open === false "><b>Opci&oacute;n</b></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of properties; let i = index">
            <td>{{i + 1}}</td>
            <td>{{property.property.code}}</td>
            <td>{{property.property.type}}</td>
            <td>{{property.property.name}}</td>
<!--            <td class="input" *ngIf="!lastReader&&form.open === true">-->
            <ng-container *ngIf="(form.open === false||form.open === true) && (rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema')">
              <td class="input">
                <div class="input-content">
                  <input class="number" type="number" [(ngModel)]="property.lastReader" [name]="property.id + 1" #s1 (click)="s1.select()" [tabIndex]="1000 + i" (keyup)="enterEvent($event, s1)">
                </div>
              </td>
              <!--            <td *ngIf="form.open === false||lastReader" class="number">{{property.lastReader|watter}}</td>-->
<!--              <td *ngIf="editableForm(property) === false" class="number">{{property.lastReader|watter}}</td>-->
              <td class="input">
                <div class="input-content">
                  <input class="number" type="number" step="0.001" [(ngModel)]="property.actualReader" (ngModelChange)="calcAmount(property)" [name]="property.id + 1" #s2 (click)="s2.select()" [tabIndex]="2000 + i">
                </div>
              </td>
<!--              <td *ngIf="form.open === false" class="number">{{property.actualReader|watter}}</td>-->

              <td class="number" [ngStyle]="{background: property.consumption < 0 ? '#ffd9d9': ''}">{{property.consumption|dataMoney}}</td>
              <td class="input">
                <div class="input-content">
                  <input class="number" type="number" step="0.1" [(ngModel)]="property.amountPay" [name]="property.id + 1" #s3 (click)="s3.select()" [tabIndex]="3000 + i">
                </div>
              </td>
<!--              <td  *ngIf="form.open === false" class="number">{{property.amountPay|dataMoney}}</td>-->
            </ng-container>


            <ng-container *ngIf="form.open === true && (rolService.getUserRol() !== 'Root' && rolService.getUserRol() !== 'Administrador del Sistema')">
              <td *ngIf="editableForm(property) === false" class="number">{{property.lastReader|watter}}</td>
              <td class="input" *ngIf="editableForm(property) === true">
                <div class="input-content">
                  <input class="number" type="number" [(ngModel)]="property.lastReader" [name]="property.id + 1" #s1 (click)="s1.select()" [tabIndex]="50" (keyup)="enterEvent($event, s1)">
                </div>
              </td>
              <!--            <td *ngIf="form.open === false||lastReader" class="number">{{property.lastReader|watter}}</td>-->
              <td *ngIf="form.open === true" class="input">
                <div class="input-content">
                  <input class="number" type="number" step="0.001" [(ngModel)]="property.actualReader" (ngModelChange)="calcAmount(property)" [name]="property.id + 1" #s2 (click)="s2.select()" [tabIndex]="51">
                </div>
              </td>

              <td class="number" [ngStyle]="{background: property.consumption < 0 ? '#ffd9d9': ''}">{{property.consumption|dataMoney}}</td>
              <td  *ngIf="form.open === true" class="input">
                <div class="input-content">
                  <input class="number" type="number" step="0.1" [(ngModel)]="property.amountPay" [name]="property.id + 1" #s3 (click)="s3.select()" [tabIndex]="52">
                </div>
              </td>
            </ng-container>

            <ng-container *ngIf="form.open === false && (rolService.getUserRol() !== 'Root' && rolService.getUserRol() !== 'Administrador del Sistema')">

              <!--            <td *ngIf="form.open === false||lastReader" class="number">{{property.lastReader|watter}}</td>-->
              <td *ngIf="editableForm(property) === false" class="number">{{property.lastReader|watter}}</td>

              <td *ngIf="form.open === false" class="number">{{property.actualReader|watter}}</td>

              <td class="number" [ngStyle]="{background: property.consumption < 0 ? '#ffd9d9': ''}">{{property.consumption|dataMoney}}</td>
              <td  *ngIf="form.open === false" class="number">{{property.amountPay|dataMoney}}</td>
            </ng-container>

            <ng-container  *ngIf="form.open === false">
              <td><a mat-flat-button class="button-link" color="primary" (click)="printVoucherPayment(property.property.id)">Boleta</a></td>
              <!-- <td><a mat-flat-button class="button-link" color="primary" (click)="printVoucherPayment(property.property.id)">Enviar Boleta</a></td> -->
            </ng-container>


          </tr>
          <tr>
            <td></td>
            <td><b>Total</b></td>
            <td colspan="4"></td>
            <td class="number">{{getTotalM3()|dataMoney}}</td>
            <td class="number">{{getTotal()|dataMoney}}</td>
            <td *ngIf="form.open === false"></td>
          </tr>
        </tbody>

      </table>
    </mat-card-content>
<!--    <mat-card-actions>-->
<!--      <span class="spacer-row"></span>-->
<!--      <button mat-stroked-button color="primary" (click)="save()">Guardar</button>-->
<!--    </mat-card-actions>-->
  </mat-card>

  <mat-card class="card-form">
    <mat-card-title>Factor de cobro</mat-card-title>
    <mat-card-content>
      <table>
        <thead>
          <tr>
            <td><b>C&oacute;digo</b></td>
            <td><b>Tipo</b></td>
            <td class="number"><b>Precio por m<sup>3</sup></b></td>
            <td class="number"><b>Incremento %</b></td>
            <td class="number"><b>Precio Total</b></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of increments">
            <td>{{a.propertyType.code}}</td>
            <td>{{a.propertyType.name}}</td>
            <td class="number">{{this.form.amountM3}}</td>
            <td *ngIf="form.open === true" class="input">
              <div class="input-content">
                <input type="number" [(ngModel)]="a.increment" [name]="a.id" (ngModelChange)="reCalcAmounts()">
              </div>
            </td>
            <td class="number" *ngIf="form.open === false">{{a.increment|dataMoney}}</td>
            <td class="number">{{this.form.amountM3 * (a.increment / 100)}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-form" *ngIf="formIncomeReceipts.length > 0">
    <mat-card-title>Recibos</mat-card-title>
    <mat-card-content>
      <table>
        <thead>
        <tr>
          <td><b>#</b></td>
          <td><b>Detalle</b></td>
          <td class="number"><b>Monto</b></td>
          <td ><b>Archivo</b></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of formIncomeReceipts; let i = index">
          <td>{{i + 1}}</td>
          <td>{{a.receiptOther}}</td>
          <td class="number">{{a.receiptAmount}}</td>
          <td><a (click)="showFile(a.receiptFile)" class="link">{{a.receiptFile}}</a></td>
        </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>




