<form (ngSubmit)="accept()">
  <mat-card class="card-form">
    <mat-card-content>
      <ng-container *ngFor="let item of items">
        <section class="example-section">
          <p>{{item.nameItem}}</p>
          <mat-checkbox *ngFor="let income of item.typesExpenses"
                        class="example-margin"
                        [(ngModel)]="income.activeExpense"
                        [name]="income.nameExpense"
                        color="primary"
                        labelPosition="after">
            <b>{{income.code}}</b> {{income.nameExpense}}
          </mat-checkbox>
        </section>
        <mat-divider></mat-divider>
      </ng-container>

    </mat-card-content>
    <mat-card-actions>
      <span class="spacer-row"></span>
      <ng-content></ng-content>
      <button mat-flat-button type="submit" color="primary">Siguiente</button>
    </mat-card-actions>
  </mat-card>
</form>
