<mat-toolbar class="with-line">
  <span>Cuentas Bancarias</span>
  <span class="spacer-row"></span>

  <a mat-button color="primary" href="/assets/file/plantilla_CB.xlsx"
     target="_blank" download="plantilla_CB.xlsx">
    Descargar plantilla
  </a>
  <button mat-icon-button color="primary" (click)="openDialog()" matTooltip="Nuevo" *ngIf="readNotOnly()">
    <mat-icon>add</mat-icon>
  </button>
<!--  <button  mat-icon-button color="primary" matTooltip="Subir archivo" >-->
<!--    <mat-icon>cloud_upload</mat-icon>-->
<!--  </button>-->

  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="content-admin">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let i = index"> {{indexPosData(i)}} </td>
    </ng-container>

    <ng-container matColumnDef="nameBank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
      <td mat-cell *matCellDef="let row"><a [routerLink]="[row.id]" [queryParams]="getParams()">
        {{row.nameBank}}</a></td>
    </ng-container>
    <ng-container matColumnDef="numberAccount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero de Cuenta</th>
      <td mat-cell *matCellDef="let row"> {{row.numberAccount}} </td>
    </ng-container>
    <ng-container matColumnDef="typeAccount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Cuenta</th>
      <td mat-cell *matCellDef="let row"> {{row.typeAccount}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total en Cuenta</th>
      <td mat-cell class="number" *matCellDef="let row"> {{row.amount| dataMoney}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>&Uacute;ltima Actualizacion</th>
      <td mat-cell *matCellDef="let row"> {{row.updatedAt |dateTime}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td mat-cell *matCellDef="let row"> {{row.state }} </td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{bank: row}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-bank="bank">
    <button [routerLink]="[bank.id]" mat-menu-item >
      <span>Transacciones</span>
    </button>
    <button [routerLink]="[bank.id + '/files']" mat-menu-item>
      <span>Ver Archivos</span>
    </button>
    <button *ngIf="!bank.nameOn && readNotOnly()" mat-menu-item (click)="showHolder(bank)">
      <span>Ver Titulares</span>
    </button>
    <button mat-menu-item (click)="edit(bank)" *ngIf="readNotOnly()">
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="updateDataQr(bank)" *ngIf="readNotOnly()">
      <span>Datos del Servicio de QR</span>
    </button>
    <button mat-menu-item (click)="updateState(bank)" *ngIf="readNotOnly()">
      <span>Cambiar Estado</span>
    </button>
    <button mat-menu-item (click)="delete(bank)" *ngIf="readNotOnly()">
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>





