<mat-toolbar class="mat-elevation-z3">
  <mat-toolbar-row>
    <button mat-icon-button color="primary" [routerLink]="['/horizontalProperty']">
      <mat-icon>home</mat-icon>
    </button>
    <h1 *ngIf="horizontalProperty" class="example-app-name">{{horizontalProperty.nameProperty}}</h1>
    <span class="spacer-row"></span>
    <div class="search-text">
      <form (ngSubmit)="search()">
        <input [(ngModel)]="textSearch" (keyup)="reviewText()" name="textSearch" placeholder="Buscar" type="text">
        <button type="submit" mat-ripple>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
    <div class="spacer"></div>
    <button mat-flat-button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle</mat-icon>
      {{user.email}}
    </button>
    <button mat-icon-button color="primary" (click)="logout()" matTooltip="Salir">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <ng-content></ng-content>
  </mat-toolbar-row>
</mat-toolbar>
