<mat-toolbar class="with-line">
  <button class="back-btn" matTooltip="Atr&aacute;s" mat-icon-button color="primary" routerLink="../../">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container *ngIf="account">
    <span>{{account.numberAccount}}</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span>Archivos</span>
    <span class="spacer-row"></span>
    <button mat-icon-button color="primary" (click)="fromFile()" matTooltip="Nuevo">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="loadFiles()">
      <mat-icon>refresh</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<div class="content-admin">
  <mat-drawer-container class="content-kardex" autosize>
    <mat-drawer class="example-sidenav" [disableClose]="true" [opened]="true" mode="side">
      <mat-nav-list style="width: 100%">
        <a mat-list-item *ngFor="let file of files" [routerLink]="'.'" [queryParams]="{year: file.year}"
           routerLinkActive="active">{{file.year}}</a>
      </mat-nav-list>
    </mat-drawer>
    <div class="content-kardex-month">
      <div class="note-center" *ngIf="!yearExist()">
        <mat-icon>touch_app</mat-icon>
        Debe Selecionar un A&ntilde;o de la Barra de Navegacion Izquierda. <br>
        Por ejemplo <b>2019</b>
      </div>
      <abin-bank-files-year *ngIf="yearExist()" [title]="params.year" [files]="filesSelect"
                            (clickDelete)="delete($event)" (clickFile)="showFile($event)"></abin-bank-files-year>
    </div>
  </mat-drawer-container>

</div>




