.mat-toolbar {
  background: #fff !important;
}

.content-admin {
  /*text-align: center;*/
}

.content-kardex {
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
}

mat-card {
  text-align: left;
  width: 400px;
  display: inline-block;
  margin: 50px 20px 0px 20px;
}

mat-icon.folder {
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background: rgba(246, 246, 246, 0.57);
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.pointer:hover {
  text-decoration: underline;
  color: #4d4dff;
  cursor: pointer;
  /*text-overflow: ellipsis;*/
  /*white-space: initial;*/
}

.container .file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .icon {
  width: 100%;
  height: 80px;
  text-align: center;
}

.container .icon img {
  height: 75px;
}

/*button {*/
/*  position: absolute;*/
/*}*/

@media screen and (min-width: 400px) {
  .item {
    width: 50px;
    height: 50px;
    text-align: center;
  }

  mat-card {
    width: 100%;
    /* background: white; */
    margin: 15px auto;
  }

}

@media screen and (min-width: 720px) {
  .item {
    width: 50px;
    height: 50px;
    text-align: center;
  }

  mat-card {
    width: 500px;
    /* background: white; */
    margin: 15px auto;
  }
}
