<mat-toolbar class="with-line">
  <span>Deudas Anteriores</span>
  <span class="spacer-row"></span>
  <button mat-icon-button color="primary" (click)="openDialog()" *ngIf="readNotOnly()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="ngOnInit()">
    <mat-icon>refresh</mat-icon>
  </button>
<!--  <button mat-icon-button color="primary">-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--  </button>-->
</mat-toolbar>

<div class="content-admin" *ngIf="filtered()">
  <!--  <div *ngIf="loader" class="content-loader">-->
  <!--    <mat-spinner [diameter]="40"></mat-spinner>-->
  <!--  </div>-->
  <div style="height: 100% !important;" class="content-admin">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="pos">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index"> {{ i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Propiedad</th>
        <td mat-cell *matCellDef="let row">{{row.code }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let row">{{row.type }}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell class="number" *matHeaderCellDef>Monto Deuda</th>
        <td mat-cell class="number" *matCellDef="let row">{{row.amount|dataMoney }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell class="number" *matHeaderCellDef>Total Pagado</th>
        <td mat-cell class="number" *matCellDef="let row">{{row.total|dataMoney }}</td>
      </ng-container>
      <ng-container matColumnDef="totalDebt">
        <th mat-header-cell class="number" *matHeaderCellDef>Total Saldo</th>
        <td mat-cell class="number" *matCellDef="let row">{{row.totalDebt|dataMoney }}</td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Operaci&oacute;n</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" matTooltip="Ver Deudas"
                  [routerLink]="[row.propertyId]" matTooltipPosition="left">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>


    </table>
    <p *ngIf="dataSource.data.length == 0" class="notify-empty">No Existen Deudas Anteriores</p>
  </div>
</div>


