<div class="example-container" [class.example-is-mobile]="mobileQuery.matches"
     [ngStyle]="!horizontalProperty ? {filter: 'blur(32px)'}: {}">
  <mat-toolbar>
    <mat-toolbar-row class="mat-elevation-z3">
      <button mat-icon-button color="primary" (click)="setOpen()"
              matTooltip="Abrir Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <img *ngIf="!mobileQuery.matches" src="/assets/ABIN-LOGO.svg" alt="Imagen logo">

<!--      <button mat-icon-button color="primary" [routerLink]="['/horizontalProperty']">-->
<!--        <mat-icon>home</mat-icon>-->
<!--      </button>-->
      <h1 *ngIf="horizontalProperty" class="example-app-name">{{horizontalProperty.nameProperty}}</h1>
      <span class="spacer-row"></span>
      <!--          search input-->
      <!--          <div *ngIf="!mobileQuery.matches" class="search-text">-->
      <!--            <form (ngSubmit)="search()">-->
      <!--              <input [(ngModel)]="textSearch" (keyup)="reviewText()" name="textSearch" placeholder="Buscar" type="text">-->
      <!--              <button type="submit" mat-ripple>-->
      <!--                <mat-icon>search</mat-icon>-->
      <!--              </button>-->
      <!--            </form>-->
      <!--          </div>-->
      <div class="spacer"></div>
      <!--          <button *ngIf="mobileQuery.matches" mat-icon-button color="primary">-->
      <!--            <mat-icon>search</mat-icon>-->
      <!--          </button>-->

<!--      <button *ngIf="!mobileQuery.matches" mat-flat-button (click)="openProfile()">-->
<!--        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle</mat-icon>-->
<!--        {{rolService.getEmail()}}-->
<!--      </button>-->
      <button mat-icon-button color="primary" class="user" [matTooltip]="rolService.getUserRol()+', '+rolService.getEmail()" [matMenuTriggerFor]="menu">
<!--        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle-->
<!--        </mat-icon>-->
<!--        <span>-->
          {{getLetterUser()}}
<!--        </span>-->
      </button>

<!--      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" matTooltip="Opciones">-->
<!--        <mat-icon>apps</mat-icon>-->
<!--      </button>-->
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [opened]="isOpen" [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" style="width: 265px">

      <div [ngClass]="mobileQuery.matches ? 'nav-content-mobile' : 'nav-content-web'">
        <img *ngIf="mobileQuery.matches" src="/assets/ABIN-LOGO.svg" alt="Imagen logo">

        <mat-nav-list *ngIf="horizontalProperty">
          <a mat-list-item routerLinkActive="active" (click)="eventCloseAll()"
             [routerLink]="['/managerHorizontalProperty/' + horizontalProperty.id + '/dashboard']">
            <mat-icon mat-list-icon>home</mat-icon>
            Inicio</a>
          <ng-container *ngIf="rolService.getUserRol() === 'Co-Propietario'">
            <a mat-list-item routerLinkActive="active" (click)="eventCloseAll()"
               [routerLink]="['directory']" [queryParams]="{year: year}">
              <mat-icon mat-list-icon>local_library</mat-icon>
              Directorio</a>
            <a mat-list-item routerLinkActive="active" (click)="eventCloseAll()"
               [routerLink]="['files']">
              <mat-icon mat-list-icon>folder</mat-icon>
              Estatutos, Reglamentos y Resoluciones</a>
            <a mat-list-item routerLinkActive="active" (click)="eventCloseAll()"
               [routerLink]="['otherFiles']">
              <mat-icon mat-list-icon>folder</mat-icon>
              Comunicados, Circulares y Convocatorias</a>

          </ng-container>
          <a mat-list-item (click)="eventCloseAll()" *ngIf="rolService.getUserRol() === 'Co-Propietario' || rolService.getUserRol() === 'Directorio'"
             [routerLink]="['myProperty']" routerLinkActive="active">
            <mat-icon mat-list-icon>business</mat-icon>
            Mis Propiedades</a>
          <a mat-list-item (click)="eventCloseAll()" *ngIf="rolService.getUserRol() === 'Co-Propietario' || rolService.getUserRol() === 'Directorio'"
             [routerLink]="['myTransactions']" routerLinkActive="active">
            <mat-icon mat-list-icon>account_balance</mat-icon>
            Mis Depositos</a>



          <a mat-list-item routerLinkActive="active" (click)="eventCloseAll()"
             [routerLink]="['personal']" *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Administrador'">
            <mat-icon mat-list-icon>group</mat-icon>
            Personal Asignado</a>
          <mat-expansion-panel [expanded]="getStateMenu('manager')"
                               *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Administrador' || rolService.getUserRol() === 'Directorio'">
            <mat-expansion-panel-header (click)="managerEvent()">
              <div class="mat-list-item-content">
                <mat-icon mat-list-icon>business</mat-icon>
                <span class="text-mat-expansion">Gesti&oacute;n de la Propiedad</span>
              </div>
            </mat-expansion-panel-header>
            <div>
              <mat-nav-list>

                <mat-expansion-panel [expanded]="getStateMenu('item')">
                  <mat-expansion-panel-header style="padding-left: 32px !important;" (click)="setStateMenu('item')">
                    <div class="mat-list-item-content">
                      <mat-icon mat-list-icon>settings_applications</mat-icon>
                      <span class="text-mat-expansion">Partidas</span>
                    </div>
                  </mat-expansion-panel-header>
                  <div>
                    <mat-nav-list>
                      <a mat-list-item routerLinkActive="active"
                         [routerLink]="['items/income']">
                        <mat-icon mat-list-icon>trending_up</mat-icon>
                        Partidas de Ingresos</a>
                      <a mat-list-item routerLinkActive="active"
                         [routerLink]="['items/expense']">
                        <mat-icon mat-list-icon>trending_down</mat-icon>
                        Partidas de Egresos</a>
                    </mat-nav-list>
                  </div>
                </mat-expansion-panel>

                <a mat-list-item routerLinkActive="active" (click)="closedState('item')"
                   [routerLink]="['property']">
                  <mat-icon mat-list-icon>house</mat-icon>
                  Propiedades</a>
                <a mat-list-item routerLinkActive="active" (click)="closedState('item')"
                   [routerLink]="['complement']">
                  <mat-icon mat-list-icon>house</mat-icon>
                  Propiedades Complementarias</a>
                <a mat-list-item routerLinkActive="active" (click)="closedState('item')"
                   [routerLink]="['directory']" [queryParams]="{year: year}">
                  <mat-icon mat-list-icon>local_library</mat-icon>
                  Directorio</a>
                <a mat-list-item routerLinkActive="active" (click)="closedState('item')"
                   routerLink="recreationArea">
                  <mat-icon mat-list-icon>nature_people</mat-icon>
                  Areas de Recreacion</a>
                <a mat-list-item routerLinkActive="active" (click)="closedState('item')"
                   [routerLink]="['files']">
                  <mat-icon mat-list-icon>folder</mat-icon>
                  Estatutos, Reglamentos y Resoluciones</a>
                <a mat-list-item routerLinkActive="active" (click)="closedState('item')"
                   [routerLink]="['otherFiles']">
                  <mat-icon mat-list-icon>folder</mat-icon>
                  Comunicados, Circulares y Convocatorias</a>
              </mat-nav-list>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="getStateMenu('last')"  *ngIf="rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Administrador' || rolService.getUserRol() === 'Directorio'">
            <mat-expansion-panel-header (click)="lastEvents()">
              <div class="mat-list-item-content">
                <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
                <span class="text-mat-expansion">Cuentas Anteriores</span>
              </div>
            </mat-expansion-panel-header>
            <div>
              <mat-nav-list>
                <a mat-list-item routerLink="debts" routerLinkActive="active">
                  <mat-icon mat-list-icon>monetization_on</mat-icon>
                  Deudas Anteriores</a>
                <a mat-list-item routerLink="advanced" routerLinkActive="active">
                  <mat-icon mat-list-icon>monetization_on</mat-icon>
                  Pagos por Adelantado</a>
              </mat-nav-list>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="getStateMenu('report')">
            <mat-expansion-panel-header (click)="eventReport()">
              <div class="mat-list-item-content">
                <mat-icon mat-list-icon>insert_chart</mat-icon>
                <span class="text-mat-expansion">Reportes</span>
              </div>
            </mat-expansion-panel-header>
            <div>
              <mat-nav-list>
                <a mat-list-item routerLink="debts-report" routerLinkActive="active">
                  <mat-icon mat-list-icon>monetization_on</mat-icon>
                  Lista de Deudores</a>
                <a mat-list-item routerLink="debts-report-advanced" routerLinkActive="active">
                  <mat-icon mat-list-icon>monetization_on</mat-icon>
                  Pagos a la Fecha</a>
              </mat-nav-list>
            </div>
          </mat-expansion-panel>
          <a mat-list-item routerLink="forms" (click)="eventCloseAll()" routerLinkActive="active" *ngIf="(watter && watter.activeIncome == true) && (rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador')">
            <mat-icon mat-list-icon>description</mat-icon>
            Control Agua</a>
          <a mat-list-item routerLinkActive="active" (click)="eventCloseAll()" *ngIf="rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador' || rolService.getUserRol() === 'Directorio'"
             [routerLink]="['accounts']">
            <mat-icon mat-list-icon>account_balance</mat-icon>
            Gesti&oacute;n de Cuentas Bancarias</a>


          <mat-expansion-panel [expanded]="getStateMenu('income')" *ngIf="rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador' || rolService.getUserRol() === 'Directorio'">
            <mat-expansion-panel-header (click)="eventIncome()">
              <div class="mat-list-item-content">
                <mat-icon mat-list-icon>trending_up</mat-icon>
                <span class="text-mat-expansion">M&oacute;dulo de Ingresos</span>
              </div>
            </mat-expansion-panel-header>
            <div>
              <mat-nav-list>
                <a mat-list-item
                   [routerLink]="['kardex']" routerLinkActive="active">
                  <mat-icon mat-list-icon>person</mat-icon>
                  Kardex Individual</a>
                <a mat-list-item
                   [routerLink]="['kardexGeneral']" routerLinkActive="active">
                  <mat-icon mat-list-icon>people</mat-icon>
                  Kardex General</a>

                <a mat-list-item
                   [routerLink]="['debtManual']" routerLinkActive="active">
                  <mat-icon mat-list-icon>people</mat-icon>
                  Deudas Manuales</a>
              </mat-nav-list>
            </div>
          </mat-expansion-panel>



          <a mat-list-item routerLinkActive="active" (click)="eventCloseAll()" [routerLink]="['transaction']" *ngIf="rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador' || rolService.getUserRol() === 'Directorio'">
            <mat-icon mat-list-icon>trending_down</mat-icon>
            M&oacute;dulo de Egresos</a>
          <a mat-list-item routerLinkActive="active" (click)="eventCloseAll()"  routerLink="ledger">
            <mat-icon mat-list-icon>menu_book</mat-icon>
            Libro Mayor</a>
          <a mat-list-item routerLinkActive="active" (click)="eventCloseAll()"  routerLink="projects">
            <mat-icon mat-list-icon>featured_play_list</mat-icon>
            Presupuestos</a>

          <a mat-list-item routerLink="incomeExpenseState" (click)="eventCloseAll()"  routerLinkActive="active">
            <mat-icon mat-list-icon>pie_chart</mat-icon>
            Estado de Ingresos y Egresos</a>

          <a mat-list-item routerLink="calendar" (click)="eventCloseAll()"  routerLinkActive="active">
            <mat-icon mat-list-icon>insert_invitation</mat-icon>
            Calendario de Reservas</a>
          <a mat-list-item routerLink="calendar-activity" (click)="eventCloseAll()"  routerLinkActive="active">
            <mat-icon mat-list-icon>insert_invitation</mat-icon>
            Calendario de Actividades</a>

          <a mat-list-item (click)="suggestion()"  *ngIf="rolService.getUserRol() === 'Co-Propietario'">
            <mat-icon mat-list-icon>email</mat-icon>
            Sugerencias, Observaciones Y Reclamos</a>

          <a mat-list-item routerLink="settings" (click)="eventCloseAll()" routerLinkActive="active" *ngIf="rolService.getUserRol() === 'Administrador del Sistema' || rolService.getUserRol() === 'Root' || rolService.getUserRol() === 'Administrador'">
            <mat-icon mat-list-icon>settings</mat-icon>
            Ajustes</a>
          <span class="spacer-row"></span>
        </mat-nav-list>
      </div>
      <div style="
    position: absolute;
    height: 20px;
    bottom: 0;
    padding: 0 20px;
    color: #878787;
    width: calc(100% - 40px);
    border-top: solid 1px #e4e4e4;
">
        v. {{version}}
      </div>

    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- Menu de Propiedades-->

<mat-menu #menu="matMenu">
  <button mat-menu-item  disabled>
    <span>Propiedades Horizontales</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item *ngFor="let h of horizontalProperties" [routerLink]="['/managerHorizontalProperty/' + h.id + '/dashboard']">
    <mat-icon>business</mat-icon>
    <span>{{h.nameProperty}}</span>
  </button>
  <ng-container *ngIf="visible">
<!--    <mat-divider></mat-divider>-->
    <button mat-menu-item [routerLink]="['/']">
      <mat-icon></mat-icon>
      <span>... todas las Propedades</span>
    </button>
  </ng-container>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="openProfile()" matTooltip="Mi Perfil">
    <mat-icon>account_circle</mat-icon>
    <span>Mi Perfil</span>
  </button>
  <button mat-menu-item  (click)="logout()" matTooltip="Salir">
    <mat-icon>exit_to_app</mat-icon>
    <span>Salir</span>
  </button>
</mat-menu>
