.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar{
  z-index: 2;
}

mat-toolbar img {
  height: 44px;
  width: auto;
}

mat-toolbar h1 {
  width: 100%;
  display: block;
  text-align: center;
  left: 0;
  position: fixed;
}
mat-toolbar button{
  z-index: 9;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

/*h1.example-app-name {*/
/*  margin-left: 8px;*/
/*}*/

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.search-text {
  font-size: 14px !important;
  width: 242px;
}

form {
  min-width: 212px;
}

form input {
  border-style: groove;
  border-radius: 5px 0 0 5px;
  height: 30px;
  -webkit-appearance: none;
  padding: 1px 10px;
  font-size: 14px;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

form button {
  border-style: groove;
  border-radius: 0 5px 5px 0;
  height: 36px;
  position: absolute;
  margin-left: -2px;
  cursor: pointer;
  width: 50px;
}

form button:focus {
  outline: none;
}

form input:focus {
  outline: none;
}

.spacer {
  width: 20px;
}

.mat-toolbar {
  background: #fff !important;
}

.mat-toolbar-row {
  background: #fff !important;
}

.mat-list-item {
  height: 40px !important;
}

.mat-list-icon {
  padding: 4px !important;
}

mat-expansion-panel {
  box-shadow: none !important;
  border-radius: 0 !important; ;
  /*height: 36px !important;*/
}

mat-expansion-panel-header {
  padding: 0 16px !important;
  height: 40px !important;
}

.text-mat-expansion {
  position: absolute;
  margin: 6px 0px;
  font-size: initial;
}
.nav-content-web{
  position: absolute;
  height: calc(100% - 20px);
  overflow: hidden auto;
  /*position: absolute;*/
  /*height: calc(100% - 78px);*/
  /*overflow: hidden auto;*/
  /*top: 64px;*/
}

.nav-content-mobile{
  /*position: absolute;*/
  /*height: calc(100% - 64px);*/
  /*overflow: hidden auto;*/
  position: absolute;
  height: calc(100% - 78px);
  overflow: hidden auto;
  top: 57px;
}

.nav-content-mobile img{
  margin: 15px;
}
@media screen and (max-width: 600px) {
  mat-toolbar h1{
    width: 100%;
    display: block;
    /* left: 20px; */
    position: fixed;
    text-align: left;
    font-size: 15px !important;
    padding-left: 70px;
  }
}
