<h1 mat-dialog-title>Datos de La Cuenta</h1>
<form [formGroup]="formBank" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Banco</mat-label>
      <input formControlName="nameBank" name="nameBank" required matInput placeholder="Ejemplo: A. Banco Ejemplo">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tipo de Cuenta</mat-label>
      <input formControlName="typeAccount" name="typeAccount" required matInput placeholder="Ejemplo: Cuenta Corriente">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Numero de Cuenta</mat-label>
      <input formControlName="numberAccount" name="numberAccount" required matInput placeholder="Ejemplo: 123-456789">
    </mat-form-field>
    <br>
    <mat-slide-toggle formControlName="isTypeAccount" color="primary">{{'Cuenta Mancomunada'}}</mat-slide-toggle>
    <br>
    <mat-form-field *ngIf="formBank.get('isTypeAccount').value === true" appearance="outline">
      <mat-label>Titulares</mat-label>
      <mat-select *ngIf="owners.length > 0" formControlName="ownerCtrl" multiple>
        <mat-option *ngFor="let owner of owners" [value]="owner">{{owner.nameOwner}}</mat-option>
      </mat-select>
      <mat-select *ngIf="owners.length == 0" formControlName="ownerCtrl" required>
        <mat-option [disabled]="true">Sin Resultados</mat-option>
      </mat-select>
      <mat-error *ngIf="formBank.get('ownerCtrl').hasError('maxlength')">
        Debe Selecionar m&aacute;ximo 3
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="formBank.get('isTypeAccount').value === false" appearance="outline">
      <mat-label>A Nombre de</mat-label>
      <input formControlName="nameOn" name="nameOn" autocomplete="off" required matInput
             placeholder="Ejemplo: Propiedad horizontal">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
