
.mat-toolbar-single-row {
  display: flex;
  /* box-sizing: border-box; */
  /* padding: 0 16px; */
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: auto !important;
  background: white;
  padding: 0 !important;
}

mat-form-field {
  width: 100%;
}
