<!--<div mat-dialog-title>-->
  <mat-toolbar mat-dialog-title>
    <h1>Habitantes</h1>
    <span></span>
    <span class="spacer-row"></span>
    <button *ngIf="readNotOnly()"  mat-icon-button color="primary" matTooltip="Agregar" (click)="inCreated = true">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
<!--</div>-->

<div mat-dialog-content>
  <div *ngIf="inCreated && readNotOnly()">
    <form style="margin-bottom: 10px;" [formGroup]="formPeople" (ngSubmit)="addPeoples()">
      <mat-form-field appearance="outline">
        <mat-label>Nombre Completo</mat-label>
        <input formControlName="name" name="name" autocomplete="off" type="text" matInput required
               placeholder="Ejemplo: Juan Perez">
      </mat-form-field>
    </form>
    <mat-divider></mat-divider>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let people of peoples; let i = index">
      <div mat-line>{{people.name}}</div>
      <button *ngIf="readNotOnly()" matTooltip="Eliminar" mat-icon-button color="primary" (click)="deletePeople(people.id, i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item *ngIf="!peoples || peoples.length == 0">
      No Existen Habitantes
    </mat-list-item>
  </mat-list>


</div>
<div mat-dialog-actions>
  <button type="button" mat-button matDialogClose color="primary">Cerrar</button>
</div>
