<h1 mat-dialog-title>Sugerencia, Observaci&oacute;n o Reclamo</h1>
<form [formGroup]="formSuggestion" (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Asunto</mat-label>
      <mat-select formControlName="subject" required>
        <mat-option disabled>Seleccionar</mat-option>
        <mat-option value="Sugerencia">Sugerencia</mat-option>
        <mat-option value="Observación">Observación</mat-option>
        <mat-option value="Reclamo">Reclamo</mat-option>
        <mat-option value="Otro">Otro</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Escribe tu mensaje aqui</mat-label>
      <textarea [(ngModel)]="text" [ngModelOptions]="{standalone: true}" required matInput></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit">Aceptar</button>
  </div>
</form>
